<h1 mat-dialog-title>{{recoverInf.title}}</h1>
<div mat-dialog-content>
  <ag-grid-angular 
    style="width: 100%; height: 550px;" 
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    [floatingFilter]="true"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button (click)="recoverData()">Recuperar</button>
</div>