:host {

    .content {
  
        form {
            width: 100%;
        }
  
        .form-errors-model {
            flex: 1;
  
            code {
                background: none !important;
            }
        }
    }
}

table {
    width: 100%;
}
  
tr.detail-row {
    height: 0;
}
  
.element-row td {
    cursor: pointer;
    border-bottom-width: 0;
}
  
.element-detail {
    overflow: hidden;
    display: flex;
}

tr.mat-footer-row {
    font-weight: bold;
}