:host {

    .content {
  
        form {
            width: 100%;
        }
  
        .form-errors-model {
            flex: 1;
  
            code {
                background: none !important;
            }
        }
    }
}

table {
    width: 100%;
}

.mat-form-field-table {
    width: 100%;
}

.mat-column-ID{
    width: 5% !important;
}

.mat-column-TPDOC{
    width: 65% !important;
}

.mat-column-REQUI{
    width: 10% !important;
}

.mat-column-ENTRE{
    width: 10% !important;
}

.mat-column-PPDFF{
    width: 10% !important;
}

::ng-deep .mat-column-ID div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-TPDOC div.mat-form-field-infix { width: 65% !important;}
::ng-deep .mat-column-REQUI div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-ENTRE div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-PPDFF div.mat-form-field-infix { width: 10% !important;}