<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog('R','R')">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="perVB" (click)="openDialog('R','V')">
                <mat-icon matBadge="{{countVB}}" matBadgeColor="accent" [matBadgeHidden]="countVB==0"
                    matBadgeSize="small" class="s-18" matTooltip="Visto Bueno"><i class="fas fa-user-check"></i>
                </mat-icon>
            </button>
            <button mat-icon-button *ngIf="perAU" (click)="openDialog('R','A')">
                <mat-icon matBadge="{{countAU}}" matBadgeColor="accent" [matBadgeHidden]="countAU==0"
                    matBadgeSize="small" class="s-18" matTooltip="Autorización"><i class="fas fa-clipboard-check"></i>
                </mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS != '1' || f_drh_frm_mpr.USUAR!=authService.user.user_name"
                (click)="clear('N')">
                <mat-icon class="s-18" matTooltip="Nuevo Movimiento"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.USUAR==authService.user.user_name"
                (click)="saveInformation('SI','')">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.USUAR==authService.user.user_name"
                (click)="clear('C')">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.USUAR==authService.user.user_name"
                (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.USUAR==authService.user.user_name"
                (click)="saveInformation('CF','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Enviar a Visto Bueno"><i class="far fa-paper-plane"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '2' && perVB && f_drh_frm_mpr.VBHPU==authService.user.user_name"
                (click)="openDialog('V','A')">
                <mat-icon class="s-18" matTooltip="Firmar y Enviar a Autorización"><i class="fas fa-file-signature"></i>
                </mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '2' && perVB && f_drh_frm_mpr.VBHPU==authService.user.user_name"
                (click)="openDialog('V','R')">
                <mat-icon class="s-18" matTooltip="Regresar para Corrección"><i class="fas fa-undo"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '2' && perVB && f_drh_frm_mpr.VBHPU==authService.user.user_name"
                (click)="openDialog('V','C')">
                <mat-icon class="s-18" matTooltip="Cancelar Folio"><i class="fas fa-ban"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '3' && perAU && f_drh_frm_mpr.AUTOU==authService.user.user_name"
                (click)="openDialog('A','A')">
                <mat-icon class="s-18" matTooltip="Firmar Autorización"><i class="fas fa-file-signature"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '3' && perAU && f_drh_frm_mpr.AUTOU==authService.user.user_name"
                (click)="openDialog('A','R')">
                <mat-icon class="s-18" matTooltip="Regresar para Corrección"><i class="fas fa-undo"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '3' && perAU && f_drh_frm_mpr.AUTOU==authService.user.user_name"
                (click)="openDialog('A','C')">
                <mat-icon class="s-18" matTooltip="Cancelar Folio"><i class="fas fa-ban"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_mpr.STTUS == '4' && f_drh_frm_mpr.USUAR==authService.user.user_name"
                (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span *ngIf="f_drh_frm_mpr.FOLIO.length > 0 && f_drh_frm_mpr.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drh_frm_mpr.REGIO}}&nbsp;|&nbsp;{{f_drh_frm_mpr.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_mpr.FOLIO.length == 30" style="padding-top: 5px;">
                {{f_drh_frm_mpr.REGIO}}&nbsp;|&nbsp;...{{f_drh_frm_mpr.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_mpr.FOLIO.length == 0" style="padding-top: 5px;">
                {{f_drh_frm_mpr.REGIO}}&nbsp;|&nbsp;SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drh_frm_mpr.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Humanos</span>
                </div>
                <div class="h1 mt-16">Movimiento de Personal</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Movimiento</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Tipo de Movimiento" [(ngModel)]="f_drh_frm_mpr.TIPIN" name="TIPIN"
                                maxlength="100" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput [matDatepicker]="fcing" placeholder="Fecha de Movimiento"
                                [(ngModel)]="f_drh_frm_mpr.FCING" name="FCING" [errorStateMatcher]="error" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcing"></mat-datepicker-toggle>
                            <mat-datepicker #fcing [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50" class="pr-4">
                            <input matInput placeholder="Funcionario" [(ngModel)]="f_drh_frm_mpr.NUEMP" name="NUEMP"
                                maxlength="100" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="pr-4">
                            <input matInput placeholder="Coordinación Territorial" [(ngModel)]="f_drh_frm_mpr.REGIO" name="REGIO"
                                maxlength="100" [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Situación Actual</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Carácter del Nombramiento" [(ngModel)]="f_drh_frm_mpr.NOMSA"
                                name="NOMSA" (ngModelChange)="f_drh_frm_mpr.PUESA='';limpia();getPlaDisp();"
                                [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let n of tipoNombramiento" [value]="n.NOMSA">
                                    {{n.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Adscripción" [(ngModel)]="f_drh_frm_mpr.ADSSA" name="ADSSA"
                                [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSSA">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.NOMSA != 'H'">
                            <mat-select placeholder="Clave de Puesto" [(ngModel)]="f_drh_frm_mpr.PUESA" name="PUESA"
                                (ngModelChange)="infoPlaza()" [errorStateMatcher]="error" required
                                [disabled]="disabled()">
                                <mat-option *ngFor="let p of puestosDisp" [value]="p.PUESA">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS != '1' || f_drh_frm_mpr.NOMSA == 'H'">
                            <mat-select placeholder="Clave de Puesto" [(ngModel)]="f_drh_frm_mpr.PUESA" name="PUESA"
                                (ngModelChange)="infoPlaza()" [errorStateMatcher]="error" required
                                [disabled]="disabled()">
                                <mat-option *ngFor="let p of puestos" [value]="p.PUESA">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="15" fxLayoutAlign="center center" *ngIf="f_drh_frm_mpr.NOMSA != 'H'">
                            <mat-checkbox [(ngModel)]="f_drh_frm_mpr.PLASA" name="PLASA" (ngModelChange)="limpia()"
                                [disabled]="disabled()">Plaza existente</mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.NOMSA != 'H' && f_drh_frm_mpr.PLASA">
                            <mat-select placeholder="Sustituye a" [(ngModel)]="f_drh_frm_mpr.SUSSA" name="SUSSA"
                                (ngModelChange)="impSueldo(f_drh_frm_mpr.PLASA)" [errorStateMatcher]="error"
                                [disabled]="disabled()">
                                <mat-option *ngFor="let s of pDispBajas | filter:{PUESA:f_drh_frm_mpr.PUESA}"
                                    [value]="s.NUEMP">
                                    {{s.NOMSA}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS != '1' && f_drh_frm_mpr.NOMSA != 'H' && f_drh_frm_mpr.PLASA">
                            <mat-select placeholder="Sustituye a" [(ngModel)]="f_drh_frm_mpr.SUSSA" name="SUSSA"
                                disabled>
                                <mat-option *ngFor="let ff of sustituye" [value]="ff.NUEMP">
                                    {{ff.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_mpr.NOMSA != 'H' && (f_drh_frm_mpr.PLASA || f_drh_frm_mpr.STTUS != '1')">
                            <mat-select placeholder="Puesto" [(ngModel)]="f_drh_frm_mpr.PLAZA" name="PLAZA" disabled>
                                <mat-option *ngFor="let p of plazas | filter:{PUESA:f_drh_frm_mpr.PUESA}"
                                    [value]="p.PLAZA">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.NOMSA != 'H' && !f_drh_frm_mpr.PLASA">
                            <mat-select placeholder="Puesto" [(ngModel)]="f_drh_frm_mpr.PLAZA" name="PLAZA"
                                (ngModelChange)="impSueldo(f_drh_frm_mpr.PLASA)" [errorStateMatcher]="error"
                                [disabled]="disabled()">
                                <mat-option *ngFor="let p of pDisp | filter:{PUESA:f_drh_frm_mpr.PUESA}"
                                    [value]="p.PLAZA">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="55" class="pr-4" *ngIf="f_drh_frm_mpr.NOMSA == 'H'">
                            <input matInput placeholder="Puesto" [(ngModel)]="f_drh_frm_mpr.DESSA" name="DESSA"
                                maxlength="100" [errorStateMatcher]="error" required
                                [disabled]="disabled() || f_drh_frm_mpr.NOMSA != 'H'">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Nombre del Puesto" [(ngModel)]="f_drh_frm_mpr.DESS2"
                                name="DESS2" maxlength="150" [errorStateMatcher]="error" required
                                [disabled]="disabled() || f_drh_frm_mpr.NOMSA != 'H'">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Nivel" [(ngModel)]="f_drh_frm_mpr.NIVSA" name="NIVSA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Tipo de Personal/Plaza" [(ngModel)]="f_drh_frm_mpr.TIPSA"
                                name="TIPSA" disabled>
                                <mat-option *ngFor="let t of tipoPlaza" [value]="t.TIPSA">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="20" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_mpr.SINSA" name="SINSA"
                                [disabled]="disabled() || f_drh_frm_mpr.TIPSA != 'B'">
                                Sindicalizado</mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="15" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_mpr.HORSA" name="HORSA"
                                (ngModelChange)="f_drh_frm_mpr.HODSA=null;f_drh_frm_mpr.HOASA=null"
                                [disabled]="disabled()">Horario Completo</mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;">
                            <input matInput type="time" placeholder="De" [(ngModel)]="f_drh_frm_mpr.HOPSA" name="HOPSA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;">
                            <input matInput type="time" placeholder="A" [(ngModel)]="f_drh_frm_mpr.HPPSA" name="HPPSA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <label *ngIf="f_drh_frm_mpr.HORSA">Y</label>
                        <mat-form-field fxFlex="7" class="pl-4 pr-4" style="text-align: center;" *ngIf="f_drh_frm_mpr.HORSA">
                            <input matInput type="time" placeholder="De" [(ngModel)]="f_drh_frm_mpr.HODSA" name="HODSA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;" *ngIf="f_drh_frm_mpr.HORSA">
                            <input matInput type="time" placeholder="A" [(ngModel)]="f_drh_frm_mpr.HOASA" name="HOASA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="80" class="pr-4">
                            <input matInput placeholder="Observaciones" [(ngModel)]="f_drh_frm_mpr.OBSER" name="OBSER"
                                maxlength="100" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput [matDatepicker]="fcfin" placeholder="Fecha de Término"
                                [(ngModel)]="f_drh_frm_mpr.FCFIN" name="FCFIN" [errorStateMatcher]="error" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcfin"></mat-datepicker-toggle>
                            <mat-datepicker #fcter [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Sueldo Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.SUMSA"
                                name="SUMSA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4">
                            <input matInput placeholder="Compensación Garantizada" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.COMSA"
                                name="COMSA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Sueldo Integrado Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.SMESA"
                                name="SMESA" disabled>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Situación Propuesta</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Carácter del Nombramiento" [(ngModel)]="f_drh_frm_mpr.NOMPR"
                                name="NOMPR" (ngModelChange)="f_drh_frm_mpr.PUEPR='';limpia();getPlaDisp();"
                                [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let n of tipoNombramiento" [value]="n.NOMPR">
                                    {{n.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Adscripción" [(ngModel)]="f_drh_frm_mpr.ADSPR" name="ADSPR"
                                [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSPR">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.NOMPR != 'H'">
                            <mat-select placeholder="Clave de Puesto" [(ngModel)]="f_drh_frm_mpr.PUEPR" name="PUEPR"
                                (ngModelChange)="infoPlaza()" [errorStateMatcher]="error" required
                                [disabled]="disabled()">
                                <mat-option *ngFor="let p of puestosDisp" [value]="p.PUEPR">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS != '1' || f_drh_frm_mpr.NOMPR == 'H'">
                            <mat-select placeholder="Clave de Puesto" [(ngModel)]="f_drh_frm_mpr.PUEPR" name="PUEPR"
                                (ngModelChange)="infoPlaza()" [errorStateMatcher]="error" required
                                [disabled]="disabled()">
                                <mat-option *ngFor="let p of puestos" [value]="p.PUEPR">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="15" fxLayoutAlign="center center" *ngIf="f_drh_frm_mpr.NOMPR != 'H'">
                            <mat-checkbox [(ngModel)]="f_drh_frm_mpr.PLAPR" name="PLAPR" (ngModelChange)="limpia()"
                                [disabled]="disabled()">Plaza existente</mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.NOMPR != 'H' && f_drh_frm_mpr.PLAPR">
                            <mat-select placeholder="Sustituye a" [(ngModel)]="f_drh_frm_mpr.SUSPR" name="SUSPR"
                                (ngModelChange)="impSueldo(f_drh_frm_mpr.PLAPR)" [errorStateMatcher]="error"
                                [disabled]="disabled()">
                                <mat-option *ngFor="let s of pDispBajas | filter:{PUEPR:f_drh_frm_mpr.PUEPR}"
                                    [value]="s.NUEMP">
                                    {{s.NOMPR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS != '1' && f_drh_frm_mpr.NOMPR != 'H' && f_drh_frm_mpr.PLAPR">
                            <mat-select placeholder="Sustituye a" [(ngModel)]="f_drh_frm_mpr.SUSPR" name="SUSPR"
                                disabled>
                                <mat-option *ngFor="let ff of sustituye" [value]="ff.NUEMP">
                                    {{ff.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_mpr.NOMPR != 'H' && (f_drh_frm_mpr.PLAPR || f_drh_frm_mpr.STTUS != '1')">
                            <mat-select placeholder="Puesto" [(ngModel)]="f_drh_frm_mpr.PLZPR" name="PLZPR" disabled>
                                <mat-option *ngFor="let p of plazas | filter:{PUEPR:f_drh_frm_mpr.PUEPR}"
                                    [value]="p.PLZPR">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_mpr.STTUS == '1' && f_drh_frm_mpr.NOMPR != 'H' && !f_drh_frm_mpr.PLAPR">
                            <mat-select placeholder="Puesto" [(ngModel)]="f_drh_frm_mpr.PLZPR" name="PLZPR"
                                (ngModelChange)="impSueldo(f_drh_frm_mpr.PLAPR)" [errorStateMatcher]="error"
                                [disabled]="disabled()">
                                <mat-option *ngFor="let p of pDisp | filter:{PUEPR:f_drh_frm_mpr.PUEPR}"
                                    [value]="p.PLZPR">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="55" class="pr-4" *ngIf="f_drh_frm_mpr.NOMPR == 'H'">
                            <input matInput placeholder="Puesto" [(ngModel)]="f_drh_frm_mpr.DESSA" name="DESSA"
                                maxlength="100" [errorStateMatcher]="error" required
                                [disabled]="disabled() || f_drh_frm_mpr.NOMPR != 'H'">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Nombre del Puesto" [(ngModel)]="f_drh_frm_mpr.DESS2"
                                name="DESS2" maxlength="150" [errorStateMatcher]="error" required
                                [disabled]="disabled() || f_drh_frm_mpr.NOMPR != 'H'">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Nivel" [(ngModel)]="f_drh_frm_mpr.NIVSA" name="NIVSA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Tipo de Personal/Plaza" [(ngModel)]="f_drh_frm_mpr.TIPSA"
                                name="TIPSA" disabled>
                                <mat-option *ngFor="let t of tipoPlaza" [value]="t.TIPSA">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="20" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_mpr.SINSA" name="SINSA"
                                [disabled]="disabled() || f_drh_frm_mpr.TIPSA != 'B'">
                                Sindicalizado</mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="15" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_mpr.HORSA" name="HORSA"
                                (ngModelChange)="f_drh_frm_mpr.HODSA=null;f_drh_frm_mpr.HOASA=null"
                                [disabled]="disabled()">Horario Completo</mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;">
                            <input matInput type="time" placeholder="De" [(ngModel)]="f_drh_frm_mpr.HOPSA" name="HOPSA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;">
                            <input matInput type="time" placeholder="A" [(ngModel)]="f_drh_frm_mpr.HPPSA" name="HPPSA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <label *ngIf="f_drh_frm_mpr.HORSA">Y</label>
                        <mat-form-field fxFlex="7" class="pl-4 pr-4" style="text-align: center;" *ngIf="f_drh_frm_mpr.HORSA">
                            <input matInput type="time" placeholder="De" [(ngModel)]="f_drh_frm_mpr.HODSA" name="HODSA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;" *ngIf="f_drh_frm_mpr.HORSA">
                            <input matInput type="time" placeholder="A" [(ngModel)]="f_drh_frm_mpr.HOASA" name="HOASA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="80" class="pr-4">
                            <input matInput placeholder="Observaciones" [(ngModel)]="f_drh_frm_mpr.OBSER" name="OBSER"
                                maxlength="100" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput [matDatepicker]="fcfin" placeholder="Fecha de Término"
                                [(ngModel)]="f_drh_frm_mpr.FCFIN" name="FCFIN" [errorStateMatcher]="error" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcfin"></mat-datepicker-toggle>
                            <mat-datepicker #fcter [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Sueldo Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.SUMSA"
                                name="SUMSA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4">
                            <input matInput placeholder="Compensación Garantizada" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.COMSA"
                                name="COMSA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Sueldo Integrado Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.SMESA"
                                name="SMESA" disabled>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Funciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput [(ngModel)]="f_drh_frm_mpr.FUNCI" name="FUNCI" rows="5"
                                [errorStateMatcher]="error" [disabled]="disabled()" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Elaboró</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_mpr.USUAR"
                                    name="USUAR" disabled>
                                    <mat-option *ngFor="let ff of funcionarios" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.ELPUE"
                                    name="ELPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <mat-card fxLayout="column" fxLayoutAlign="start"
                        style="width: 34%; margin-left: 10px; margin-right: 10px;">
                        <mat-card-header>
                            <mat-card-title>Visto Bueno</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_mpr.VBHPU"
                                    name="VBSPU" [disabled]="disabled()"
                                    (ngModelChange)="puesto(f_drh_frm_mpr.VBHPU, 'VBPUE')" [errorStateMatcher]="error"
                                    required>
                                    <ngx-mat-select-search [formControl]="VBFilterCtrl" [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredVB | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.VBPUE"
                                    name="VSPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Autoriza</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_mpr.AUTOU"
                                    name="AUTOU" [disabled]="disabled()"
                                    (ngModelChange)="puesto(f_drh_frm_mpr.AUTOU, 'AUPUE')" [errorStateMatcher]="error"
                                    required>
                                    <ngx-mat-select-search [formControl]="AUFilterCtrl" [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredAU | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.AUPUE"
                                    name="AUPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start"
                    *ngIf="f_drh_frm_mpr.VBHPR">
                    <mat-card-header>
                        <mat-card-title>Visto Bueno</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select [(ngModel)]="f_drh_frm_mpr.VBHPR" name="VBHPR" disabled>
                                <mat-option value="A">Aceptado</mat-option>
                                <mat-option value="R">Regresado con Observaciones</mat-option>
                                <mat-option value="C">Cancelado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="f_drh_frm_mpr.VBHPC">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput
                                placeholder="{{f_drh_frm_mpr.VBHPR=='A' ? 'Comentario':f_drh_frm_mpr.VBHPR=='R' ? 'Observaciones':'Motivo'}}"
                                rows="5" [(ngModel)]="f_drh_frm_mpr.VBHPC" name="VBHPC" disabled></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start"
                    *ngIf="f_drh_frm_mpr.AUTOR">
                    <mat-card-header>
                        <mat-card-title>Autorización</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select [(ngModel)]="f_drh_frm_mpr.AUTOR" name="AUTOR" disabled>
                                <mat-option value="A">Aceptado</mat-option>
                                <mat-option value="R">Regresado con Observaciones</mat-option>
                                <mat-option value="C">Cancelado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="f_drh_frm_mpr.AUTOC">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput
                                placeholder="{{f_drh_frm_mpr.AUTOR=='A' ? 'Comentario':f_drh_frm_mpr.AUTOR=='R' ? 'Observaciones':'Motivo'}}"
                                rows="5" [(ngModel)]="f_drh_frm_mpr.AUTOC" name="AUTOC" disabled></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>