<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button>
                <mat-icon class="s-18"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="s-18"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon class="s-18"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                2019&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px;">
                191101RIN&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                22/11/2019
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Materiales</span>
                </div>
                <div class="h1 mt-16">Mantenimiento de Vehículos</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24"> 
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                    
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
    
                            <mat-form-field fxFlex="25" class="pr-4">
                                <mat-label>Tipo de reintegro</mat-label>
                                <input matInput>
                            </mat-form-field>

                            <mat-form-field fxFlex="75" class="pr-4">
                                <mat-label>Recibí de</mat-label>
                                <input matInput>
                            </mat-form-field>
    
                        </div>

                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        
                                <mat-form-field fxFlex="100" class="pr-4">
                                        <mat-label>Por concepto de</mat-label>
                                        <textarea matInput rows="5"></textarea>
                                    </mat-form-field>
        
                            </div>
                            
        
                    </mat-card>

                    <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        
                                <mat-form-field fxFlex="25" class="pr-4">
                                    <mat-label>Importe a reintegrar</mat-label>
                                    <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }">
                                </mat-form-field>
        
                                <mat-form-field fxFlex="75" class="pr-4">
                                    <mat-label>Importe con letra</mat-label>
                                    <input matInput disabled>
                                    
                                </mat-form-field>
        
                            </div>
        
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        
                                <mat-form-field fxFlex="25" class="pr-4">
                                    <mat-label>Tipo de pago</mat-label>
                                    <input matInput> 
                                    
                                </mat-form-field>
        
                                <mat-form-field fxFlex="50" class="pr-4">
                                    <mat-label>Número de referencia o cuenta</mat-label>
                                    <input matInput>
                                    
                                </mat-form-field>
        
                                <mat-form-field fxFlex="25" class="pr-4">
                                    <mat-label>Fecha del pago</mat-label>
                                    <input matInput>
                                    
                                </mat-form-field>
        
                            </div>
        
                    </mat-card>

                    <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                        <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 50%;">
                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        
                                <mat-form-field fxFlex="70" class="pr-4">
                                    <mat-label>Empresa</mat-label>
                                    <input matInput>
                                </mat-form-field>
        
                                <mat-form-field fxFlex="30" class="pr-4">
                                    <mat-label>RFC</mat-label>
                                    <input matInput>
                                    
                                </mat-form-field>
        
                            </div>
        
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        
                                <mat-form-field fxFlex="100" class="pr-4">
                                    <mat-label>Domicilio</mat-label>
                                    <input matInput> 
                                    
                                </mat-form-field>
        
                            </div>
        
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        
                                <mat-form-field fxFlex="50" class="pr-4">
                                    <mat-label>C.P.</mat-label>
                                    <input matInput>
                                    
                                </mat-form-field>
                                <mat-form-field fxFlex="50" class="pr-4">
                                    <mat-label>Teléfono</mat-label>
                                    <input matInput>
                                    
                                </mat-form-field>
        
                            </div>
        
                        </mat-card>

                        <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 50%; margin-left: 10px;">
                                <mat-card-header>
                                        <mat-card-title>Recibe</mat-card-title>
                                    </mat-card-header>
                            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
        
                                <mat-form-field fxFlex="100" class="pr-4">
                                    <mat-label>Nombre Funcionario</mat-label>
                                    <input matInput>
                                </mat-form-field>
        
                            </div>
                            <div style="height: 28px;">
                            </div>
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
        
                                <mat-form-field fxFlex="100" class="pr-4">
                                    <mat-label>Puesto Funcionario</mat-label>
                                    <input matInput> 
                                    
                                </mat-form-field>
        
                            </div>
        
                        </mat-card>
                    </div>
            </div>
        </div>
    </form>
</div>


