<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_acp.STTUS != '1'" (click)="nuevo()">
                <mat-icon class="s-18" matTooltip="Nuevo Contrato/Pedido"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_acp.STTUS == '1'" (click)="saveInformation('CL','')" [disabled]="disabledSave()">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_acp.STTUS == '1'" (click)="clean()">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drm_frm_acp.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drm_frm_acp.CTRPD.length > 0" style="padding-top: 5px;">
                {{f_drm_frm_acp.CTRPD}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drm_frm_acp.CTRPD.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drm_frm_acp.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Materiales</span>
                </div>
                <div class="h1 mt-16">Alta de Contratos/Pedidos</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24"> 
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Contrato/Pedido</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Región" [(ngModel)]="f_drm_frm_acp.REGIO" name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="!disabled()">
                            <mat-select placeholder="Requisición" [(ngModel)]="f_drm_frm_acp.REQUI" name="REQUI" (ngModelChange)="infoReq(f_drm_frm_acp.REQUI)" [errorStateMatcher]="error" required>
                                <ngx-mat-select-search [formControl]="RFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                <mat-option *ngFor="let r of filteredR | async" [value]="r.FOLIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="disabled()">
                            <input matInput placeholder="Requisición" [(ngModel)]="f_drm_frm_acp.REQUI" name="REQUI2" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Tipo de Contratación" [(ngModel)]="f_drm_frm_acp.TPDCT" name="TPDCT" disabled>
                                <mat-option *ngFor="let tc of tiposContratacion" [value]="tc.TPDCT">
                                    {{tc.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="f_drm_frm_acp.TPDCT == 'M'">
                            <input matInput placeholder="Contrato/Pedido a Modificar" [(ngModel)]="f_drm_frm_acp.CTPDM" name="CTPDM" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <mat-select placeholder="Partida Presupuestal" [(ngModel)]="f_drm_frm_acp.PRTSP" name="PRTSP" disabled>
                                <mat-option *ngFor="let p of partidas" [value]="p.PRTSP">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Tipo de Adjudicación" [(ngModel)]="f_drm_frm_acp.TPDAD" name="TPDAD" [disabled]="disabled() || f_drm_frm_acp.TPDCT=='M'" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let ta of tipoAdjudicacion" [value]="ta.TPDAD">
                                    {{ta.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Categoría" [(ngModel)]="f_drm_frm_acp.CTDCT" name="CTDCT" [disabled]="disabled() || f_drm_frm_acp.TPDCT=='M'" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let cc of categoriaContratacion" [value]="cc.CTDCT">
                                    {{cc.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Medio de Contratación" [(ngModel)]="f_drm_frm_acp.MDDCT" name="MDDCT" [disabled]="disabled() || f_drm_frm_acp.TPDCT=='M'" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let fc of medioContratacion" [value]="fc.MDDCT">
                                    {{fc.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" [ngClass]="{'error':valGnr(f_drm_frm_acp.CTRPD, 'CTRPD')}">
                            <input matInput placeholder="Número de Contrato/Pedido" [(ngModel)]="f_drm_frm_acp.CTRPD" name="CTRPD" maxlength="30" (blur)="valCtrpd(f_drm_frm_acp.CTRPD)" [disabled]="disabled() || save==2" [errorStateMatcher]="error" required>
                            <mat-error *ngIf="showErrorCTRPD()">
                                El Contrato {{f_drm_frm_acp.CTRPD}} ya se registro
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="RFC" [(ngModel)]="f_drm_frm_acp.RRFCC" name="RRFCC" maxlength="30" [matAutocomplete]="auto" [disabled]="disabled() || f_drm_frm_acp.TPDCT=='M'" [errorStateMatcher]="error" required>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let p of filteredP | async" [value]="p.RRFCC" (click)="nombPro(p.RRFCC)">
                                  {{p.DESCR}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="pr-4">
                            <input matInput placeholder="Razón Social" [(ngModel)]="f_drm_frm_acp.RZSOC" name="RZSOC" maxlength="200" [disabled]="disabled() || f_drm_frm_acp.TPDCT=='M'" [errorStateMatcher]="error" required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4" [ngClass]="{'error':valGnr(f_drm_frm_acp.FCINI, 'FCINI')}">
                            <input matInput [matDatepicker]="fcini" placeholder="Fecha de Inicio *" [(ngModel)]="f_drm_frm_acp.FCINI" name="FCINI" (ngModelChange)="diffYear()" [errorStateMatcher]="error" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcini"></mat-datepicker-toggle>
                            <mat-datepicker #fcini [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" [ngClass]="{'error':valGnr(f_drm_frm_acp.FCTER, 'FCTER')}">
                            <input matInput [matDatepicker]="fcter" placeholder="Fecha de Término *" [(ngModel)]="f_drm_frm_acp.FCTER" name="FCTER" (ngModelChange)="diffYear()" [errorStateMatcher]="error" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcter"></mat-datepicker-toggle>
                            <mat-datepicker #fcter [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Temporalidad" [(ngModel)]="f_drm_frm_acp.TEMPO" name="TEMPO" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4" [ngClass]="{'error':valGnr(f_drm_frm_acp.MNMIN, 'MNMIN')}">
                            <input matInput placeholder="Monto Mínimo *" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drm_frm_acp.MNMIN" name="MNMIN" [disabled]="disabled()" [errorStateMatcher]="error">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" [ngClass]="{'error':valGnr(f_drm_frm_acp.MNMAX, 'MNMAX')}">
                            <input matInput placeholder="Monto Máximo *" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drm_frm_acp.MNMAX" name="MNMAX" [disabled]="disabled()" [errorStateMatcher]="error">
                        </mat-form-field>
                        <label *ngIf="f_drm_frm_acp.CTRPD.length > 0">Cotización 1:</label>&nbsp;
                        <input id="CTZC1" type="file" (change)="fileChange($event.target.files, 'CTZC1')" hidden>
                        <input name="CTZC1" [(ngModel)]="f_drm_frm_acp.CTZC1" [ngClass]="{'error':valGnr(f_drm_frm_acp.CTZC1, 'CTZC1')}" hidden>
                        <circle-progress *ngIf="f_drm_frm_acp.CTRPD.length > 0" (click)="openInput('CTZC1')" [ngStyle]="{'cursor': f_drm_frm_acp.STTUS == '1' ? 'pointer':'not-allowed'}"
                        [percent]=p_drm_frm_acp.CTZC1
                        [radius]="17"
                        [outerStrokeWidth]="2"
                        [space] = "-2"
                        [outerStrokeColor]="'#007BFF'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle] = "false"
                        [showTitle] = "false"
                        [showUnits] = "false"
                        [showImage] = "true"
                        [imageSrc] = "'assets/images/icons/paperclip.svg'"
                        [imageHeight] = 15
                        [imageWidth] = 15
                        [backgroundPadding] = -2
                        [showInnerStroke] = "false"
                        [startFromZero]="false"
                        [showZeroOuterStroke]="false"
                        [renderOnClick]="false"
                        ></circle-progress>
                        &nbsp;
                        <mat-icon *ngIf="f_drm_frm_acp.CTZC1.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('CTZC1')"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                        <mat-icon *ngIf="f_drm_frm_acp.CTZC1.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label *ngIf="f_drm_frm_acp.CTRPD.length > 0">Cotización 2:</label>&nbsp;
                        <input id="CTZC2" type="file" (change)="fileChange($event.target.files, 'CTZC2')" hidden>
                        <input name="CTZC2" [(ngModel)]="f_drm_frm_acp.CTZC2" [ngClass]="{'error':valGnr(f_drm_frm_acp.CTZC2, 'CTZC2')}" hidden>
                        <circle-progress *ngIf="f_drm_frm_acp.CTRPD.length > 0" (click)="openInput('CTZC2')" [ngStyle]="{'cursor': f_drm_frm_acp.STTUS == '1' ? 'pointer':'not-allowed'}"
                        [percent]=p_drm_frm_acp.CTZC2
                        [radius]="17"
                        [outerStrokeWidth]="2"
                        [space] = "-2"
                        [outerStrokeColor]="'#007BFF'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle] = "false"
                        [showTitle] = "false"
                        [showUnits] = "false"
                        [showImage] = "true"
                        [imageSrc] = "'assets/images/icons/paperclip.svg'"
                        [imageHeight] = 15
                        [imageWidth] = 15
                        [backgroundPadding] = -2
                        [showInnerStroke] = "false"
                        [startFromZero]="false"
                        [showZeroOuterStroke]="false"
                        [renderOnClick]="false"
                        ></circle-progress>
                        &nbsp;
                        <mat-icon *ngIf="f_drm_frm_acp.CTZC2.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('CTZC2')"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                        <mat-icon *ngIf="f_drm_frm_acp.CTZC2.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label *ngIf="f_drm_frm_acp.CTRPD.length > 0">Cotización 3:</label>&nbsp;
                        <input id="CTZC3" type="file" (change)="fileChange($event.target.files, 'CTZC3')" hidden>
                        <input name="CTZC3" [(ngModel)]="f_drm_frm_acp.CTZC3" [ngClass]="{'error':valGnr(f_drm_frm_acp.CTZC3, 'CTZC3')}" hidden>
                        <circle-progress *ngIf="f_drm_frm_acp.CTRPD.length > 0" (click)="openInput('CTZC3')" [ngStyle]="{'cursor': f_drm_frm_acp.STTUS == '1' ? 'pointer':'not-allowed'}"
                        [percent]=p_drm_frm_acp.CTZC3
                        [radius]="17"
                        [outerStrokeWidth]="2"
                        [space] = "-2"
                        [outerStrokeColor]="'#007BFF'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle] = "false"
                        [showTitle] = "false"
                        [showUnits] = "false"
                        [showImage] = "true"
                        [imageSrc] = "'assets/images/icons/paperclip.svg'"
                        [imageHeight] = 15
                        [imageWidth] = 15
                        [backgroundPadding] = -2
                        [showInnerStroke] = "false"
                        [startFromZero]="false"
                        [showZeroOuterStroke]="false"
                        [renderOnClick]="false"
                        ></circle-progress>
                        &nbsp;
                        <mat-icon *ngIf="f_drm_frm_acp.CTZC3.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('CTZC3')"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                        <mat-icon *ngIf="f_drm_frm_acp.CTZC3.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput placeholder="Descripción de la Contratación" rows="5" [(ngModel)]="f_drm_frm_acp.DESCR" name="DESCR" [disabled]="disabled()" [errorStateMatcher]="error" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>


