<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdg.STTUS != '1'" (click)="clear('N')">
                <mat-icon class="s-18" matTooltip="Nueva Comprobación"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdg.STTUS == '1'" (click)="saveInformation('SI','')"
                [disabled]="disabledSave()">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdg.STTUS == '1'" (click)="clear('C')">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdg.STTUS == '1'" (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdg.STTUS == '1'" (click)="saveInformation('CF','OK')"
                [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Crear Formato"><i class="fas fa-print"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdg.STTUS == '2' || f_drf_frm_cdg.STTUS == '3'"
                (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drf_frm_cdg.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_cdg.FOLIO.length > 0 && f_drf_frm_cdg.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drf_frm_cdg.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_cdg.FOLIO.length == 30" style="padding-top: 5px;">
                ...{{f_drf_frm_cdg.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_cdg.FOLIO.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drf_frm_cdg.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Finanzas</span>
                </div>
                <div class="h1 mt-16">Comprobación de Gastos</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Gasto a Comprobar</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Región" [(ngModel)]="f_drf_frm_cdg.REGIO" name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="!f_drf_frm_cdg.GUARD"
                            [ngClass]="{'error':disabledSave()}">
                            <mat-select placeholder="Gasto a Comprobar" [(ngModel)]="f_drf_frm_cdg.FOLIO" name="FOLIO"
                                (ngModelChange)="selectFolio()" [errorStateMatcher]="error" >
                                <mat-option *ngFor="let r of gastosComprobar" [value]="r.FOLIO">
                                    {{r.FOLIO}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="f_drf_frm_cdg.GUARD">
                            <input matInput placeholder="Gasto a Comprobar" [(ngModel)]="f_drf_frm_cdg.FOLIO"
                                name="FOLIO" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Contrato/Pedido" [(ngModel)]="names.CTRPD" name="CTRPD"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Requisición" [(ngModel)]="names.REQUI" name="REQUI" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <mat-select placeholder="Partida Presupuestal" [(ngModel)]="names.PRTSP" name="PRTSP"
                                disabled>
                                <mat-option *ngFor="let p of partidas" [value]="p.PRTSP">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="RFC" [(ngModel)]="names.RRFCC" name="RRFCC" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="pr-4">
                            <input matInput placeholder="Razón Social" [(ngModel)]="names.RZSOC" name="RZSOC" disabled>
                        </mat-form-field>
                        <div fxFlex="25" class="pr-4" style="margin-bottom: 7px; text-align: center;">
                            <mat-checkbox [(ngModel)]="f_drf_frm_cdg.COMFS" name="COMFS" [disabled]="disabled()">
                                Comprobante Fiscal</mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput placeholder="Recursos Utilizados Para" rows="5" [(ngModel)]="names.UTILI"
                                name="UTILI" disabled></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                placeholder="Importe Solicitado" [(ngModel)]="names.IMPOR" name="IMPOR" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                placeholder="Importe Comprobado" [(ngModel)]="f_drf_frm_cdg.TOTCM" name="TOTCM"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                placeholder="Diferencia" [(ngModel)]="f_drf_frm_cdg.DIFER" name="DIFER" disabled>
                        </mat-form-field>
                        <div fxFlex="25" class="pr-4" style="margin-bottom: 7px; text-align: center;"
                            *ngIf="f_drf_frm_cdg.DIFER < 0">
                            <mat-checkbox [(ngModel)]="f_drf_frm_cdg.PAGCM" name="PAGCM"
                                (ngModelChange)="f_drf_frm_cdg.AUTOR='';names.AUPUE='';" [disabled]="disabled()">Pago
                                Complementario</mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="f_drf_frm_cdg.DIFER > 0">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Recibo de Ingresos" [(ngModel)]="f_drf_frm_cdg.NMRIN"
                                name="NMRIN" maxlength="30" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                placeholder="Monto Reintegrado" [(ngModel)]="f_drf_frm_cdg.MNRIN"
                                (ngModelChange)="updateTotal()" name="MNRIN" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4"
                            [ngClass]="{'error':valGnr(f_drf_frm_cdg.RMGAC,'RMGAC')}">
                            <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                placeholder="Remanente del Gasto Comprobado" [(ngModel)]="f_drf_frm_cdg.RMGAC"
                                name="RMGAC" [errorStateMatcher]="error" disabled>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Facturas</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ERROR Column -->
                        <ng-container matColumnDef="ERROR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" hidden>Error</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" hidden>
                                <mat-form-field class="mat-form-field-table" style="text-align: center">
                                    <input matInput [(ngModel)]="element.ERROR" name="ERROR{{i}}" required>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef hidden>&nbsp;</td>
                        </ng-container>
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" width="5%">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="style.color='gray'"
                                    onmouseover="style.color='#28a745'" (click)="addRow()"><i
                                        class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;"
                                style="text-align: center !important; color: gray;">
                                <span *ngIf="f_drf_frm_cdg_com.length > 1 && !disabled()" style="cursor: pointer;"
                                    onmouseout="style.color='gray'" onmouseover="style.color='#dc3545'"
                                    (click)="removeRow(i)"><i class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- XXMLL Column -->
                        <ng-container matColumnDef="XXMLL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">XML</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div fxLayoutAlign="center center">
                                    <input id="XXMLL{{i}}" type="file"
                                        (change)="fileChange($event.target.files, 'XXMLL', i)" hidden>
                                    <input name="XXMLL{{i}}" [(ngModel)]="element.XXMLL"
                                        [ngClass]="{'error':valCom(element.XXMLL, element, 'XXMLL', i)}" hidden>
                                    <circle-progress *ngIf="f_drf_frm_cdg.COMFS" (click)="openInput('XXMLL'+i)"
                                        [ngStyle]="{'cursor': f_drf_frm_cdg.STTUS == '1' && f_drf_frm_cdg.FOLIO ? 'pointer':'not-allowed'}"
                                        [percent]=p_drf_frm_cdg_com[i].XXMLL [radius]="17" [outerStrokeWidth]="2"
                                        [space]="-2" [outerStrokeColor]="'#007BFF'" [animation]="true"
                                        [animationDuration]="300" [showSubtitle]="false" [showTitle]="false"
                                        [showUnits]="false" [showImage]="true"
                                        [imageSrc]="'assets/images/icons/paperclip.svg'" [imageHeight]=15
                                        [imageWidth]=15 [backgroundPadding]=-2 [showInnerStroke]="false"
                                        [startFromZero]="false" [showZeroOuterStroke]="false" [renderOnClick]="false">
                                    </circle-progress>
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- PPDFF Column -->
                        <ng-container matColumnDef="PPDFF">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">PDF</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div fxLayoutAlign="center center">
                                    <input id="PPDFF{{i}}" type="file"
                                        (change)="fileChange($event.target.files, 'PPDFF', i)" hidden>
                                    <input name="PPDFF{{i}}" [(ngModel)]="element.PPDFF"
                                        [ngClass]="{'error':valCom(element.PPDFF, element, 'PPDFF', i)}" hidden>
                                    <circle-progress (click)="openInput('PPDFF'+i)"
                                        [ngStyle]="{'cursor': f_drf_frm_cdg.STTUS == '1' && f_drf_frm_cdg.FOLIO ? 'pointer':'not-allowed'}"
                                        [percent]=p_drf_frm_cdg_com[i].PPDFF [radius]="17" [outerStrokeWidth]="2"
                                        [space]="-2" [outerStrokeColor]="'#007BFF'" [animation]="true"
                                        [animationDuration]="300" [showSubtitle]="false" [showTitle]="false"
                                        [showUnits]="false" [showImage]="true"
                                        [imageSrc]="'assets/images/icons/paperclip.svg'" [imageHeight]=15
                                        [imageWidth]=15 [backgroundPadding]=-2 [showInnerStroke]="false"
                                        [startFromZero]="false" [showZeroOuterStroke]="false" [renderOnClick]="false">
                                    </circle-progress>
                                    <label>&nbsp;</label>
                                    <mat-icon *ngIf="element.PPDFF.indexOf('.pdf') > 0" matTooltip="Ver Documento"
                                        class="icon-doc" style="font-size: 12px; padding-top: 7px;"
                                        (click)="showFile('PPDFF', i)"><i style="cursor: pointer; color:#007bff;"
                                            class="fas fa-eye"></i></mat-icon>
                                    <mat-icon *ngIf="element.PPDFF.indexOf('prohibitus') >= 0"
                                        matTooltip="Documento Bloqueado" class="icon-doc"
                                        style="font-size: 12px; padding-top: 7px;"
                                        (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')">
                                        <i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- NMDOC Column -->
                        <ng-container matColumnDef="NMDOC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Documento</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table"
                                    [ngClass]="{'error':valCom(element.NMDOC, element, 'NMDOC', i)}">
                                    <input matInput [(ngModel)]="element.NMDOC" name="NMDOC{{i}}"
                                        [errorStateMatcher]="error" [disabled]="f_drf_frm_cdg.COMFS || disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- FCDOC Column -->
                        <ng-container matColumnDef="FCDOC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Fecha</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table"
                                    [ngClass]="{'error':valCom(element.FCDOC, element, 'FCDOC', i)}">
                                    <input matInput [matDatepicker]="fc" [(ngModel)]="element.FCDOC" name="FCDOC{{i}}"
                                        [errorStateMatcher]="error" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fc"></mat-datepicker-toggle>
                                    <mat-datepicker #fc [disabled]="f_drf_frm_cdg.COMFS || disabled()"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- RRFCC Column -->
                        <ng-container matColumnDef="RRFCC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">RFC</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.RRFCC" name="RRFCC{{i}}" disabled>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- CONCE Column -->
                        <ng-container matColumnDef="CONCE">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Concepto</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.CONCE" name="CONCE{{i}}" maxlength="200"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- TOTFC Column -->
                        <ng-container matColumnDef="TOTFC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Monto</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table"
                                    [ngClass]="{'error':valCom(element.TOTFC, element, 'TOTFC', i)}">
                                    <input matInput currencyMask
                                        [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                        [(ngModel)]="element.TOTFC" name="TOTFC{{i}}" (ngModelChange)="updateAmount()"
                                        [errorStateMatcher]="error" [disabled]="f_drf_frm_cdg.COMFS || disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">
                                {{ f_drf_frm_cdg.TOTCM | currency }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Observaciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" [(ngModel)]="f_drf_frm_cdg.OBSER" name="OBSER"
                                [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Entrega</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Nombre del Funcionario" [(ngModel)]="names.SLNOM"
                                    name="SLNOM" disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.SLPUE"
                                    name="SLPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <span class="spacer"></span>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;" *ngIf="f_drf_frm_cdg.PAGCM">
                        <mat-card-header>
                            <mat-card-title>Autoriza Pago Complementario</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;"
                                [ngClass]="{'error':valGnr(f_drf_frm_cdg.AUTOR,'AUTOR')}">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drf_frm_cdg.AUTOR"
                                    name="AUTOR" (ngModelChange)="puesto(f_drf_frm_cdg.AUTOR, 'AUPUE')"
                                    [disabled]="disabled()" [errorStateMatcher]="error">
                                    <ngx-mat-select-search [formControl]="AUFilterCtrl" [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredAU | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.AUPUE"
                                    name="AUPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>