<h1 mat-dialog-title>Folios</h1>
<div mat-dialog-content>
  <input id="PDFFR" type="file" (change)="fileChange($event.target.files, 'PDFFR')" hidden>
  <ag-grid-angular 
    style="width: 100%; height: 550px;" 
    class="ag-theme-material"
    [rowData]="rowData" 
    [columnDefs]="columnDefs"
    [rowSelection]="rowSelection"
    [floatingFilter]="true"
    (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cerrar</button>
  <button mat-button (click)="recoverData()">Recuperar</button>
  <button mat-button *ngIf="showAdjuntar()" (click)="adjuntarPDF()">Adjuntar PDF Firmado</button>
  <mat-progress-bar *ngIf="showAdjuntar() && value > 0" style="margin: 0 5px; width: 10%;" [color]="color" [mode]="mode" [value]="value" [bufferValue]="bufferValue"></mat-progress-bar>
</div>