:host {

    .content {
  
        form {
            width: 100%;
        }
  
        .form-errors-model {
            flex: 1;
  
            code {
                background: none !important;
            }
        }
    }
}

table {
    width: 100%;
}

.mat-form-field-table {
    width: 100%;
}
  
tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-ACTIONS{
    width: 5% !important;
}

.mat-column-ID{
    width: 5% !important;
}

.mat-column-PLACE{
    width: 30% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-DISTA{
    width: 9% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-ZONNA{
    width: 6% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PRINI{
    width: 9% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PRTER{
    width: 9% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-DIASS{
    width: 7% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-CUODI{
    width: 10% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-IMPCM{
    width: 10% !important;
    padding-left: 3px;
}

.mat-column-COMPA{
    width: 11% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-VUELO{
    width: 5% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-SALID{
    width: 17% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-FECSL{
    width: 9% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-HORSL{
    width: 6% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-LLEGA{
    width: 17% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-FECLL{
    width: 9% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-HORLL{
    width: 6% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-IMPOR{
    width: 10% !important;
    padding-left: 3px;
}

::ng-deep .mat-column-ACTIONS div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-ID div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-PLACE div.mat-form-field-infix { width: 30% !important;}
::ng-deep .mat-column-DISTA div.mat-form-field-infix { width: 9% !important;}
::ng-deep .mat-column-ZONNA div.mat-form-field-infix { width: 6% !important;}
::ng-deep .mat-column-PRINI div.mat-form-field-infix { width: 9% !important;}
::ng-deep .mat-column-PRTER div.mat-form-field-infix { width: 9% !important;}
::ng-deep .mat-column-DIASS div.mat-form-field-infix { width: 7% !important;}
::ng-deep .mat-column-CUODI div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-IMPCM div.mat-form-field-infix { width: 10% !important;}

::ng-deep .mat-column-COMPA div.mat-form-field-infix { width: 11% !important;}
::ng-deep .mat-column-VUELO div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-SALID div.mat-form-field-infix { width: 17% !important;}
::ng-deep .mat-column-FECSL div.mat-form-field-infix { width: 9% !important;}
::ng-deep .mat-column-HORSL div.mat-form-field-infix { width: 6% !important;}
::ng-deep .mat-column-LLEGA div.mat-form-field-infix { width: 17% !important;}
::ng-deep .mat-column-FECLL div.mat-form-field-infix { width: 9% !important;}
::ng-deep .mat-column-HORLL div.mat-form-field-infix { width: 6% !important;}
::ng-deep .mat-column-IMPOR div.mat-form-field-infix { width: 10% !important;}