<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_via.STTUS != '1'" (click)="clear('N')">
                <mat-icon class="s-18" matTooltip="Nueva Comisión"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_via.STTUS == '1'" (click)="saveInformation('SI','')">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_via.STTUS == '1'" (click)="clear('C')">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_via.STTUS == '1'" (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_via.STTUS == '1'" (click)="saveInformation('CF','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Crear Formato"><i class="fas fa-print"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_via.STTUS == '2' || f_drf_frm_via.STTUS == '3'" (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drf_frm_via.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_via.FOLIO.length > 0 && f_drf_frm_via.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drf_frm_via.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_via.FOLIO.length == 30" style="padding-top: 5px;">
                ...{{f_drf_frm_via.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_via.FOLIO.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drf_frm_via.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Finanzas</span>
                </div>
                <div class="h1 mt-16">Viáticos</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24"> 
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Comisionado</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Región" [(ngModel)]="f_drf_frm_via.REGIO" name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Adscripción" [(ngModel)]="f_drf_frm_via.ADSCR" name="ADSCR" disabled>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSCR">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Puesto" [(ngModel)]="f_drf_frm_via.PUEST" name="PUEST" disabled>
                                <mat-option *ngFor="let p of puestos" [value]="p.PUEST">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput placeholder="Nivel" [(ngModel)]="f_drf_frm_via.NIVEL" name="NIVEL" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput placeholder="# Empleado" [(ngModel)]="names.NUEMP" name="NUEMP" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="60" class="pr-4">
                            <mat-select placeholder="Nombre" [(ngModel)]="f_drf_frm_via.USUAR" name="USUAR" disabled>
                                <mat-option *ngFor="let f of funcionarios" [value]="f.CUSER">
                                    {{f.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Lugar de Partida</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Ciudad" [(ngModel)]="f_drf_frm_via.CIUPR" name="CIUPR" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4">
                            <input matInput placeholder="Estado" [(ngModel)]="f_drf_frm_via.ESTPR" name="ESTPR" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="País" [(ngModel)]="f_drf_frm_via.PAIPR" name="PAIPR" disabled>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos de la Comisión</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="15" class="pr-4">
                            <mat-select placeholder="Tipo de Viáticos" [(ngModel)]="f_drf_frm_via.TPVIA" name="TPVIA" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let tv of tipoViaticos" [value]="tv.TPVIA">
                                    {{tv.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="35" class="pr-4">
                            <mat-select placeholder="Paquete" [(ngModel)]="f_drf_frm_via.PAQUE" name="PAQUE" (ngModelChange)="changePackage()" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let p of paquetes" [value]="p.PAQUE">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <mat-select placeholder="Medio de Pago" [(ngModel)]="f_drf_frm_via.MDPAG" name="MDPAG" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let mp of medioPagos" [value]="mp.MDPAG">
                                    {{mp.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput placeholder="Total Solicitado" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_via.TTSOL" name="TTSOL" disabled>
                            <mat-hint>Viáticos + Gasolina y Peajes</mat-hint>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput placeholder="Días Viáticados" currencyMask [options]="{ align: 'center', prefix: '', precision: 1 }" [(ngModel)]="names.TDIAS" name="TDIAS" disabled>
                        </mat-form-field>
                        <label *ngIf="showAUPDF()">Oficio de Autorización:</label>&nbsp;
                        <input id="AUPDF" type="file" (change)="fileChange($event.target.files, 'AUPDF')" hidden>
                        <input name="AUPDF" [(ngModel)]="f_drf_frm_via.AUPDF" [ngClass]="{'error':valGnr('AUPDF')}" hidden>
                        <circle-progress *ngIf="showAUPDF()" (click)="openInput('AUPDF')" [ngStyle]="{'cursor': f_drf_frm_via.STTUS == '1' ? 'pointer':'default'}"
                        [percent]=p_drf_frm_via.AUPDF
                        [radius]="17"
                        [outerStrokeWidth]="2"
                        [space] = "-2"
                        [outerStrokeColor]="'#007BFF'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle] = "false"
                        [showTitle] = "false"
                        [showUnits] = "false"
                        [showImage] = "true"
                        [imageSrc] = "'assets/images/icons/paperclip.svg'"
                        [imageHeight] = 15
                        [imageWidth] = 15
                        [backgroundPadding] = -2
                        [showInnerStroke] = "false"
                        [startFromZero]="false"
                        [showZeroOuterStroke]="false"
                        [renderOnClick]="false"
                        ></circle-progress>
                        &nbsp;
                        <mat-icon *ngIf="f_drf_frm_via.AUPDF.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('AUPDF')"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                        <mat-icon *ngIf="f_drf_frm_via.AUPDF.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                    </div>
                    <br>
                    <table mat-table [dataSource]="dataSourceDestinies" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ERROR Column -->
                        <ng-container matColumnDef="ERROR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" hidden>Error</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" hidden>
                                <mat-form-field class="mat-form-field-table" style="text-align: center">
                                    <input matInput [(ngModel)]="element.ERROR" name="ERROR{{i}}" required>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef hidden>&nbsp;</td>
                        </ng-container>
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" width="5%">
                                <span *ngIf="f_drf_frm_via_des.length < 5 && !disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'" onmouseover="this.style.color='#28a745'" (click)="addRowD()"><i class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" style="text-align: center !important; color: gray;">
                                <span *ngIf="f_drf_frm_via_des.length > 1 && !disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'" onmouseover="this.style.color='#dc3545'" (click)="removeRowD(i)"><i class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- PLACE Column -->
                        <ng-container matColumnDef="PLACE">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Ubicación</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="infoAddress($event,i)" [(ngModel)]="element.PLACE" name="PLACE{{i}}" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- DISTA Column -->
                        <ng-container matColumnDef="DISTA">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Distancia(Km)</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput currencyMask [options]="{ align: 'center', prefix: '', precision: 2 }" [(ngModel)]="element.DISTA" name="DISTA{{i}}" disabled>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ZONNA Column -->
                        <ng-container matColumnDef="ZONNA">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Zona</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" style="text-align: center;">
                                    <input matInput [(ngModel)]="element.ZONNA" name="ZONNA{{i}}" disabled>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- PRINI Column -->
                        <ng-container matColumnDef="PRINI">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Periodo Inicio</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valDes(element.PRINI, element, 'PRINI', i)}">
                                    <input matInput [matDatepicker]="fi" [(ngModel)]="element.PRINI" name="PRINI{{i}}" (ngModelChange)="diffDays(i)" [errorStateMatcher]="error" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fi"></mat-datepicker-toggle>
                                    <mat-datepicker #fi [disabled]="disabled()"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- PRTER Column -->
                        <ng-container matColumnDef="PRTER">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Periodo de Término</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valDes(element.PRTER, element, 'PRTER', i)}">
                                    <input matInput [matDatepicker]="ff" [(ngModel)]="element.PRTER" name="PRTER{{i}}" (ngModelChange)="diffDays(i)" [errorStateMatcher]="error" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="ff"></mat-datepicker-toggle>
                                    <mat-datepicker #ff [disabled]="disabled()"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- DIASS Column -->
                        <ng-container matColumnDef="DIASS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Dias</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valDes(element.DIASS, element, 'DIASS', i)}">
                                    <input matInput currencyMask [options]="{ align: 'center', prefix: '', precision: 1 }" [(ngModel)]="element.DIASS" name="DIASS{{i}}" (ngModelChange)="impComision(i)" [errorStateMatcher]="error" [disabled]="disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: center" [ngStyle]="{'color': valDias() ? 'red':''}">{{f_drf_frm_via.TTDIA}}</td>
                        </ng-container>
                        <!-- CUODI Column -->
                        <ng-container matColumnDef="CUODI">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Cuota</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="element.CUODI" name="CUODI{{i}}" disabled>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- IMPCM Column -->
                        <ng-container matColumnDef="IMPCM">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Importe</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="element.IMPCM" name="IMPCM{{i}}" disabled>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{f_drf_frm_via.TTVIA | currency}}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDestinies"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDestinies;"></tr>
                        <tr mat-footer-row *matFooterRowDef="columnsToDestinies"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start" *ngIf="f_drf_frm_via.MDPAG == 'D'">
                    <mat-card-header>
                        <mat-card-title>Datos Bancarios</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="33" class="pr-4" [ngClass]="{'error':valGnr('BANCO')}">
                            <input matInput placeholder="Banco" [(ngModel)]="f_drf_frm_via.BANCO" name="BANCO" maxlength="100" [errorStateMatcher]="error">
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4" [ngClass]="{'error':valGnr('SUCUR')}">
                            <input matInput placeholder="Sucursal" [(ngModel)]="f_drf_frm_via.SUCUR" name="SUCUR" maxlength="50" [errorStateMatcher]="error">
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4" [ngClass]="{'error':valGnr('CLABE')}">
                            <input matInput placeholder="CLABE" [(ngModel)]="f_drf_frm_via.CLABE" name="CLABE" maxlength="30" [errorStateMatcher]="error">
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Medio de Transporte</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Medio de Transporte" [(ngModel)]="f_drf_frm_via.MDTRA" name="MDTRA" (ngModelChange)="f_drf_frm_via.CZPDF=''; p_drf_frm_via.CZPDF=0; f_drf_frm_via.GSYPE=0; updateSolicitado(); transporteSelect()" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let mt of medioTransportes" [value]="mt.MDTRA">
                                    {{mt.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4" *ngIf="showGSYPE()" [ngClass]="{'error':valGnr('GSYPE')}">
                            <input matInput placeholder="Gasolina y Peajes" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_via.GSYPE" name="GSYPE" (ngModelChange)="updateSolicitado()" [errorStateMatcher]="error" [disabled]="disabled()">
                        </mat-form-field>
                        <label *ngIf="showCZPDF()">Cotización de Boletos:</label>&nbsp;
                        <input id="CZPDF" type="file" (change)="fileChange($event.target.files, 'CZPDF')" hidden>
                        <input name="CZPDF" [(ngModel)]="f_drf_frm_via.CZPDF" [ngClass]="{'error':valGnr('CZPDF')}" hidden>
                        <circle-progress *ngIf="showCZPDF()" (click)="openInput('CZPDF')" [ngStyle]="{'cursor': f_drf_frm_via.STTUS == '1' ? 'pointer':'default'}"
                        [percent]=p_drf_frm_via.CZPDF
                        [radius]="17"
                        [outerStrokeWidth]="2"
                        [space] = "-2"
                        [outerStrokeColor]="'#007BFF'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle] = "false"
                        [showTitle] = "false"
                        [showUnits] = "false"
                        [showImage] = "true"
                        [imageSrc] = "'assets/images/icons/paperclip.svg'"
                        [imageHeight] = 15
                        [imageWidth] = 15
                        [backgroundPadding] = -2
                        [showInnerStroke] = "false"
                        [startFromZero]="false"
                        [showZeroOuterStroke]="false"
                        [renderOnClick]="false"
                        ></circle-progress>
                        &nbsp;
                        <mat-icon *ngIf="f_drf_frm_via.CZPDF.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('CZPDF')"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                        <mat-icon *ngIf="f_drf_frm_via.CZPDF.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start" *ngIf="showCZPDF()">
                    <mat-card-header>
                        <mat-card-title>Características de los Boletos</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSourceTickets" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ERROR Column -->
                        <ng-container matColumnDef="ERROR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" hidden>Error</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" hidden>
                                <mat-form-field class="mat-form-field-table" style="text-align: center">
                                    <input matInput [(ngModel)]="element.ERROR" name="ERROR{{i}}" required>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef hidden>&nbsp;</td>
                        </ng-container>
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" width="5%">
                                <span *ngIf="f_drf_frm_via_bol.length < 5 && !disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'" onmouseover="this.style.color='#28a745'" (click)="addRowT()"><i class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" style="text-align: center !important; color: gray;">
                                <span *ngIf="f_drf_frm_via_bol.length > 1 && !disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'" onmouseover="this.style.color='#dc3545'" (click)="removeRowT(i)"><i class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- COMPA Column -->
                        <ng-container matColumnDef="COMPA">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Compañia</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valTick(element.COMPA, element, 'COMPA', i)}">
                                    <input matInput [(ngModel)]="element.COMPA" name="COMPA{{i}}" [errorStateMatcher]="error" [disabled]="disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- VUELO Column -->
                        <ng-container matColumnDef="VUELO">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Vuelo</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.VUELO" name="VUELO{{i}}" [disabled]="disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- SALID Column -->
                        <ng-container matColumnDef="SALID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Origen</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valTick(element.SALID, element, 'SALID', i)}">
                                    <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" [(ngModel)]="element.SALID" name="SALID{{i}}" (onAddressChange)="addressTickets($event,i,'SALID')" [errorStateMatcher]="error" [disabled]="disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- FECSL Column -->
                        <ng-container matColumnDef="FECSL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Fecha Salida</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valTick(element.FECSL, element, 'FECSL', i)}">
                                    <input matInput [matDatepicker]="fi" [(ngModel)]="element.FECSL" name="FECSL{{i}}" disabled [errorStateMatcher]="error">
                                    <mat-datepicker-toggle matSuffix [for]="fi"></mat-datepicker-toggle>
                                    <mat-datepicker #fi [disabled]="disabled()"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- HORSL Column -->
                        <ng-container matColumnDef="HORSL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Hora Salida</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" style="text-align: center;" [ngClass]="{'error':valTick(element.HORSL, element, 'HORSL', i)}">
                                    <input matInput type="time" [(ngModel)]="element.HORSL" name="HORSL{{i}}" [errorStateMatcher]="error" [disabled]="disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- LLEGA Column -->
                        <ng-container matColumnDef="LLEGA">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Destino</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valTick(element.LLEGA, element, 'LLEGA', i)}">
                                    <input matInput ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" [(ngModel)]="element.LLEGA" name="LLEGA{{i}}" (onAddressChange)="addressTickets($event,i,'LLEGA')" [errorStateMatcher]="error" [disabled]="disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- FECLL Column -->
                        <ng-container matColumnDef="FECLL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Fecha Llegada</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valTick(element.FECLL, element, 'FECLL', i)}">
                                    <input matInput [matDatepicker]="ff" [(ngModel)]="element.FECLL" name="FECLL{{i}}" disabled [errorStateMatcher]="error">
                                    <mat-datepicker-toggle matSuffix [for]="ff"></mat-datepicker-toggle>
                                    <mat-datepicker #ff [disabled]="disabled()"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- HORLL Column -->
                        <ng-container matColumnDef="HORLL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Hora Llegada</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" style="text-align: center;" [ngClass]="{'error':valTick(element.HORLL, element, 'HORLL', i)}">
                                    <input matInput type="time" [(ngModel)]="element.HORLL" name="HORLL{{i}}" [errorStateMatcher]="error" [disabled]="disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- IMPOR Column -->
                        <ng-container matColumnDef="IMPOR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Importe</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valTick(element.IMPOR, element, 'IMPOR', i)}">
                                    <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="element.IMPOR" name="IMPOR{{i}}" (ngModelChange)="updateTickets()" [errorStateMatcher]="error" [disabled]="disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{f_drf_frm_via.TTBOL | currency}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToTickets"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToTickets;"></tr>
                        <tr mat-footer-row *matFooterRowDef="columnsToTickets"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Objetivo de la Comisión</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" [(ngModel)]="f_drf_frm_via.OBCOM" name="OBCOM" [errorStateMatcher]="error" [disabled]="disabled()" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Justificación</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" [(ngModel)]="f_drf_frm_via.JUSTI" name="JUSTI" [errorStateMatcher]="error" [disabled]="disabled()" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Observaciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" [(ngModel)]="f_drf_frm_via.OBSER" name="OBSER" [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Solicita y Recibe Viáticos</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Nombre del Funcionario" [(ngModel)]="names.SLNOM" name="SLNOM" disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.SLPUE" name="SLPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <span class="spacer"></span>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Autoriza Comisión</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drf_frm_via.AUTOR" name="AUTOR" (ngModelChange)="puesto(f_drf_frm_via.AUTOR, 'AUPUE')" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                    <ngx-mat-select-search [formControl]="AUFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredAU | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.AUPUE" name="AUPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>
    
    
    