<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdv.STTUS != '1'" (click)="clear('N')">
                <mat-icon class="s-18" matTooltip="Nueva Comprobación"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdv.STTUS == '1'" (click)="saveInformation('SI','')" [disabled]="disabledSave()">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdv.STTUS == '1'" (click)="clear('C')">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdv.STTUS == '1'" (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdv.STTUS == '1'" (click)="saveInformation('CF','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Crear Formato"><i class="fas fa-print"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_cdv.STTUS == '2' || f_drf_frm_cdv.STTUS == '3'" (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drf_frm_cdv.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_cdv.FOLIO.length > 0" style="padding-top: 5px;">
                {{f_drf_frm_cdv.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_cdv.FOLIO.length == 0" style="padding-top: 5px;">
                COMISIÓN NO SELECCIONADA&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_cdv.COMPR.length > 0 && f_drf_frm_cdv.COMPR.length < 30" style="padding-top: 5px;">
                {{f_drf_frm_cdv.COMPR}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_cdv.COMPR.length == 30" style="padding-top: 5px;">
                ...{{f_drf_frm_cdv.COMPR.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_cdv.COMPR.length == 0" style="padding-top: 5px;">
                SIN COMPROBACIÓN&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drf_frm_cdv.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Finanzas</span>
                </div>
                <div class="h1 mt-16">Comprobación de Viáticos</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24"> 
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Comisionado</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Región" [(ngModel)]="f_drf_frm_cdv.REGIO" name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Adscripción" [(ngModel)]="f_drf_frm_cdv.ADSCR" name="ADSCR" disabled>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSCR">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Puesto" [(ngModel)]="f_drf_frm_cdv.PUEST" name="PUEST" disabled>
                                <mat-option *ngFor="let p of puestos" [value]="p.PUEST">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput placeholder="Nivel" [(ngModel)]="f_drf_frm_cdv.NIVEL" name="NIVEL" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput placeholder="# Empleado" [(ngModel)]="names.NUEMP" name="NUEMP" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="60" class="pr-4">
                            <mat-select placeholder="Nombre" [(ngModel)]="f_drf_frm_cdv.USUAR" name="USUAR" disabled>
                                <mat-option *ngFor="let f of funcionarios" [value]="f.CUSER">
                                    {{f.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos de la Comisión</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Comisión" [(ngModel)]="f_drf_frm_cdv.FOLIO" name="FOLIO" (ngModelChange)="f_drf_frm_cdv.LUGAR = null; selectFolio()" [errorStateMatcher]="error" required [disabled]="disabled() || f_drf_frm_cdv.COMPR != ''">
                                <mat-option *ngFor="let c of comisiones" [value]="c.FOLIO">
                                    {{c.FOLIO}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="40" class="pr-4">
                            <mat-select placeholder="Lugar" [(ngModel)]="f_drf_frm_cdv.LUGAR" name="LUGAR" (ngModelChange)="selectLugar()" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let l of lugares" [value]="l.ID">
                                    {{l.PLACE}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput [matDatepicker]="pi" placeholder="Periodo Inicio" [(ngModel)]="names.PRINI" name="PRINI" disabled>
                            <mat-datepicker #pi></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput [matDatepicker]="pt" placeholder="Periodo Término" [(ngModel)]="names.PRTER" name="PRTER" disabled>
                            <mat-datepicker #pt></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Tipo de Viáticos" [(ngModel)]="names.TPVIA" name="TPVIA" disabled>
                                <mat-option *ngFor="let tv of tipoViaticos" [value]="tv.TPVIA">
                                    {{tv.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Medio de Pago" [(ngModel)]="names.MDPAG" name="MDPAG" disabled>
                                <mat-option *ngFor="let mp of medioPagos" [value]="mp.MDPAG">
                                    {{mp.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input placeholder="# Pago" matInput [(ngModel)]="f_drf_frm_cdv.NMPAG" name="NMPAG" [errorStateMatcher]="error" [disabled]="disabled()" required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="{{names.LBLMN}}" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="names.TTVIA" name="TTVIA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Gastos con Comprobante" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_cdv.GSCCM" name="GSCCM" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Gastos sin Comprobante" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_cdv.GSSCM" name="GSSCM" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Total de Gastos" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_cdv.TTGTS" name="TTGTS" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Diferencia" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_cdv.DIFER" name="DIFER" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Recibo de Ingresos" [(ngModel)]="f_drf_frm_cdv.NMRIN" name="NMRIN" maxlength="30" [errorStateMatcher]="error" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Monto Reintegrado" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_cdv.MNRIN" name="MNRIN" (ngModelChange)="updateTotal()" [errorStateMatcher]="error" [disabled]="!f_drf_frm_cdv.NMRIN || disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4" [ngClass]="{'error':valRem()}">
                            <input matInput placeholder="Remanente de la Comisión" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_cdv.RMCMS" name="RMCMS" [errorStateMatcher]="error" disabled>
                        </mat-form-field>            
                    </div>            
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Gastos con Comprobante</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSourceGCC" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" width="5%">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="style.color='gray'" onmouseover="style.color='#28a745'" (click)="addRowGCC()"><i class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" style="text-align: center !important; color: gray;">
                                <span *ngIf="f_drf_frm_cdv_gcc.length > 1 && !disabled()" style="cursor: pointer;" onmouseout="style.color='gray'" onmouseover="style.color='#dc3545'" (click)="removeRowGCC(i)"><i class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- XXMLL Column -->
                        <ng-container matColumnDef="XXMLL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">XML</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div fxLayoutAlign="center center">
                                    <input id="XXMLL{{i}}" type="file" (change)="fileChange($event.target.files, 'XXMLL', i, 'GCC')" hidden>
                                    <input name="XXMLL{{i}}" [(ngModel)]="element.XXMLL" [ngClass]="{'error':valGCC(element.XXMLL, element, 'XXMLL', i)}" hidden>
                                    <circle-progress *ngIf="f_drf_frm_cdv_gcc[i].ERROR" (click)="openInput('XXMLL'+i)" [ngStyle]="{'cursor': f_drf_frm_cdv.STTUS == '1' && f_drf_frm_cdv.FOLIO ? 'pointer':'not-allowed'}"
                                    [percent]=p_drf_frm_cdv_gcc[i].XXMLL
                                    [radius]="17"
                                    [outerStrokeWidth]="2"
                                    [space] = "-2"
                                    [outerStrokeColor]="'#007BFF'"
                                    [animation]="true"
                                    [animationDuration]="300"
                                    [showSubtitle] = "false"
                                    [showTitle] = "false"
                                    [showUnits] = "false"
                                    [showImage] = "true"
                                    [imageSrc] = "'assets/images/icons/paperclip.svg'"
                                    [imageHeight] = 15
                                    [imageWidth] = 15
                                    [backgroundPadding] = -2
                                    [showInnerStroke] = "false"
                                    [startFromZero]="false"
                                    [showZeroOuterStroke]="false"
                                    [renderOnClick]="false"
                                    ></circle-progress>
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- PPDFF Column -->
                        <ng-container matColumnDef="PPDFF">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">PDF</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div fxLayoutAlign="center center">
                                    <input id="PDFGC{{i}}" type="file" (change)="fileChange($event.target.files, 'PPDFF', i, 'GCC')" hidden>
                                    <input name="PDFGC{{i}}" [(ngModel)]="element.PPDFF" [ngClass]="{'error':valGCC(element.PPDFF, element, 'PPDFF', i)}" hidden>
                                    <circle-progress *ngIf="f_drf_frm_cdv_gcc[i].ERROR" (click)="openInput('PDFGC'+i)" [ngStyle]="{'cursor': f_drf_frm_cdv.STTUS == '1' && f_drf_frm_cdv.FOLIO ? 'pointer':'not-allowed'}"
                                    [percent]=p_drf_frm_cdv_gcc[i].PPDFF
                                    [radius]="17"
                                    [outerStrokeWidth]="2"
                                    [space] = "-2"
                                    [outerStrokeColor]="'#007BFF'"
                                    [animation]="true"
                                    [animationDuration]="300"
                                    [showSubtitle] = "false"
                                    [showTitle] = "false"
                                    [showUnits] = "false"
                                    [showImage] = "true"
                                    [imageSrc] = "'assets/images/icons/paperclip.svg'"
                                    [imageHeight] = 15
                                    [imageWidth] = 15
                                    [backgroundPadding] = -2
                                    [showInnerStroke] = "false"
                                    [startFromZero]="false"
                                    [showZeroOuterStroke]="false"
                                    [renderOnClick]="false"
                                    ></circle-progress>
                                    <label>&nbsp;</label>
                                    <mat-icon *ngIf="element.PPDFF.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('PPDFF', i, 'GCC')"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                                    <mat-icon *ngIf="element.PPDFF.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- FACDV Column -->
                        <ng-container matColumnDef="FACDV">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Factura Dividida</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valGCC(element.FACDV, element, 'FACDV', i)}">
                                    <input matInput currencyMask [options]="{ align: 'center', prefix: '', precision: 0 }" [(ngModel)]="element.FACDV" name="FACDV{{i}}" [errorStateMatcher]="error" [disabled]="!f_drf_frm_cdv_gcc[i].ERROR || disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- NMDOC Column -->
                        <ng-container matColumnDef="NMDOC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Documento</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.NMDOC" name="NMDOC{{i}}" disabled>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- FCDOC Column -->
                        <ng-container matColumnDef="FCDOC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Fecha</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [matDatepicker]="fd" [(ngModel)]="element.FCDOC" name="FCDOC{{i}}" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fd"></mat-datepicker-toggle>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- RRFCC Column -->
                        <ng-container matColumnDef="RRFCC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">RFC</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.RRFCC" name="RRFCC{{i}}" disabled>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- CNGCC Column -->
                        <ng-container matColumnDef="CNGCC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Concepto</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.CNGCC" name="CNGCC{{i}}" (ngModelChange)="getReqcom(i, element.CNGCC)" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <ngx-mat-select-search [formControl]="GCCFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                        <mat-option *ngFor="let gc of filteredGCC | async" [value]="gc.CNGCC">
                                            {{gc.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- TOTFC Column -->
                        <ng-container matColumnDef="TOTFC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Importe Comprobante</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="element.TOTFC" name="TOTFC{{i}}" disabled>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">&nbsp;</td>
                        </ng-container>
                        <!-- IMACM Column -->
                        <ng-container matColumnDef="IMACM">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Importe a Comprobar</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valGCC(element.IMACM, element, 'IMACM', i)}">
                                    <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="element.IMACM" name="IMACM{{i}}" (ngModelChange)="updateGCC()" [errorStateMatcher]="error" [disabled]="!f_drf_frm_cdv_gcc[i].ERROR || disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{ f_drf_frm_cdv.GSCCM | currency }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToGCC"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToGCC;"></tr>
                        <tr mat-footer-row *matFooterRowDef="columnsToGCC"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Gastos sin Comprobante</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSourceGSC" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;" width="5%">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="style.color='gray'" onmouseover="style.color='#28a745'" (click)="addRowGSC()"><i class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" style="text-align: center !important; color: gray;">
                                <span *ngIf="f_drf_frm_cdv_gsc.length > 1 && !disabled()" style="cursor: pointer;" onmouseout="style.color='gray'" onmouseover="style.color='#dc3545'" (click)="removeRowGSC(i)"><i class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- PPDFF Column -->
                        <ng-container matColumnDef="PPDFF">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">PDF</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div fxLayoutAlign="center center">
                                    <input id="PDFGS{{i}}" type="file" (change)="fileChange($event.target.files, 'PPDFF', i, 'GSC')" hidden>
                                    <input name="PDFGS{{i}}" [(ngModel)]="element.PPDFF" [ngClass]="{'error':valGSC(element.PPDFF, element, 'PDFGS', i)}" hidden>
                                    <circle-progress (click)="openInput('PDFGS'+i)" [ngStyle]="{'cursor': f_drf_frm_cdv.STTUS == '1' && f_drf_frm_cdv.FOLIO ? 'pointer':'not-allowed'}"
                                    [percent]=p_drf_frm_cdv_gsc[i].PPDFF
                                    [radius]="17"
                                    [outerStrokeWidth]="2"
                                    [space] = "-2"
                                    [outerStrokeColor]="'#007BFF'"
                                    [animation]="true"
                                    [animationDuration]="300"
                                    [showSubtitle] = "false"
                                    [showTitle] = "false"
                                    [showUnits] = "false"
                                    [showImage] = "true"
                                    [imageSrc] = "'assets/images/icons/paperclip.svg'"
                                    [imageHeight] = 15
                                    [imageWidth] = 15
                                    [backgroundPadding] = -2
                                    [showInnerStroke] = "false"
                                    [startFromZero]="false"
                                    [showZeroOuterStroke]="false"
                                    [renderOnClick]="false"
                                    ></circle-progress>
                                    <label>&nbsp;</label>
                                    <mat-icon *ngIf="element.PPDFF.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('PPDFF', i, 'GSC')"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                                    <mat-icon *ngIf="element.PPDFF.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                                </div>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- FECGS Column -->
                        <ng-container matColumnDef="FECGS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Fecha</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valGSC(element.FECGS, element, 'FECGS', i)}">
                                    <input matInput [matDatepicker]="fg" [(ngModel)]="element.FECGS" name="FECGS{{i}}" [errorStateMatcher]="error" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fg"></mat-datepicker-toggle>
                                    <mat-datepicker #fg [disabled]="!element.PPDFF || disabled()"></mat-datepicker>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- CNGSC Column -->
                        <ng-container matColumnDef="CNGSC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Concepto</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valGSC(element.CNGSC, element, 'CNGSC', i)}">
                                    <mat-select [(ngModel)]="element.CNGSC" name="CNGSC{{i}}" [errorStateMatcher]="error" [disabled]="!element.PPDFF || disabled()">
                                        <ngx-mat-select-search [formControl]="GSCFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                        <mat-option *ngFor="let gs of filteredGSC | async" [value]="gs.CNGSC">
                                            {{gs.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- IMPOR Column -->
                        <ng-container matColumnDef="IMPOR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Importe</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" [ngClass]="{'error':valGSC(element.IMPOR, element, 'IMPOR', i)}">
                                    <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="element.IMPOR" name="IMPOR{{i}}"  (ngModelChange)="updateGSC()" [errorStateMatcher]="error" [disabled]="!element.PPDFF || disabled()">
                                </mat-form-field>
                            </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{ f_drf_frm_cdv.GSSCM | currency }}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToGSC"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToGSC;"></tr>
                        <tr mat-footer-row *matFooterRowDef="columnsToGSC"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Observaciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" [(ngModel)]="f_drf_frm_cdv.OBSER" name="OBSER" [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Informe de la Comisión</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="60" class="pr-4">
                            <mat-select placeholder="Dirigido a" [(ngModel)]="f_drf_frm_cdv.DIRIA" name="DIRIA" (ngModelChange)="puesto(f_drf_frm_cdv.DIRIA)" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <ngx-mat-select-search [formControl]="RCFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                <mat-option *ngFor="let ff of filteredRC | async" [value]="ff.CUSER">
                                    {{ff.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="names.INFOR" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4">
                            <mat-select placeholder="Lugar" [(ngModel)]="f_drf_frm_cdv.LUGAR" name="2LUGR" disabled>
                                <mat-option *ngFor="let l of lugares" [value]="l.ID">
                                    {{l.PLACE}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput [matDatepicker]="pi2" placeholder="Periodo Inicio" [(ngModel)]="names.PRINI" name="2PRIN" disabled>
                            <mat-datepicker #pi2></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput [matDatepicker]="pt2" placeholder="Periodo Término" [(ngModel)]="names.PRTER" name="2PRTR" disabled>
                            <mat-datepicker #pt2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div *ngIf="names.INFOR" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4" [ngClass]="{'error':valGnr('PROPO')}">
                            <textarea matInput placeholder="Propósito u Objetivo de la Comisión" rows="5" [(ngModel)]="f_drf_frm_cdv.PROPO" name="PROPO" [errorStateMatcher]="error" [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                    <div *ngIf="names.INFOR" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4" [ngClass]="{'error':valGnr('ACTIV')}">
                            <textarea matInput placeholder="Actividades Desarrolladas Para el Logro del Objetivo de la Comisión" rows="5" [(ngModel)]="f_drf_frm_cdv.ACTIV" name="ACTIV" [errorStateMatcher]="error" [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                    <div *ngIf="names.INFOR" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4" [ngClass]="{'error':valGnr('RESUL')}">
                            <textarea matInput placeholder="Resultados" rows="5" [(ngModel)]="f_drf_frm_cdv.RESUL" name="RESUL" [errorStateMatcher]="error" [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                    <div *ngIf="names.INFOR" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4" [ngClass]="{'error':valGnr('CONTR')}">
                            <textarea matInput placeholder="Contribuciones para la Entidad" rows="5" [(ngModel)]="f_drf_frm_cdv.CONTR" name="CONTR" [errorStateMatcher]="error" [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Entrega</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Nombre del Funcionario" [(ngModel)]="names.SLNOM" name="SLNOM" disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.SLPUE" name="SLPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <span class="spacer"></span>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Recibe</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Nombre del Funcionario" [(ngModel)]="names.RCNOM" name="RCNOM" disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.RCPUE" name="RCPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>
