:host {

    .content {
  
        form {
            width: 100%;
        }
  
        .form-errors-model {
            flex: 1;
  
            code {
                background: none !important;
            }
        }
    }
}

table {
    width: 100%;
}

.mat-form-field-table {
    width: 100%;
}
  
tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-ACTIONS{
    width: 5% !important;
}

.mat-column-ID{
    width: 5% !important;
}

.mat-column-XXMLL{
    width: 5% !important;
}

.mat-column-PPDFF{
    width: 5% !important;
}

.mat-column-FACDV{
    width: 5% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-NMDOC{
    width: 10% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-FCDOC{
    width: 10% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-RRFCC{
    width: 15% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-CNGCC{
    width: 20% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-TOTFC{
    width: 10% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-IMACM{
    width: 10% !important;
    padding-left: 3px;
}

.mat-column-FECGS{
    width: 10% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-CNGSC{
    width: 65% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-IMPOR{
    width: 10% !important;
    padding-left: 3px;
}

::ng-deep .mat-column-ACTIONS div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-ID div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-XXMLL div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-PPDFF div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-FACDV div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-NMDOC div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-FCDOC div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-RRFCC div.mat-form-field-infix { width: 15% !important;}
::ng-deep .mat-column-CNGCC div.mat-form-field-infix { width: 20% !important;}
::ng-deep .mat-column-TOTFC div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-IMACM div.mat-form-field-infix { width: 10% !important;}

::ng-deep .mat-column-FECGS div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-CNGSC div.mat-form-field-infix { width: 65% !important;}
::ng-deep .mat-column-IMPOR div.mat-form-field-infix { width: 10% !important;}