<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog('R','R')">
                <mat-icon class="s-18" matTooltip="Recuperar Usuario"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button (click)="openDialog('R','UP')">
                <mat-icon matBadge="{{countUP}}" matBadgeColor="accent" [matBadgeHidden]="countUP==0"
                    matBadgeSize="small" class="s-18" matTooltip="Usuarios Pendientes"><i class="fas fa-user-friends"></i>
                </mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_adm_frm_usr.STTUS == '1'" (click)="saveInformation()" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Guardar Usuario"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_adm_frm_usr.STTUS == '1'" (click)="clear()">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span *ngIf="f_adm_frm_usr.CUSER.length > 0" style="padding-top: 5px;">
                {{f_adm_frm_usr.CUSER}}&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_adm_frm_usr.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Administración</span>
                </div>
                <div class="h1 mt-16">Usuarios</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Usuario</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4" [ngClass]="{'error':valGnr(f_adm_frm_usr.CUSER, 'CUSER')}">
                            <input matInput placeholder="Usuario" [(ngModel)]="f_adm_frm_usr.CUSER" name="CUSER"
                                (blur)="valUser(f_adm_frm_usr.CUSER)" [errorStateMatcher]="error" [disabled]="type != 1" required>
                            <mat-error *ngIf="showErrorCUSER()">
                                El Usuario {{f_adm_frm_usr.CUSER}} ya existe
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Email" [(ngModel)]="f_adm_frm_usr.EMAIL" name="EMAIL"
                                [errorStateMatcher]="error" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4" [ngClass]="{'error':valGnr(f_adm_frm_usr.PASSW, 'PASSW')}">
                            <input matInput type="password" placeholder="Contraseña" [(ngModel)]="f_adm_frm_usr.PASSW"
                                name="PASSW" maxlength="30" [errorStateMatcher]="error">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Perfil" [(ngModel)]="f_adm_frm_usr.PERFL" name="PERFL"
                                [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let p of perfiles" [value]="p.PERFL">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-checkbox [(ngModel)]="f_adm_frm_usr.ENABL" name="ENABL" [labelPosition]="'before'">
                            Activo
                        </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Región" [(ngModel)]="aditional.DSREG" name="DSREG"
                            disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Adscripción" [(ngModel)]="aditional.ADSCR" name="ADSCR"
                            disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Puesto" [(ngModel)]="aditional.PUEST" name="PUEST"
                            disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Nombre(s)" [(ngModel)]="aditional.NAMEE" name="NAMEE"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Primer Apellido" [(ngModel)]="aditional.PRIAP" name="PRIAP"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Segundo Apellido" [(ngModel)]="aditional.SEGAP" name="SEGAP"
                                disabled>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Accesos del Sistema</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="10%">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                        </ng-container>
                        <!-- DESCR Column -->
                        <ng-container matColumnDef="DESCR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="80%">Descripción
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div style="display: flex; align-items: center;"
                                    [ngStyle]="{'margin-left': f_adm_frm_usr_acs[i].NIVEL*20+'px;'}">
                                    <mat-icon style="margin-right: 10px;">{{f_adm_frm_usr_acs[i].TICON}}</mat-icon>
                                    <span>{{element.DESCR}}</span>
                                </div>
                            </td>
                        </ng-container>
                        <!-- ACCES Column -->
                        <ng-container matColumnDef="ACCES">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="10%">Acceso</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" style="text-align: center;">
                                <mat-checkbox [(ngModel)]="element.ACCES" name="ACCES{{i}}"
                                    (ngModelChange)="selectItems(element,i)" [disabled]="i==0">
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                    </table>
                </mat-card>
            </div>
        </div>
    </form>
</div>