<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/conafe.png">
            </div>

            <div class="title"><br></div>

            <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">

                <mat-form-field>
                    <mat-label>Usuario</mat-label>
                    <input matInput type="text" [(ngModel)]="log.username" name="username" required>
                    <mat-icon matSuffix class="secondary-text">person</mat-icon>
                    <mat-error>
                        Usuario es requerido
                    </mat-error>
                </mat-form-field>
                <br><br>
                <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [(ngModel)]="log.password" name="password" required>
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Contraseña es requerida
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                        [disabled]="loginForm.form.invalid">
                    INICIAR SESIÓN
                </button>
            </form>
        </div>

    </div>

</div>
