<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_pap.STTUS != '1'" (click)="nuevo()">
                <mat-icon class="s-18" matTooltip="Nuevo Pago a Proveedores"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_pap.STTUS == '1'" (click)="saveInformation('SI','')">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_pap.STTUS == '1'" (click)="clean()">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_pap.STTUS == '1'" (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_pap.STTUS == '1'" (click)="saveInformation('CF','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Crear Formato"><i class="fas fa-print"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_pap.STTUS == '2' || f_drf_frm_pap.STTUS == '3'" (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drf_frm_pap.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_pap.FOLIO.length > 0 && f_drf_frm_pap.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drf_frm_pap.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_pap.FOLIO.length == 30" style="padding-top: 5px;">
                ...{{f_drf_frm_pap.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_pap.FOLIO.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drf_frm_pap.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 5px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Finanzas</span>
                </div>
                <div class="h1 mt-16">Pago a Proveedores</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24"> 
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos Generales</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Región" [(ngModel)]="f_drf_frm_pap.REGIO" name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Contrato/Pedido" [(ngModel)]="f_drf_frm_pap.CTRPD" name="CTRPD" (ngModelChange)="f_drf_frm_pap.REQUI='';getReq(f_drf_frm_pap.CTRPD)" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <ngx-mat-select-search [formControl]="CPFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                <mat-option *ngFor="let cp of filteredCP | async" [value]="cp.CTRPD">
                                    {{cp.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Requisición" [(ngModel)]="f_drf_frm_pap.REQUI" name="REQUI" (ngModelChange)="infoReq(f_drf_frm_pap.REQUI)" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let r of requisiciones" [value]="r.FOLIO">
                                    {{r.FOLIO}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <mat-select placeholder="Partida Presupuestal" [(ngModel)]="f_drf_frm_pap.PRTSP" name="PRTSP" disabled>
                                <mat-option *ngFor="let p of partidas" [value]="p.PRTSP">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <input matInput placeholder="Datos Bancarios" [(ngModel)]="f_drf_frm_pap.DTBAN" name="DTBAN" maxlength="100" [disabled]="disabled()" [errorStateMatcher]="error" required>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Facturas</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                <span style="cursor: pointer;" onmouseout="this.style.color='gray'" onmouseover="this.style.color='#28a745'" (click)="addRow()"><i class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" style="text-align: center !important; color: gray;">
                                <span *ngIf="f_drf_frm_pap_com.length > 1" style="cursor: pointer;" onmouseout="this.style.color='gray'" onmouseover="this.style.color='#dc3545'" (click)="removeRow(i)"><i class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="6%">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- NMDOC Column -->
                        <ng-container matColumnDef="NMDOC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="24%">Documento</th>
                            <td mat-cell *matCellDef="let element"> {{element.NMDOC}} </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- SUBTT Column -->
                        <ng-container matColumnDef="SUBTT">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="10%">Subtotal</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.SUBTT | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{f_drf_frm_pap.TTSUB | currency}}</td>
                        </ng-container>
                        <!-- IIVAA Column -->
                        <ng-container matColumnDef="IIVAA">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="10%">IVA</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.IIVAA | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{f_drf_frm_pap.TTIVA | currency}}</td>
                        </ng-container>
                        <!-- TOTAL Column -->
                        <ng-container matColumnDef="TOTAL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="10%">Total</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.TOTAL | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{f_drf_frm_pap.TTTOT | currency}}</td>
                        </ng-container>
                        <!-- RTISR Column -->
                        <ng-container matColumnDef="RTISR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="10%">R ISR</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.RTISR | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{f_drf_frm_pap.TTRIS | currency}}</td>
                        </ng-container>
                        <!-- RTIVA Column -->
                        <ng-container matColumnDef="RTIVA">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="10%">R IVA</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.RTIVA | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{f_drf_frm_pap.TTRIV | currency}}</td>
                        </ng-container>
                        <!-- TOTFC Column -->
                        <ng-container matColumnDef="TOTFC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center" width="10%">Monto</th>
                            <td mat-cell *matCellDef="let element" style="text-align: right"> {{element.TOTFC | currency}} </td>
                            <td mat-footer-cell *matFooterCellDef style="text-align: right">{{f_drf_frm_pap.TOTAL | currency}}</td>
                        </ng-container>
                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" [attr.colspan]="columnsToDisplay.length">
                                <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                    <div fxLayout="column" fxLayoutAlign="start" style="width: 100%;">
                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <div fxLayoutAlign="start center" fxFlex="100" class="pr-4">
                                                <label>XML:&nbsp;</label>
                                                <input id="XXMLL{{i}}" type="file" (change)="fileChange($event.target.files, 'XXMLL', i)" hidden>
                                                <input name="XXMLL{{i}}" [(ngModel)]="element.XXMLL" [ngClass]="{'error':valDet(element.XXMLL, 'XXMLL', i)}" hidden>
                                                <circle-progress *ngIf="!disabled()" (click)="openInput('XXMLL'+i)" [ngStyle]="{'cursor': 'pointer', 'padding-top': '5px' }"
                                                [percent]=p_drf_frm_pap_com[i].XXMLL
                                                [radius]="17"
                                                [outerStrokeWidth]="2"
                                                [space] = "-2"
                                                [outerStrokeColor]="'#007BFF'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = "false"
                                                [showTitle] = "false"
                                                [showUnits] = "false"
                                                [showImage] = "true"
                                                [imageSrc] = "'assets/images/icons/paperclip.svg'"
                                                [imageHeight] = 15
                                                [imageWidth] = 15
                                                [backgroundPadding] = -2
                                                [showInnerStroke] = "false"
                                                [startFromZero]="false"
                                                [showZeroOuterStroke]="false"
                                                [renderOnClick]="false"
                                                ></circle-progress>
                                                <circle-progress *ngIf="disabled()" [ngStyle]="{'padding-top': '5px' }"
                                                [percent]=p_drf_frm_pap_com[i].XXMLL
                                                [radius]="17"
                                                [outerStrokeWidth]="2"
                                                [space] = "-2"
                                                [outerStrokeColor]="'#007BFF'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = "false"
                                                [showTitle] = "false"
                                                [showUnits] = "false"
                                                [showImage] = "true"
                                                [imageSrc] = "'assets/images/icons/paperclip.svg'"
                                                [imageHeight] = 15
                                                [imageWidth] = 15
                                                [backgroundPadding] = -2
                                                [showInnerStroke] = "false"
                                                [startFromZero]="false"
                                                [showZeroOuterStroke]="false"
                                                [renderOnClick]="false"
                                                ></circle-progress>
                                                <label>&nbsp;</label>
                                                <label>&nbsp;&nbsp;PDF:&nbsp;</label>
                                                <input id="PPDFF{{i}}" type="file" (change)="fileChange($event.target.files, 'PPDFF', i)" hidden>
                                                <input name="PPDFF{{i}}" [(ngModel)]="element.PPDFF" [ngClass]="{'error':valDet(element.PPDFF, 'PPDFF', i)}" hidden>
                                                <circle-progress *ngIf="!disabled()" (click)="openInput('PPDFF'+i)" [ngStyle]="{'cursor': 'pointer', 'padding-top': '5px' }"
                                                [percent]=p_drf_frm_pap_com[i].PPDFF
                                                [radius]="17"
                                                [outerStrokeWidth]="2"
                                                [space] = "-2"
                                                [outerStrokeColor]="'#007BFF'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = "false"
                                                [showTitle] = "false"
                                                [showUnits] = "false"
                                                [showImage] = "true"
                                                [imageSrc] = "'assets/images/icons/paperclip.svg'"
                                                [imageHeight] = 15
                                                [imageWidth] = 15
                                                [backgroundPadding] = -2
                                                [showInnerStroke] = "false"
                                                [startFromZero]="false"
                                                [showZeroOuterStroke]="false"
                                                [renderOnClick]="false"
                                                ></circle-progress>
                                                <circle-progress *ngIf="disabled()" [ngStyle]="{'padding-top': '5px' }"
                                                [percent]=p_drf_frm_pap_com[i].PPDFF
                                                [radius]="17"
                                                [outerStrokeWidth]="2"
                                                [space] = "-2"
                                                [outerStrokeColor]="'#007BFF'"
                                                [animation]="true"
                                                [animationDuration]="300"
                                                [showSubtitle] = "false"
                                                [showTitle] = "false"
                                                [showUnits] = "false"
                                                [showImage] = "true"
                                                [imageSrc] = "'assets/images/icons/paperclip.svg'"
                                                [imageHeight] = 15
                                                [imageWidth] = 15
                                                [backgroundPadding] = -2
                                                [showInnerStroke] = "false"
                                                [startFromZero]="false"
                                                [showZeroOuterStroke]="false"
                                                [renderOnClick]="false"
                                                ></circle-progress>
                                                <label>&nbsp;</label>
                                                <mat-icon *ngIf="element.PPDFF.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('PPDFF', i)"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                                                <mat-icon *ngIf="element.PPDFF.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                                            </div>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <mat-form-field fxFlex="15" class="pr-4">
                                                <input matInput placeholder="# Documento" [(ngModel)]="element.NMDOC" name="NMDOC{{i}}" disabled>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="15" class="pr-4" style="text-align: center;">
                                                <input matInput [matDatepicker]="dp" placeholder="Fecha Documento" [(ngModel)]="element.FCDOC" name="FCDOC{{i}}" disabled>
                                                <mat-datepicker #dp></mat-datepicker>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="15" class="pr-4">
                                                <input matInput placeholder="RFC" [(ngModel)]="element.RRFCC" name="RRFCC{{i}}" disabled>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="50" class="pr-4">
                                                <input matInput placeholder="Nombre/Razón Social" [(ngModel)]="element.NMRZS" name="NMRZS{{i}}" disabled>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <mat-form-field fxFlex="100" class="pr-4">
                                                <input matInput placeholder="Concepto del Bien/Servicio" [(ngModel)]="element.CONCE" name="CONCE{{i}}" maxlength="200" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <mat-form-field fxFlex="15" class="pr-4">
                                                <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" placeholder="Subtotal" [(ngModel)]="element.SUBTT" name="SUBTT{{i}}" disabled>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="15" class="pr-4">
                                                <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" placeholder="IVA" [(ngModel)]="element.IIVAA" name="IIVAA{{i}}" disabled>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="15" class="pr-4">
                                                <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" placeholder="Total" [(ngModel)]="element.TOTAL" name="TOTAL{{i}}" disabled>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="15" class="pr-4">
                                                <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" placeholder="Retención ISR" [(ngModel)]="element.RTISR" name="RTISR{{i}}" disabled>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="15" class="pr-4">
                                                <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" placeholder="Retención IVA" [(ngModel)]="element.RTIVA" name="RTIVA{{i}}" disabled>
                                            </mat-form-field>
                                            <mat-form-field fxFlex="15" class="pr-4">
                                                <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" placeholder="Total Factura" [(ngModel)]="element.TOTFC" name="TOTFC{{i}}" disabled>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <!-- Autorizado_Label column -->
                        <ng-container matColumnDef="Autorizado_Label">
                            <td mat-footer-cell *matFooterCellDef colspan="8" style="text-align: right; padding-right: 1px;">Autorizado:</td>
                        </ng-container>
                        <!-- Autorizado_Divisa column -->
                        <ng-container matColumnDef="Autorizado_Monto">
                            <td mat-footer-cell *matFooterCellDef style="text-align: right; padding-right: 24px;">{{autorizado | currency}}</td>
                        </ng-container>
                        <!-- Disponible_Label column -->
                        <ng-container matColumnDef="Disponible_Label">
                            <td mat-footer-cell *matFooterCellDef colspan="8" style="text-align: right; padding-right: 1px;">Disponible:</td>
                        </ng-container>
                        <!-- Disponible_Divisa column -->
                        <ng-container matColumnDef="Disponible_Monto">
                            <td mat-footer-cell *matFooterCellDef style="text-align: right; padding-right: 24px;" [ngStyle]="{'color': valDis() ? 'red':''}">{{disponible | currency}}</td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
                            class="element-row"
                            [class.expanded-row]="expandedElement === element"
                            (click)="expandedElement = expandedElement === element ? null : element">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
                        <tr mat-footer-row *matFooterRowDef="['Autorizado_Label', 'Autorizado_Monto']"></tr>
                        <tr mat-footer-row *matFooterRowDef="['Disponible_Label', 'Disponible_Monto']"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Observaciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" [(ngModel)]="f_drf_frm_pap.OBSER" name="OBSER" [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Elaboró</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Nombre del Funcionario" [(ngModel)]="names.ELNOM" name="ELNOM" disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.ELPUE" name="ELPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>

                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 34%; margin-left: 10px; margin-right: 10px;">
                        <mat-card-header>
                            <mat-card-title>Visto Bueno</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drf_frm_pap.VSTBO" name="VSTBO" (ngModelChange)="puesto(f_drf_frm_pap.VSTBO, 'VBPUE')" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                    <ngx-mat-select-search [formControl]="VBFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredVB | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.VBPUE" name="VBPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>

                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Autoriza</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drf_frm_pap.AUTOR" name="AUTOR" (ngModelChange)="puesto(f_drf_frm_pap.AUTOR, 'AUPUE')" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                    <ngx-mat-select-search [formControl]="AUFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredAU | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.AUPUE" name="AUPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>
    
    
    