<form name="groupForm" #groupForm="ngForm" autocomplete="off">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <div class="content p-24">
      <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
        <mat-card class="mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="25" class="pr-4">
              <mat-select placeholder="Región" [(ngModel)]="row.REGIO" name="REGIO" disabled>
                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                  {{r.DESCR}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Clave del Fondo" [(ngModel)]="row.FONDO" name="FONDO" maxlength="5" (keypress)="spaces($event)"
                [disabled]="data.type=='M'" [errorStateMatcher]="error" (ngModelChange)="folioFondo()" (blur)="valFondo()" required>
                <mat-error *ngIf="showErrorFONDO()">
                  La clave del fondo {{row.FONDO}} ya está registrada
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" class="pr-4">
              <input matInput placeholder="Descripción" [(ngModel)]="row.DESCR" name="DESCR" maxlength="150" [errorStateMatcher]="error" required>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="50" class="pr-4">
              <mat-select placeholder="Funcionario Encargado del Fondo" [(ngModel)]="row.ENCAR" name="ENCAR" [errorStateMatcher]="error" required>
                <ngx-mat-select-search [formControl]="ENFilterCtrl" [placeholderLabel]="'Buscar...'"
                  [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                <mat-option *ngFor="let ff of filteredEN | async" [value]="ff.CUSER">
                  {{ff.DESCR}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="pr-4" [ngClass]="{'error':valGnr(row.MNDFD,'MNDFD')}">
              <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }"
                placeholder="Monto Autorizado del Fondo" [(ngModel)]="row.MNDFD" name="MNDFD" [errorStateMatcher]="error" required>
            </mat-form-field>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button (click)="saveData()" [disabled]="groupForm.form.invalid">Guardar</button>
  </div>
</form>