<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog('R','R')">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="!disabled()"
                (click)="saveInformation('CL','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span *ngIf="f_drh_frm_per.NUEMP.length > 0 && f_drh_frm_per.NUEMP.length < 30" style="padding-top: 5px;">
                {{f_drh_frm_per.REGIO}}&nbsp;|&nbsp;{{f_drh_frm_per.NUEMP}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_per.NUEMP.length == 30" style="padding-top: 5px;">
                {{f_drh_frm_per.REGIO}}&nbsp;|&nbsp;...{{f_drh_frm_per.NUEMP.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_per.NUEMP.length == 0" style="padding-top: 5px;">
                {{f_drh_frm_per.REGIO}}&nbsp;|&nbsp;SIN Nº EMPLEADO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drh_frm_per.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Humanos</span>
                </div>
                <div class="h1 mt-16">Expediente</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos Generales</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Coordinación Territorial" [(ngModel)]="f_drh_frm_per.REGIO"
                                name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones | filter: { PAISS : 'MX'}" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput [matDatepicker]="fcing" placeholder="Fecha de Ingreso"
                                [(ngModel)]="f_drh_frm_per.FCING" name="FCING" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcing"></mat-datepicker-toggle>
                            <mat-datepicker #fcing disabled></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput [matDatepicker]="fcini" placeholder="Ingreso a Gobierno"
                                [(ngModel)]="f_drh_frm_per.FCINI" name="FCINI" [errorStateMatcher]="error" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcini"></mat-datepicker-toggle>
                            <mat-datepicker #fcini [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput placeholder="Nº de Empleado" [(ngModel)]="f_drh_frm_per.NUEMP" name="NUEMP"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Correo Electrónico Institucional"
                                [(ngModel)]="f_drh_frm_per.EMAIL" name="EMAIL" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Nombre(s)" [(ngModel)]="f_drh_frm_per.NAMEE" name="NAMEE"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Primer Apellido" [(ngModel)]="f_drh_frm_per.PRIAP" name="PRIAP"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Segundo Apellido" [(ngModel)]="f_drh_frm_per.SEGAP"
                                name="SEGAP" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <mat-select placeholder="Título" [(ngModel)]="f_drh_frm_per.TITUL" name="TITUL"
                                [disabled]="disabled()">
                                <mat-option *ngFor="let t of titulos" [value]="t.TITUL">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput [matDatepicker]="fcnac" placeholder="Fecha de Nacimiento"
                                [(ngModel)]="f_drh_frm_per.FCNAC" name="FCNAC"
                                disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcnac"></mat-datepicker-toggle>
                            <mat-datepicker #fcnac disabled></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4" style="text-align: center;">
                            <input matInput placeholder="Edad" [(ngModel)]="aditional.EDADS" name="EDADS" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="RFC" [(ngModel)]="f_drh_frm_per.RRFCC" name="RRFCC"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="CURP" [(ngModel)]="f_drh_frm_per.CCURP" name="CCURP"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Nº Seguridad Social" [(ngModel)]="f_drh_frm_per.NMNSS"
                                name="NMNSS" maxlength="30" [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="26" fxLayoutAlign="start">
                            <mat-checkbox [(ngModel)]="f_drh_frm_per.ENFCR" name="ENFCR"
                                (ngModelChange)="f_drh_frm_per.ENFER=''" [disabled]="disabled()">Padece
                                Alguna Enfermedad Crónica</mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="44" class="pr-4">
                            <input matInput placeholder="Especificar" [(ngModel)]="f_drh_frm_per.ENFER" name="ENFER"
                                (ngModelChange)="f_drh_frm_per.ENFER=f_drh_frm_per.ENFER.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="100"
                                [disabled]="disabled() || !f_drh_frm_per.ENFCR" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Discapacidad" [(ngModel)]="f_drh_frm_per.DISCA" name="DISCA" [disabled]="disabled()">
                                <mat-option *ngFor="let d of discapacidad" [value]="d.DISCA">
                                    {{d.TPDIS}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="País de Nacimiento" [(ngModel)]="f_drh_frm_per.PAINA" name="PAINA"
                                disabled>
                                <mat-option *ngFor="let p of paises" [value]="p.PAISS">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Entidad de Nacimiento" [(ngModel)]="f_drh_frm_per.ENTNA"
                                name="ENTNA" disabled>
                                <mat-option *ngFor="let r of regiones | filter: { PAISS : f_drh_frm_per.PAINA}"
                                    [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <mat-select placeholder="Estado Civil" [(ngModel)]="f_drh_frm_per.ESCIV" name="ESCIV"
                                (ngModelChange)="f_drh_frm_per.ESCON=''" [errorStateMatcher]="error"
                                [disabled]="disabled()" required>
                                <mat-option *ngFor="let e of estadoCivil" [value]="e.ESCIV">
                                    {{e.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Estado Conyugal" [(ngModel)]="f_drh_frm_per.ESCON" name="ESCON"
                                [errorStateMatcher]="error" [disabled]="disabled() || f_drh_frm_per.ESCIV != 'C'"
                                required>
                                <mat-option value="SOCIEDAD CONYUGAL">SOCIEDAD CONYUGAL</mat-option>
                                <mat-option value="BIENES SEPARADOS">BIENES SEPARADOS</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <mat-select placeholder="Género" [(ngModel)]="f_drh_frm_per.GENER" name="GENER"
                                disabled>
                                <mat-option *ngFor="let g of genero" [value]="g.GENER">
                                    {{g.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Nº INE" [(ngModel)]="f_drh_frm_per.FOINE" name="FOINE"
                                disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Calle" [(ngModel)]="f_drh_frm_per.CALLE" name="CALLE"
                                (ngModelChange)="f_drh_frm_per.CALLE=f_drh_frm_per.CALLE.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="100" [disabled]="disabled()" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <input matInput placeholder="Nº Exterior" [(ngModel)]="f_drh_frm_per.NMEXT" name="NMEXT"
                                (ngModelChange)="f_drh_frm_per.NMEXT=f_drh_frm_per.NMEXT.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="20" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <input matInput placeholder="Nº Interior" [(ngModel)]="f_drh_frm_per.NMINT" name="NMINT"
                                (ngModelChange)="f_drh_frm_per.NMINT=f_drh_frm_per.NMINT.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="20" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Colonia/Localidad" [(ngModel)]="f_drh_frm_per.COLOC"
                                name="COLOC" (ngModelChange)="f_drh_frm_per.COLOC=f_drh_frm_per.COLOC.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="50" [disabled]="disabled()" required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="45" class="pr-4">
                            <input matInput placeholder="Municipio/Delegación" [(ngModel)]="f_drh_frm_per.MUDEL"
                                name="MUDEL" (ngModelChange)="f_drh_frm_per.MUDEL=f_drh_frm_per.MUDEL.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="30" [disabled]="disabled()" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="45" class="pr-4">
                            <input matInput placeholder="Entidad Federativa" [(ngModel)]="f_drh_frm_per.ENTFE"
                                name="ENTFE" (ngModelChange)="f_drh_frm_per.ENTFE=f_drh_frm_per.ENTFE.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="100" [disabled]="disabled()" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <input matInput placeholder="C.P." [(ngModel)]="f_drh_frm_per.CODPO" name="CODPO"
                                [errorStateMatcher]="error" maxlength="5" [disabled]="disabled()" required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Teléfono Particular" [(ngModel)]="f_drh_frm_per.TELEF"
                                name="TELEF" [errorStateMatcher]="error" maxlength="20" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Teléfono Celular" [(ngModel)]="f_drh_frm_per.TECEL"
                                name="TECEL" [errorStateMatcher]="error" maxlength="20" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Teléfono de Emergencia" [(ngModel)]="f_drh_frm_per.TEEME"
                                name="TEEME" [errorStateMatcher]="error" maxlength="20" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Correo Electrónico Personal" [(ngModel)]="f_drh_frm_per.EMAIP"
                                name="EMAIP" [errorStateMatcher]="error" maxlength="100" [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Trayectoria Académica</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Escolaridad" [(ngModel)]="f_drh_frm_per.ESCOL" name="ESCOL"
                                (ngModelChange)="f_drh_frm_per.CARRE=''" [errorStateMatcher]="error"
                                [disabled]="disabled()" required>
                                <mat-option *ngFor="let e of escolaridad" [value]="e.ESCOL">
                                    {{e.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Carrera Genérica" [(ngModel)]="f_drh_frm_per.CARRE" name="CARRE"
                                [errorStateMatcher]="error"
                                [disabled]="disabled() || f_drh_frm_per.ESCOL == 'PRI' || f_drh_frm_per.ESCOL == 'PRB' || f_drh_frm_per.ESCOL == 'SEC' || !f_drh_frm_per.ESCOL"
                                required>
                                <mat-option *ngFor="let c of carreras" [value]="c.CARRE">
                                    {{c.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Situación Académica" [(ngModel)]="f_drh_frm_per.SITAC" name="SITAC"
                                (ngModelChange)="f_drh_frm_per.TTGRC=''" [errorStateMatcher]="error"
                                [disabled]="disabled()" required>
                                <mat-option *ngFor="let sa of sit_aca" [value]="sa.SITAC">
                                    {{sa.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Nombre del Título, Grado o Certificado"
                                [(ngModel)]="f_drh_frm_per.TTGRC" name="TTGRC"
                                (ngModelChange)="f_drh_frm_per.TTGRC=f_drh_frm_per.TTGRC.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="200"
                                [disabled]="disabled() || f_drh_frm_per.SITAC == 'E' || f_drh_frm_per.SITAC == 'I' || !f_drh_frm_per.SITAC"
                                required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="70" class="pr-4">
                            <input matInput placeholder="Institución Educativa" [(ngModel)]="f_drh_frm_per.INSED"
                                name="INSED" (ngModelChange)="f_drh_frm_per.INSED=f_drh_frm_per.INSED.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="150" [disabled]="disabled()" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="País de la Institución Educativa" [(ngModel)]="f_drh_frm_per.PINED"
                                name="PINED" [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let p of paises" [value]="p.PAISS">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <input matInput
                                placeholder="¿Maneja Paquetería de Cómputo? Especificar e Indicar Porcentaje"
                                [(ngModel)]="f_drh_frm_per.COMPU" name="COMPU"
                                (ngModelChange)="f_drh_frm_per.COMPU=f_drh_frm_per.COMPU.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="200" [disabled]="disabled()" required>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Idiomas</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSourceIdi" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'"
                                    onmouseover="this.style.color='#28a745'" (click)="addRowIdi()"><i
                                        class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;"
                                style="text-align: center !important; color: gray;">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'"
                                    onmouseover="this.style.color='#dc3545'" (click)="removeRowIdi(i)"><i
                                        class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                        </ng-container>
                        <!-- IDIOM Column -->
                        <ng-container matColumnDef="IDIOM">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Idioma</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.IDIOM" name="IDIOM{{i}}"
                                        (ngModelChange)="element.IDIOM=element.IDIOM.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="30" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- REDAC Column -->
                        <ng-container matColumnDef="REDAC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Nivel de Redacción</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.REDAC" name="REDAC{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let ni of nivelIdioma" [value]="ni.NVLID">
                                            {{ni.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- CONVE Column -->
                        <ng-container matColumnDef="CONVE">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Nivel de Conversación</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.CONVE" name="CONVE{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let ni of nivelIdioma" [value]="ni.NVLID">
                                            {{ni.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- COMPR Column -->
                        <ng-container matColumnDef="COMPR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Nivel de Comprensión</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.COMPR" name="COMPR{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let ni of nivelIdioma" [value]="ni.NVLID">
                                            {{ni.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToIdi"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToIdi;"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Trayectoria Laboral</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSourceTLab" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'"
                                    onmouseover="this.style.color='#28a745'" (click)="addRowLab()"><i
                                        class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;"
                                style="text-align: center !important; color: gray;">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'"
                                    onmouseover="this.style.color='#dc3545'" (click)="removeRowLab(i)"><i
                                        class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                        </ng-container>
                        <!-- PAITL Column -->
                        <ng-container matColumnDef="PAITL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">País</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.PAITL" name="PAITL{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let p of paises" [value]="p.PAISS">
                                            {{p.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- ENTTL Column -->
                        <ng-container matColumnDef="ENTTL">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Entidad</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.ENTTL" name="ENTTL{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let r of regiones | filter: { PAISS : element.PAITL}"
                                            [value]="r.REGIO">
                                            {{r.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- EMPRE Column -->
                        <ng-container matColumnDef="EMPRE">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Empresa</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.EMPRE" name="EMPRE{{i}}"
                                        (ngModelChange)="element.EMPRE=element.EMPRE.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="100" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- PUEST Column -->
                        <ng-container matColumnDef="PUEST">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Puesto</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.PUEST" name="PUEST{{i}}"
                                        (ngModelChange)="element.PUEST=element.PUEST.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="100" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- CAMEX Column -->
                        <ng-container matColumnDef="CAMEX">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Campo de Experiencia</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.CAMEX" name="CAMEX{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let c of campos" [value]="c.CAMEX">
                                            {{c.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- FCINI Column -->
                        <ng-container matColumnDef="FCINI">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Inicio</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table"
                                    [ngClass]="{'error':valTlb(element.FCINI, element, 'FCINI', i)}">
                                    <input matInput [matDatepicker]="fil" [(ngModel)]="element.FCINI" name="FCINIL{{i}}"
                                        [errorStateMatcher]="error" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fil"></mat-datepicker-toggle>
                                    <mat-datepicker #fil [disabled]="disabled()">
                                    </mat-datepicker>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- FCTER Column -->
                        <ng-container matColumnDef="FCTER">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Término</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table"
                                    [ngClass]="{'error':valTlb(element.FCTER, element, 'FCTER', i)}">
                                    <input matInput [min]="element.FCINI" [matDatepicker]="ftl"
                                        [(ngModel)]="element.FCTER" name="FCTERL{{i}}" [errorStateMatcher]="error"
                                        disabled>
                                    <mat-datepicker-toggle matSuffix [for]="ftl"></mat-datepicker-toggle>
                                    <mat-datepicker #ftl [disabled]="disabled()">
                                    </mat-datepicker>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToTLab"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToTLab;"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Información de Docencia</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSourceDcc" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ACTIONS Column -->
                        <ng-container matColumnDef="ACTIONS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'"
                                    onmouseover="this.style.color='#28a745'" (click)="addRowDcc()"><i
                                        class="fas fa-plus"></i></span>
                            </th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;"
                                style="text-align: center !important; color: gray;">
                                <span *ngIf="!disabled()" style="cursor: pointer;" onmouseout="this.style.color='gray'"
                                    onmouseover="this.style.color='#dc3545'" (click)="removeRowDcc(i)"><i
                                        class="fas fa-trash"></i></span>
                            </td>
                            <td mat-footer-cell *matFooterCellDef>&nbsp;</td>
                        </ng-container>
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                        </ng-container>
                        <!-- PAIDC Column -->
                        <ng-container matColumnDef="PAIDC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">País</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.PAIDC" name="PAIDC{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let p of paises" [value]="p.PAISS">
                                            {{p.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- ENTDC Column -->
                        <ng-container matColumnDef="ENTDC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Entidad</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.ENTDC" name="ENTDC{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let r of regiones | filter: { PAISS : element.PAIDC}"
                                            [value]="r.REGIO">
                                            {{r.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- MATER Column -->
                        <ng-container matColumnDef="MATER">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Materia</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.MATER" name="MATER{{i}}"
                                        (ngModelChange)="element.MATER=element.MATER.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="100" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- AREGN Column -->
                        <ng-container matColumnDef="AREGN">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Área General</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.AREGN" name="AREGN{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let a of areas" [value]="a.AREGN">
                                            {{a.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- INSTI Column -->
                        <ng-container matColumnDef="INSTI">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Institución</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.INSTI" name="INSTI{{i}}"
                                        (ngModelChange)="element.INSTI=element.INSTI.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="100" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- FCINI Column -->
                        <ng-container matColumnDef="FCINI">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Inicio</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table"
                                    [ngClass]="{'error':valDcc(element.FCINI, element, 'FCINI', i)}">
                                    <input matInput [matDatepicker]="fid" [(ngModel)]="element.FCINI" name="FCINID{{i}}"
                                        [errorStateMatcher]="error" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fid"></mat-datepicker-toggle>
                                    <mat-datepicker #fid [disabled]="disabled()">
                                    </mat-datepicker>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- FCTER Column -->
                        <ng-container matColumnDef="FCTER">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Término</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table"
                                    [ngClass]="{'error':valDcc(element.FCTER, element, 'FCTER', i)}">
                                    <input matInput [min]="element.FCINI" [matDatepicker]="ftd"
                                        [(ngModel)]="element.FCTER" name="FCTERD{{i}}" [errorStateMatcher]="error"
                                        disabled>
                                    <mat-datepicker-toggle matSuffix [for]="ftd"></mat-datepicker-toggle>
                                    <mat-datepicker #ftd [disabled]="disabled()">
                                    </mat-datepicker>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- NVLES Column -->
                        <ng-container matColumnDef="NVLES">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Nivel de Estudio</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.NVLES" name="NVLES{{i}}"
                                        [errorStateMatcher]="error" [disabled]="disabled()" required>
                                        <mat-option *ngFor="let ne of nivelEstudio" [value]="ne.NVLES">
                                            {{ne.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDcc"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDcc;"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos Familiares</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <div fxFlex="10" fxLayoutAlign="start">
                            <mat-checkbox [(ngModel)]="f_drh_frm_per.MADRE" name="MADRE"
                                [disabled]="disabled() || f_drh_frm_per.GENER != 'F'">Es Madre</mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="5" class="pr-4" style="text-align: center;">
                            <mat-select placeholder="Nº Hijos" [(ngModel)]="f_drh_frm_per.NMHIJ" name="NMHIJ"
                                (ngModelChange)="getChilds()" [errorStateMatcher]="error"
                                [disabled]="disabled() || (f_drh_frm_per.GENER == 'F' && !f_drh_frm_per.MADRE) || !f_drh_frm_per.GENER">
                                <mat-option *ngFor="let h of hijos" [value]="h.n">
                                    {{h.n}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <table mat-table [dataSource]="dataSourceDFam" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                        </ng-container>
                        <!-- NAMEE Column -->
                        <ng-container matColumnDef="NAMEE">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Nombre(s)</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.NAMEE" name="NAMEE{{i}}"
                                        (ngModelChange)="element.NAMEE=element.NAMEE.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="50" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- PRIAP Column -->
                        <ng-container matColumnDef="PRIAP">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Primer Apellido</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.PRIAP" name="PRIAP{{i}}"
                                        (ngModelChange)="element.PRIAP=element.PRIAP.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="50" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- SEGAP Column -->
                        <ng-container matColumnDef="SEGAP">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Segundo Apellido</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.SEGAP" name="SEGAP{{i}}"
                                        (ngModelChange)="element.SEGAP=element.SEGAP.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="50" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- FCNAC Column -->
                        <ng-container matColumnDef="FCNAC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Fecha de Nacimiento</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table"
                                    [ngClass]="{'error':valChilds(element.FCNAC, element, 'FCNAC', i)}">
                                    <input matInput [matDatepicker]="fn" [(ngModel)]="element.FCNAC" name="FCNAC{{i}}"
                                        (ngModelChange)="element.EDADS = calcEdad(element.FCNAC)"
                                        [errorStateMatcher]="error" disabled>
                                    <mat-datepicker-toggle matSuffix [for]="fn"></mat-datepicker-toggle>
                                    <mat-datepicker #fn [disabled]="disabled()">
                                    </mat-datepicker>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- EDADS Column -->
                        <ng-container matColumnDef="EDADS">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Edad</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table" style="text-align: center;">
                                    <input matInput [(ngModel)]="element.EDADS" name="EDADS{{i}}" disabled>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- CCURP Column -->
                        <ng-container matColumnDef="CCURP">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">CURP</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <input matInput [(ngModel)]="element.CCURP" name="CCURP{{i}}"
                                        (ngModelChange)="element.CCURP=element.CCURP.toUpperCase()"
                                        [errorStateMatcher]="error" maxlength="30" [disabled]="disabled()" required>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- PDFCR Column -->
                        <ng-container matColumnDef="PDFCR">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">CURP</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div fxLayoutAlign="center center">
                                    <input id="PDFCR{{i}}" type="file"
                                        (change)="fileChange($event.target.files, 'PDFCR', i)" hidden>
                                    <input name="PDFCR{{i}}" [(ngModel)]="element.PDFCR"
                                        [ngClass]="{'error':valChilds(element.PDFCR, element, 'PDFCR', i)}" hidden>
                                    <circle-progress (click)="openInput('PDFCR'+i, 'dfm')"
                                        [ngStyle]="{'cursor': f_drh_frm_per.STTUS == '1' && f_drh_frm_per.NMHIJ > 0 ? 'pointer':'not-allowed'}"
                                        [percent]="f_drh_frm_per_dfm[i] ? f_drh_frm_per_dfm[i].PORCR:0" [radius]="17"
                                        [outerStrokeWidth]="2" [space]="-2" [outerStrokeColor]="'#007BFF'"
                                        [animation]="true" [animationDuration]="300" [showSubtitle]="false"
                                        [showTitle]="false" [showUnits]="false" [showImage]="true"
                                        [imageSrc]="'assets/images/icons/paperclip.svg'" [imageHeight]=15
                                        [imageWidth]=15 [backgroundPadding]=-2 [showInnerStroke]="false"
                                        [startFromZero]="false" [showZeroOuterStroke]="false" [renderOnClick]="false">
                                    </circle-progress>
                                    <label>&nbsp;</label>
                                    <mat-icon *ngIf="element.PDFCR.indexOf('.pdf') > 0" matTooltip="Ver Documento"
                                        class="icon-doc" style="font-size: 12px; padding-top: 7px;"
                                        (click)="showFile('PDFCR', i)"><i style="cursor: pointer; color:#007bff;"
                                            class="fas fa-eye"></i></mat-icon>
                                    <mat-icon *ngIf="element.PDFCR.indexOf('prohibitus') >= 0"
                                        matTooltip="Documento Bloqueado" class="icon-doc"
                                        style="font-size: 12px; padding-top: 7px;"
                                        (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')">
                                        <i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i>
                                    </mat-icon>
                                </div>
                            </td>
                        </ng-container>
                        <!-- PDFAN Column -->
                        <ng-container matColumnDef="PDFAN">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Acta de Nacimiento</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div fxLayoutAlign="center center">
                                    <input id="PDFAN{{i}}" type="file"
                                        (change)="fileChange($event.target.files, 'PDFAN', i)" hidden>
                                    <input name="PDFAN{{i}}" [(ngModel)]="element.PDFAN"
                                        [ngClass]="{'error':valChilds(element.PDFAN, element, 'PDFAN', i)}" hidden>
                                    <circle-progress (click)="openInput('PDFAN'+i, 'dfm')"
                                        [ngStyle]="{'cursor': f_drh_frm_per.STTUS == '1' && f_drh_frm_per.NMHIJ > 0 ? 'pointer':'not-allowed'}"
                                        [percent]="f_drh_frm_per_dfm[i] ? f_drh_frm_per_dfm[i].PORAN:0" [radius]="17"
                                        [outerStrokeWidth]="2" [space]="-2" [outerStrokeColor]="'#007BFF'"
                                        [animation]="true" [animationDuration]="300" [showSubtitle]="false"
                                        [showTitle]="false" [showUnits]="false" [showImage]="true"
                                        [imageSrc]="'assets/images/icons/paperclip.svg'" [imageHeight]=15
                                        [imageWidth]=15 [backgroundPadding]=-2 [showInnerStroke]="false"
                                        [startFromZero]="false" [showZeroOuterStroke]="false" [renderOnClick]="false">
                                    </circle-progress>
                                    <label>&nbsp;</label>
                                    <mat-icon *ngIf="element.PDFAN.indexOf('.pdf') > 0" matTooltip="Ver Documento"
                                        class="icon-doc" style="font-size: 12px; padding-top: 7px;"
                                        (click)="showFile('PDFAN', i)"><i style="cursor: pointer; color:#007bff;"
                                            class="fas fa-eye"></i></mat-icon>
                                    <mat-icon *ngIf="element.PDFAN.indexOf('prohibitus') >= 0"
                                        matTooltip="Documento Bloqueado" class="icon-doc"
                                        style="font-size: 12px; padding-top: 7px;"
                                        (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')">
                                        <i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i>
                                    </mat-icon>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDFam"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDFam;"></tr>
                    </table>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Puesto</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="f_drh_frm_per.NOMBR == 'H'">
                            <mat-select placeholder="Carácter del Nombramiento" [(ngModel)]="f_drh_frm_per.NOMBR"
                                name="NOMBR" disabled>
                                <mat-option *ngFor="let n of tipoNombramiento" [value]="n.NOMBR">
                                    {{n.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="f_drh_frm_per.NOMBR != 'H'">
                            <mat-select placeholder="Carácter del Nombramiento" [(ngModel)]="aditional.NOMBR"
                                name="NOMBR" disabled>
                                <mat-option *ngFor="let n of tipoNombramiento" [value]="n.NOMBR">
                                    {{n.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="45" class="pr-4" *ngIf="f_drh_frm_per.NOMBR == 'H'">
                            <mat-select placeholder="Adscripción" [(ngModel)]="f_drh_frm_per.ADSCR" name="ADSCR"
                                disabled>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSCR">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="45" class="pr-4" *ngIf="f_drh_frm_per.NOMBR != 'H'">
                            <mat-select placeholder="Adscripción" [(ngModel)]="aditional.ADSCR" name="ADSCR" disabled>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSCR">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="f_drh_frm_per.NOMBR == 'H'">
                            <mat-select placeholder="Clave de Puesto" [(ngModel)]="f_drh_frm_per.PUEST" name="PUEST"
                                disabled>
                                <mat-option *ngFor="let p of puestos" [value]="p.PUEST">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" *ngIf="f_drh_frm_per.NOMBR != 'H'">
                            <mat-select placeholder="Clave de Puesto" [(ngModel)]="aditional.PUEST" name="PUEST"
                                disabled>
                                <mat-option *ngFor="let p of puestos" [value]="p.PUEST">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="15" fxLayoutAlign="center center" *ngIf="f_drh_frm_per.NOMBR != 'H'">
                            <mat-checkbox [(ngModel)]="f_drh_frm_per.PLAEX" name="PLAEX" disabled>Plaza existente</mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_per.NOMBR != 'H' && f_drh_frm_per.PLAEX">
                            <mat-select placeholder="Sustituye a" [(ngModel)]="f_drh_frm_per.SUSTI" name="SUSTI"
                                disabled>
                                <mat-option *ngFor="let ff of sustituye" [value]="ff.NUEMP">
                                    {{ff.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_per.NOMBR != 'H' && (f_drh_frm_per.PLAEX || f_drh_frm_per.STTUS != '1') && NaN()">
                            <mat-select placeholder="Puesto" [(ngModel)]="f_drh_frm_per.PLAZA" name="PLAZA" disabled>
                                <mat-option *ngFor="let p of plazas | filter:{PUEST:f_drh_frm_per.PUEST}"
                                    [value]="p.PLAZA">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="55" class="pr-4" *ngIf="f_drh_frm_per.NOMBR == 'H'">
                            <input matInput placeholder="Puesto" [(ngModel)]="f_drh_frm_per.DESCR" name="DESCR"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="55" class="pr-4" *ngIf="f_drh_frm_per.NOMBR != 'H'">
                            <input matInput placeholder="Puesto" [(ngModel)]="aditional.DESCR" name="DESCR" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4" *ngIf="f_drh_frm_per.NOMBR == 'H'">
                            <input matInput placeholder="Nombre del Puesto" [(ngModel)]="f_drh_frm_per.DESC2"
                                name="DESC2" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="40" class="pr-4" *ngIf="f_drh_frm_per.NOMBR != 'H' && !NaN()">
                            <input matInput placeholder="Nombre del Puesto" [(ngModel)]="aditional.DESC2" name="DESC2"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4" *ngIf="NaN()">
                            <input matInput placeholder="Nivel" [(ngModel)]="f_drh_frm_per.NIVEL" name="NIVEL" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4" *ngIf="!NaN()">
                            <input matInput placeholder="Nivel" [(ngModel)]="aditional.NIVEL" name="NIVEL" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4" *ngIf="NaN()">
                            <mat-select placeholder="Tipo de Personal/Plaza" [(ngModel)]="f_drh_frm_per.TIPPL"
                                name="TIPPL" disabled>
                                <mat-option *ngFor="let t of tipoPlaza" [value]="t.TIPPL">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4" *ngIf="!NaN()">
                            <mat-select placeholder="Tipo de Personal/Plaza" [(ngModel)]="aditional.TIPPL" name="TIPPL"
                                disabled>
                                <mat-option *ngFor="let t of tipoPlaza" [value]="t.TIPPL">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="20" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_per.SINDI" name="SINDI"
                                [disabled]="disabled() || f_drh_frm_per.TIPPL != 'B'">
                                Sindicalizado</mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="17" class="pr-4">
                            <input matInput placeholder="Jornada Laboral" [(ngModel)]="f_drh_frm_per.JORLB" name="JORLB"
                                disabled>
                        </mat-form-field>
                        <div fxFlex="15" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_per.HORAR" name="HORAR"
                                (ngModelChange)="f_drh_frm_per.HORDP=null;f_drh_frm_per.HORAP=null"
                                [disabled]="disabled()">Horario Completo</mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="17" class="pr-4" style="text-align: center;">
                            <input matInput type="time" placeholder="De" [(ngModel)]="f_drh_frm_per.HORDA" name="HORDA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="17" class="pr-4" style="text-align: center;">
                            <input matInput type="time" placeholder="A" [(ngModel)]="f_drh_frm_per.HORAA" name="HORAA"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <label *ngIf="f_drh_frm_per.HORAR">Y</label>
                        <mat-form-field fxFlex="17" class="pl-4 pr-4" style="text-align: center;"
                            *ngIf="f_drh_frm_per.HORAR">
                            <input matInput type="time" placeholder="De" [(ngModel)]="f_drh_frm_per.HORDP" name="HORDP"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="17" class="pr-4" style="text-align: center;" *ngIf="f_drh_frm_per.HORAR">
                            <input matInput type="time" placeholder="A" [(ngModel)]="f_drh_frm_per.HORAP" name="HORAP"
                                [errorStateMatcher]="error" required [disabled]="disabled()">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="80" class="pr-4">
                            <input matInput placeholder="Observaciones" [(ngModel)]="f_drh_frm_per.OBSER" name="OBSER"
                                (ngModelChange)="f_drh_frm_per.OBSER=f_drh_frm_per.OBSER.toUpperCase()" maxlength="100"
                                [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4"
                            [ngClass]="{'error':valGnr(f_drh_frm_per.FCTER, 'FCTER')}">
                            <input matInput [matDatepicker]="fcter" placeholder="Fecha de Término"
                                [(ngModel)]="f_drh_frm_per.FCTER" name="FCTER" [errorStateMatcher]="error" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcter"></mat-datepicker-toggle>
                            <mat-datepicker #fcter [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Percepciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
                        *ngIf="f_drh_frm_per.NOMBR != 'H'">
                        <mat-form-field fxFlex="33" class="pr-4" *ngIf="NaN()">
                            <input matInput placeholder="Sueldo Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_per.SUMEN" name="SUMEN" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4" *ngIf="!NaN()">
                            <input matInput placeholder="Sueldo Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.SUMEN"
                                name="SUMEN" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4" *ngIf="NaN()">
                            <input matInput placeholder="Compensación Garantizada" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_per.COMGA" name="COMGA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4" *ngIf="!NaN()">
                            <input matInput placeholder="Compensación Garantizada" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.COMGA"
                                name="COMGA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4" *ngIf="NaN()">
                            <input matInput placeholder="Sueldo Integrado Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_per.SMEIN" name="SMEIN" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4" *ngIf="!NaN()">
                            <input matInput placeholder="Sueldo Integrado Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="aditional.SMEIN"
                                name="SMEIN" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
                        *ngIf="f_drh_frm_per.NOMBR == 'H'">
                        <mat-form-field fxFlex="25" class="pr-4"
                            [ngClass]="{'error':valGnr(f_drh_frm_per.DRCTR, 'DRCTR')}">
                            <input matInput placeholder="Duración de la Contratación (Meses)" currencyMask
                                [options]="{ align: 'center', prefix: '', precision: 0 }"
                                [(ngModel)]="f_drh_frm_per.DRCTR" name="DRCTR" (ngModelChange)="calcVigencia()"
                                [errorStateMatcher]="error" [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4"
                            [ngClass]="{'error':valGnr(f_drh_frm_per.NUMPG, 'NUMPG')}">
                            <input matInput placeholder="Número de Pagos" currencyMask
                                [options]="{ align: 'center', prefix: '', precision: 0 }"
                                [(ngModel)]="f_drh_frm_per.NUMPG" name="NUMPG" [errorStateMatcher]="error"
                                (ngModelChange)="f_drh_frm_per.MONTT=f_drh_frm_per.NUMPG*f_drh_frm_per.MONPR"
                                [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4"
                            [ngClass]="{'error':valGnr(f_drh_frm_per.MONPR, 'MONPR')}">
                            <input matInput placeholder="Monto Parcial" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_per.MONPR" name="MONPR" [errorStateMatcher]="error"
                                (ngModelChange)="f_drh_frm_per.MONTT=f_drh_frm_per.NUMPG*f_drh_frm_per.MONPR"
                                [disabled]="disabled()">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Monto Total" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_per.MONTT" name="MONTT" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="33" class="pr-4">
                            <mat-select placeholder="Tipo de Pago" [(ngModel)]="f_drh_frm_per.TIPAG" 
                            name="TIPAG" disabled>
                                <mat-option *ngFor="let t of tipoPago" [value]="t.TIPAG">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4">
                            <input matInput placeholder="Días de Pago" [(ngModel)]="f_drh_frm_per.DIAPA" name="DIAPA"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4">
                            <mat-select placeholder="Medio de Pago" [(ngModel)]="f_drh_frm_per.MDPAG" name="MDPAG"
                                [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let f of mediosPago" [value]="f.MDPAG">
                                    {{f.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50" class="pr-4">
                            <input matInput placeholder="Banco" [(ngModel)]="f_drh_frm_per.BANCO" name="BANCO"
                                (ngModelChange)="f_drh_frm_per.BANCO=f_drh_frm_per.BANCO.toUpperCase()"
                                [errorStateMatcher]="error" maxlength="50" [disabled]="disabled() || f_drh_frm_per.MDPAG != 'T'"
                                required>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="pr-4">
                            <input matInput placeholder="CLABE" [(ngModel)]="f_drh_frm_per.CTABA" name="CTABA"
                                (blur)="valCLABE(f_drh_frm_per.CTABA)" [errorStateMatcher]="error" maxlength="30"
                                [disabled]="disabled() || f_drh_frm_per.MDPAG != 'T'" required>
                            <mat-error *ngIf="showErrorCLABE()">
                                La CLABE {{f_drh_frm_per.CTABA}} ya se registro
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Funciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput [(ngModel)]="f_drh_frm_per.FUNCI" name="FUNCI" rows="5"
                                (ngModelChange)="f_drh_frm_per.FUNCI=f_drh_frm_per.FUNCI.toUpperCase()"
                                [errorStateMatcher]="error" [disabled]="disabled()" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Documentación</mat-card-title>
                    </mat-card-header>
                    <table mat-table [dataSource]="dataSourceDocs" multiTemplateDataRows class="mat-elevation-z8">
                        <!-- ID Column -->
                        <ng-container matColumnDef="ID">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">#</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center"> {{element.ID}} </td>
                        </ng-container>
                        <!-- TPDOC Column -->
                        <ng-container matColumnDef="TPDOC">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Documento</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <mat-form-field class="mat-form-field-table">
                                    <mat-select [(ngModel)]="element.TPDOC" name="TPDOC{{i}}" disabled>
                                        <mat-option *ngFor="let d of docs" [value]="d.TPDOC">
                                            {{d.DESCR}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </ng-container>
                        <!-- REQUI Column -->
                        <ng-container matColumnDef="REQUI">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Obligatorio</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" style="text-align: center">
                                <mat-checkbox [(ngModel)]="element.REQUI" name="REQUI{{i}}" disabled></mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- ENTRE Column -->
                        <ng-container matColumnDef="ENTRE">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Entrega</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;" style="text-align: center">
                                <mat-checkbox [(ngModel)]="element.ENTRE" name="ENTRE{{i}}"
                                    [ngClass]="{'error':valDoc(element.ENTRE, element, 'ENTRE', i)}"
                                    [disabled]="disabled()">
                                </mat-checkbox>
                            </td>
                        </ng-container>
                        <!-- PPDFF Column -->
                        <ng-container matColumnDef="PPDFF">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center">Archivo</th>
                            <td mat-cell *matCellDef="let element; let i = dataIndex;">
                                <div fxLayoutAlign="center center" *ngIf="element.ENTRE">
                                    <input id="PPDFF{{i}}" type="file"
                                        (change)="fileChange($event.target.files, 'PPDFF', i)" hidden>
                                    <input name="PPDFF{{i}}" [(ngModel)]="element.PPDFF"
                                        [ngClass]="{'error':valDoc(element.PPDFF, element, 'PPDFF', i)}" hidden>
                                    <circle-progress (click)="openInput('PPDFF'+i, 'doc')"
                                        [ngStyle]="{'cursor': f_drh_frm_per.STTUS == '1' ? 'pointer':'not-allowed'}"
                                        [percent]="p_drh_frm_per_doc[i] ? p_drh_frm_per_doc[i].PPDFF:0" [radius]="17"
                                        [outerStrokeWidth]="2" [space]="-2" [outerStrokeColor]="'#007BFF'"
                                        [animation]="true" [animationDuration]="300" [showSubtitle]="false"
                                        [showTitle]="false" [showUnits]="false" [showImage]="true"
                                        [imageSrc]="'assets/images/icons/paperclip.svg'" [imageHeight]=15
                                        [imageWidth]=15 [backgroundPadding]=-2 [showInnerStroke]="false"
                                        [startFromZero]="false" [showZeroOuterStroke]="false" [renderOnClick]="false">
                                    </circle-progress>
                                    <label>&nbsp;</label>
                                    <mat-icon *ngIf="element.PPDFF.indexOf('.pdf') > 0" matTooltip="Ver Documento"
                                        class="icon-doc" style="font-size: 12px; padding-top: 7px;"
                                        (click)="showFile('PPDFF', i)"><i style="cursor: pointer; color:#007bff;"
                                            class="fas fa-eye"></i></mat-icon>
                                    <mat-icon *ngIf="element.PPDFF.indexOf('prohibitus') >= 0"
                                        matTooltip="Documento Bloqueado" class="icon-doc"
                                        style="font-size: 12px; padding-top: 7px;"
                                        (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')">
                                        <i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i>
                                    </mat-icon>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="columnsToDocs"></tr>
                        <tr mat-row *matRowDef="let row; columns: columnsToDocs;"></tr>
                    </table>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Editó Expediente</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_per.USUAR"
                                    name="USUAR" disabled>
                                    <mat-option *ngFor="let ff of funcionarios" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.ELPUE"
                                    name="ELPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>