<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog('R','R')">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="perVB" (click)="openDialog('R','V')">
                <mat-icon matBadge="{{countVB}}" matBadgeColor="accent" [matBadgeHidden]="countVB==0"
                    matBadgeSize="small" class="s-18" matTooltip="Visto Bueno"><i class="fas fa-user-check"></i>
                </mat-icon>
            </button>
            <button mat-icon-button *ngIf="perAU" (click)="openDialog('R','A')">
                <mat-icon matBadge="{{countAU}}" matBadgeColor="accent" [matBadgeHidden]="countAU==0"
                    matBadgeSize="small" class="s-18" matTooltip="Autorización"><i class="fas fa-clipboard-check"></i>
                </mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS != '1' || f_drm_frm_req.USUAR!=authService.user.user_name" (click)="clear('N')">
                <mat-icon class="s-18" matTooltip="Nueva Requisición"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '1' && f_drm_frm_req.USUAR==authService.user.user_name" (click)="saveInformation('SI','')">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '1' && f_drm_frm_req.USUAR==authService.user.user_name" (click)="clear('C')">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '1' && f_drm_frm_req.USUAR==authService.user.user_name" (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '1' && f_drm_frm_req.USUAR==authService.user.user_name" (click)="saveInformation('CF','OK')"
                [disabled]="disabledSave()">
                <mat-icon class="s-18" matTooltip="Enviar a Visto Bueno"><i class="far fa-paper-plane"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '2' && perVB && f_drm_frm_req.VBSPU==authService.user.user_name" (click)="openDialog('V','A')">
                <mat-icon class="s-18" matTooltip="Firmar y Enviar a Autorización"><i class="fas fa-file-signature"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '2' && perVB && f_drm_frm_req.VBSPU==authService.user.user_name" (click)="openDialog('V','R')">
                <mat-icon class="s-18" matTooltip="Regresar para Corrección"><i class="fas fa-undo"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '2' && perVB && f_drm_frm_req.VBSPU==authService.user.user_name" (click)="openDialog('V','C')">
                <mat-icon class="s-18" matTooltip="Cancelar Folio"><i class="fas fa-ban"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '3' && perAU && f_drm_frm_req.AUTOU==authService.user.user_name" (click)="openDialog('A','A')">
                <mat-icon class="s-18" matTooltip="Firmar Autorización"><i class="fas fa-file-signature"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '3' && perAU && f_drm_frm_req.AUTOU==authService.user.user_name" (click)="openDialog('A','R')">
                <mat-icon class="s-18" matTooltip="Regresar para Corrección"><i class="fas fa-undo"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '3' && perAU && f_drm_frm_req.AUTOU==authService.user.user_name" (click)="openDialog('A','C')">
                <mat-icon class="s-18" matTooltip="Cancelar Folio"><i class="fas fa-ban"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drm_frm_req.STTUS == '4' && f_drm_frm_req.USUAR==authService.user.user_name" (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drm_frm_req.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drm_frm_req.FOLIO.length > 0 && f_drm_frm_req.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drm_frm_req.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drm_frm_req.FOLIO.length == 30" style="padding-top: 5px;">
                ...{{f_drm_frm_req.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drm_frm_req.FOLIO.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drm_frm_req.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Materiales</span>
                </div>
                <div class="h1 mt-16">Requisición</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos Generales</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Tipo de Requisición" [(ngModel)]="f_drm_frm_req.TPDRQ" name="TPDRQ"
                                [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let tr of tiposRequisicion" [value]="tr.TPDRQ">
                                    {{tr.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Región" [(ngModel)]="f_drm_frm_req.REGIO" name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50" class="pr-4">
                            <mat-select placeholder="Adscripción" [(ngModel)]="f_drm_frm_req.ADSCR" name="ADSCR"
                                [disabled]="disabled()" (ngModelChange)="titular(f_drm_frm_req.ADSCR)"
                                [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSCR">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="pr-4">
                            <mat-select placeholder="Titular" [(ngModel)]="f_drm_frm_req.TITUL" name="TITUL" disabled>
                                <mat-option *ngFor="let f of funcionarios" [value]="f.CUSER">
                                    {{f.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <mat-select placeholder="Partida Presupuestal" [(ngModel)]="f_drm_frm_req.PRTSP"
                                name="PRTSP" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <ngx-mat-select-search [formControl]="PFilterCtrl" [placeholderLabel]="'Buscar...'"
                                    [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                <mat-option *ngFor="let p of filteredP | async" [value]="p.PRTSP">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Tipo de Contratación" [(ngModel)]="f_drm_frm_req.TPDCT"
                                name="TPDCT" [disabled]="disabled()" [errorStateMatcher]="error" required
                                (ngModelChange)="f_drm_frm_req.CTRPD = f_drm_frm_req.TPDCT == 'N' || f_drm_frm_req.TPDCT == 'SG' ? '':f_drm_frm_req.CTRPD">
                                <mat-option *ngFor="let tc of tiposContratacion" [value]="tc.TPDCT">
                                    {{tc.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4"
                            [ngClass]="{'error':valGnr(f_drm_frm_req.CTRPD, 'CTRPD')}">
                            <mat-select placeholder="Contrato/Pedido" [(ngModel)]="f_drm_frm_req.CTRPD" name="CTRPD"
                                [disabled]="f_drm_frm_req.STTUS != '1' || !f_drm_frm_req.TPDCT || f_drm_frm_req.TPDCT == 'N' || f_drm_frm_req.TPDCT == 'SG'"
                                [errorStateMatcher]="error">
                                <ngx-mat-select-search [formControl]="CPFilterCtrl" [placeholderLabel]="'Buscar...'"
                                    [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                <mat-option *ngFor="let cp of filteredCP | async" [value]="cp.CTRPD">
                                    {{cp.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Descripción del Bien/Servicio</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" [(ngModel)]="f_drm_frm_req.DESCR" name="DESCR"
                                [disabled]="disabled()" [errorStateMatcher]="error" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Justificación</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" [(ngModel)]="f_drm_frm_req.JUSTI" name="JUSTI"
                                [disabled]="disabled()" [errorStateMatcher]="error" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 20%;">
                        <mat-card-header>
                            <mat-card-title>Importe a Solicitar</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" class="pr-4"
                                [ngClass]="{'error':valGnr(f_drm_frm_req.CSEST, 'CSEST')}">
                                <input matInput placeholder="Costo estimado *" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.CSEST" name="CSEST" [disabled]="disabled()"
                                    (ngModelChange)="costo()" [errorStateMatcher]="error">
                            </mat-form-field>
                            <mat-form-field fxFlex="100" class="pr-4">
                                <input matInput placeholder="I.V.A." currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.IIVAA" name="IIVAA" disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" class="pr-4">
                                <input matInput placeholder="Derechos" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.DEREC" name="DEREC" [disabled]="disabled()"
                                    (ngModelChange)="costo()">
                            </mat-form-field>
                            <mat-form-field fxFlex="100" class="pr-4">
                                <input matInput placeholder="Otros Impuestos" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.OTIMP" name="OTIMP" [disabled]="disabled()"
                                    (ngModelChange)="costo()">
                            </mat-form-field>
                            <mat-form-field fxFlex="100" class="pr-4"
                                [ngClass]="{'error':valGnr(f_drm_frm_req.TOTAL, 'TOTAL')}">
                                <input matInput placeholder="Total" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.TOTAL" name="TOTAL" [errorStateMatcher]="error" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <span class="spacer"></span>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 60%; margin-left: 10px;">
                        <mat-card-header>
                            <mat-card-title>Calendario de pagos</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Enero" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.ENERO" name="ENERO" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                            <mat-form-field fxFlex="34" class="pr-4">
                                <input matInput placeholder="Febrero" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.FEBRE" name="FEBRE" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Marzo" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.MARZO" name="MARZO" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Abril" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.ABRIL" name="ABRIL" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                            <mat-form-field fxFlex="34" class="pr-4">
                                <input matInput placeholder="Mayo" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.MAYOO" name="MAYOO" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Junio" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.JUNIO" name="JUNIO" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Julio" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.JULIO" name="JULIO" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                            <mat-form-field fxFlex="34" class="pr-4">
                                <input matInput placeholder="Agosto" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.AGOST" name="AGOST" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Septiembre" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.SEPTI" name="SEPTI" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Octubre" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.OCTUB" name="OCTUB" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                            <mat-form-field fxFlex="34" class="pr-4">
                                <input matInput placeholder="Noviembre" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.NOVIE" name="NOVIE" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Diciembre" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.DICIE" name="DICIE" [disabled]="disabled()"
                                    (ngModelChange)="anual()">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="33" class="pr-4">
                                <input matInput placeholder="Anual" currencyMask
                                    [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                    [(ngModel)]="f_drm_frm_req.ANUAL" name="ANUAL" [errorStateMatcher]="error" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Elaboró</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drm_frm_req.USUAR"
                                    name="USUAR" disabled>
                                    <mat-option *ngFor="let ff of funcionarios" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.ELPUE"
                                    name="ELPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <mat-card fxLayout="column" fxLayoutAlign="start"
                        style="width: 34%; margin-left: 10px; margin-right: 10px;">
                        <mat-card-header>
                            <mat-card-title>Visto Bueno</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drm_frm_req.VBSPU"
                                    name="VBSPU" [disabled]="disabled()"
                                    (ngModelChange)="puesto(f_drm_frm_req.VBSPU, 'VSPUE')" [errorStateMatcher]="error"
                                    required>
                                    <ngx-mat-select-search [formControl]="VBFilterCtrl" [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredVB | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.VSPUE"
                                    name="VSPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Autoriza</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drm_frm_req.AUTOU"
                                    name="AUTOU" [disabled]="disabled()"
                                    (ngModelChange)="puesto(f_drm_frm_req.AUTOU, 'AUPUE')" [errorStateMatcher]="error"
                                    required>
                                    <ngx-mat-select-search [formControl]="AUFilterCtrl" [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredAU | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.AUPUE"
                                    name="AUPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start" *ngIf="f_drm_frm_req.VBSPR">
                    <mat-card-header>
                        <mat-card-title>Visto Bueno</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select [(ngModel)]="f_drm_frm_req.VBSPR" name="VBSPR" disabled>
                            <mat-option value="A">Aceptado</mat-option>
                            <mat-option value="R">Regresado con Observaciones</mat-option>
                            <mat-option value="C">Cancelado</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="f_drm_frm_req.VBSPC">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput placeholder="{{f_drm_frm_req.VBSPR=='A' ? 'Comentario':f_drm_frm_req.VBSPR=='R' ? 'Observaciones':'Motivo'}}" rows="5" [(ngModel)]="f_drm_frm_req.VBSPC" name="VBSPC" disabled></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start" *ngIf="f_drm_frm_req.AUTOR">
                    <mat-card-header>
                        <mat-card-title>Autorización</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select [(ngModel)]="f_drm_frm_req.AUTOR" name="AUTOR" disabled>
                            <mat-option value="A">Aceptado</mat-option>
                            <mat-option value="R">Regresado con Observaciones</mat-option>
                            <mat-option value="C">Cancelado</mat-option>
                        </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="f_drm_frm_req.AUTOC">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput placeholder="{{f_drm_frm_req.AUTOR=='A' ? 'Comentario':f_drm_frm_req.AUTOR=='R' ? 'Observaciones':'Motivo'}}" rows="5" [(ngModel)]="f_drm_frm_req.AUTOC" name="AUTOC" disabled></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>