<form name="groupForm" #groupForm="ngForm" autocomplete="off" class="fixActionRow">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <div class="content p-24">
      <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
        <mat-card class="mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Grupos Jerarquicos" [(ngModel)]="row.GRPJR" name="GRPJR" maxlength="5" (keypress)="spaces($event)" (ngModelChange)="folio()" [disabled] = "data.type != 'A' "[errorStateMatcher]="error" (blur)="valGrupos()" required>
              <mat-error *ngIf="showErrorGRPJR()">
                El Grupo Jerarquico {{row.GRPJR}} ya está registrado
            </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="75" class="pr-4">
              <input matInput placeholder="Descripción" [(ngModel)]="row.DESCR" name="DESCR" maxlength="100" [errorStateMatcher]="error" required>
            </mat-form-field>
            </div>
           </mat-card>
      </div>
    </div>
  </div>
  <span class="spacer-vertical"></span>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button (click)="saveData()" [disabled]="groupForm.form.invalid">Guardar</button>
  </div>
</form>