<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_ric.STTUS != '1'" (click)="clear('N')">
                <mat-icon class="s-18" matTooltip="Nuevo Recibo de Ingresos a Caja"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_ric.STTUS == '1'" (click)="saveInformation('SI','')">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_ric.STTUS == '1'" (click)="clear('C')">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_ric.STTUS == '1'" (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_ric.STTUS == '1'" (click)="saveInformation('CF','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Crear Formato"><i class="fas fa-print"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_ric.STTUS == '2' || f_drf_frm_ric.STTUS == '3'" (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drf_frm_ric.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_ric.FOLIO.length > 0 && f_drf_frm_ric.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drf_frm_ric.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_ric.FOLIO.length == 30" style="padding-top: 5px;">
                ...{{f_drf_frm_ric.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_ric.FOLIO.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drf_frm_ric.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Finanzas</span>
                </div>
                <div class="h1 mt-16">Recibo de Ingresos a Caja</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24"> 
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Ingreso</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Región" [(ngModel)]="f_drf_frm_ric.REGIO" name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <mat-select placeholder="Tipo de Ingreso" [(ngModel)]="f_drf_frm_ric.TIDIN" name="TIDIN" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let ti of tipoIngreso" [value]="ti.TIDIN">
                                    {{ti.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <mat-select placeholder="Ingreso Realizado por" [(ngModel)]="f_drf_frm_ric.INRLZ" name="INRLZ" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let rp of realizadoPor" [value]="rp.INRLZ">
                                    {{rp.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="45" class="pr-4">
                            <mat-select placeholder="Funcionario" [(ngModel)]="f_drf_frm_ric.USUAR" name="USUAR" disabled>
                                <mat-option *ngFor="let f of funcionarios" [value]="f.USUAR">
                                    {{f.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput rows="5" placeholder="Concepto" [(ngModel)]="f_drf_frm_ric.CONCE" name="CONCE" [disabled]="disabled()" [errorStateMatcher]="error" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Pago</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="pr-4" [ngClass]="{'error':valGnr('IMPOR')}">
                            <input matInput placeholder="Monto Ingresado" currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" [(ngModel)]="f_drf_frm_ric.IMPOR" name="IMPOR" [disabled]="disabled()" [errorStateMatcher]="error" required>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Medio de Pago" [(ngModel)]="f_drf_frm_ric.MDPAG" name="MDPAG" (ngModelChange)="p_drf_frm_ric.CMPAG=0;f_drf_frm_ric.CMPAG=''" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let mp of mediosPago" [value]="mp.MDPAG">
                                    {{mp.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4" [ngClass]="{'error':valGnr('NMPAG')}">
                            <input matInput placeholder="Nº de Pago" [(ngModel)]="f_drf_frm_ric.NMPAG" name="NMPAG" maxlength="30" [disabled]="disabled() || f_drf_frm_ric.MDPAG=='' || f_drf_frm_ric.MDPAG=='E'" [errorStateMatcher]="error">
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4" [ngClass]="{'error':valGnr('FCPAG')}">
                            <input matInput [matDatepicker]="fp" placeholder="Fecha de Pago" [(ngModel)]="f_drf_frm_ric.FCPAG" name="FCPAG" disabled [errorStateMatcher]="error" required>
                            <mat-datepicker-toggle matSuffix [for]="fp"></mat-datepicker-toggle>
                            <mat-datepicker #fp [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                        <label *ngIf="f_drf_frm_ric.MDPAG!='E'">Comprobante de Pago:</label>&nbsp;
                        <input id="CMPAG" type="file" (change)="fileChange($event.target.files, 'CMPAG')" hidden>
                        <input name="CMPAG" [(ngModel)]="f_drf_frm_ric.CMPAG" [ngClass]="{'error':valGnr('CMPAG')}" hidden>
                        <circle-progress *ngIf="f_drf_frm_ric.MDPAG!='E'" (click)="openInput('CMPAG')" [ngStyle]="{'cursor': f_drf_frm_ric.STTUS == '1' ? 'pointer':'not-allowed'}"
                        [percent]=p_drf_frm_ric.CMPAG
                        [radius]="17"
                        [outerStrokeWidth]="2"
                        [space] = "-2"
                        [outerStrokeColor]="'#007BFF'"
                        [animation]="true"
                        [animationDuration]="300"
                        [showSubtitle] = "false"
                        [showTitle] = "false"
                        [showUnits] = "false"
                        [showImage] = "true"
                        [imageSrc] = "'assets/images/icons/paperclip.svg'"
                        [imageHeight] = 15
                        [imageWidth] = 15
                        [backgroundPadding] = -2
                        [showInnerStroke] = "false"
                        [startFromZero]="false"
                        [showZeroOuterStroke]="false"
                        [renderOnClick]="false"
                        ></circle-progress>
                        &nbsp;
                        <mat-icon *ngIf="f_drf_frm_ric.CMPAG.indexOf('.pdf') > 0" matTooltip="Ver Documento" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="showFile('CMPAG')"><i style="cursor: pointer; color:#007bff;" class="fas fa-eye"></i></mat-icon>
                        <mat-icon *ngIf="f_drf_frm_ric.CMPAG.indexOf('prohibitus') >= 0" matTooltip="Documento Bloqueado" class="icon-doc" style="font-size: 12px; padding-top: 7px;" (click)="globalService.messageSwal('Archivo Bloqueado','El archivo debe estar desbloqueado para cargarlo en el servidor','error')"><i style="cursor: pointer; color:#dc3545;" class="fas fa-lock"></i></mat-icon>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 50%;" *ngIf="f_drf_frm_ric.INRLZ=='E'">
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="70" class="pr-4" [ngClass]="{'error':valGnr('NMRZS')}">
                                <input matInput placeholder="Empresa" [(ngModel)]="f_drf_frm_ric.NMRZS" name="NMRZS" maxlength="150" [disabled]="disabled()" [errorStateMatcher]="error">
                            </mat-form-field>
                            <mat-form-field fxFlex="30" class="pr-4" [ngClass]="{'error':valGnr('RRFCC')}">
                                <input matInput placeholder="RFC" [(ngModel)]="f_drf_frm_ric.RRFCC" name="RRFCC" maxlength="20" [disabled]="disabled()" [errorStateMatcher]="error">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" class="pr-4" [ngClass]="{'error':valGnr('DOMIC')}">
                                <input matInput placeholder="Domicilio" [(ngModel)]="f_drf_frm_ric.DOMIC" name="DOMIC" maxlength="200" [disabled]="disabled()" [errorStateMatcher]="error"> 
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="50" class="pr-4" [ngClass]="{'error':valGnr('CDPST')}">
                                <input matInput placeholder="C.P." [(ngModel)]="f_drf_frm_ric.CDPST" name="CDPST" maxlength="5" [disabled]="disabled()" [errorStateMatcher]="error">
                            </mat-form-field>
                            <mat-form-field fxFlex="50" class="pr-4" [ngClass]="{'error':valGnr('TELEF')}">
                                <input matInput placeholder="Teléfono" [(ngModel)]="f_drf_frm_ric.TELEF" name="TELEF" maxlength="20" [disabled]="disabled()" [errorStateMatcher]="error">
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <span class="spacer"></span>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 50%; margin-left: 10px;">
                        <mat-card-header>
                            <mat-card-title>Recibe</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" class="pr-4">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drf_frm_ric.RECIB" name="RECIB" (ngModelChange)="puesto(f_drf_frm_ric.RECIB, 'RCPUE')" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                    <ngx-mat-select-search [formControl]="RCFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredRC | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div style="height: 28px;">
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" class="pr-4">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.RCPUE" name="RCPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>


