<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_gac.STTUS != '1'" (click)="clear('N')">
                <mat-icon class="s-18" matTooltip="Nuevo Gasto a Comprobar"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_gac.STTUS == '1'" (click)="saveInformation('SI','')">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_gac.STTUS == '1'" (click)="clear('C')">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_gac.STTUS == '1'" (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_gac.STTUS == '1'" (click)="saveInformation('CF','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Crear Formato"><i class="fas fa-print"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drf_frm_gac.STTUS == '2' || f_drf_frm_gac.STTUS == '3'" (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drf_frm_gac.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_gac.FOLIO.length > 0 && f_drf_frm_gac.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drf_frm_gac.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_gac.FOLIO.length == 30" style="padding-top: 5px;">
                ...{{f_drf_frm_gac.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drf_frm_gac.FOLIO.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drf_frm_gac.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 5px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Finanzas</span>
                </div>
                <div class="h1 mt-16">Gastos a Comprobar</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24"> 
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos Generales</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Región" [(ngModel)]="f_drf_frm_gac.REGIO" name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Contrato/Pedido" [(ngModel)]="f_drf_frm_gac.CTRPD" name="CTRPD" (ngModelChange)="f_drf_frm_gac.REQUI='';getReq(f_drf_frm_gac.CTRPD)" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <ngx-mat-select-search [formControl]="CPFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                <mat-option *ngFor="let cp of filteredCP | async" [value]="cp.CTRPD">
                                    {{cp.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Requisición" [(ngModel)]="f_drf_frm_gac.REQUI" name="REQUI" (ngModelChange)="infoReq(f_drf_frm_gac.REQUI)" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let r of requisiciones" [value]="r.FOLIO">
                                    {{r.FOLIO}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <mat-select placeholder="Partida Presupuestal" [(ngModel)]="f_drf_frm_gac.PRTSP" name="PRTSP" disabled>
                                <mat-option *ngFor="let p of partidas" [value]="p.PRTSP">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="RFC" [(ngModel)]="f_drf_frm_gac.RRFCC" name="RRFCC" maxlength="30" [matAutocomplete]="auto" [disabled]="disabled() || f_drf_frm_gac.CTRPD != 'SG'" [errorStateMatcher]="error" required>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let p of filteredP | async" [value]="p.RRFCC" (click)="nombPro(p.RRFCC)">
                                  {{p.DESCR}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="pr-4">
                            <input matInput placeholder="Razón Social" [(ngModel)]="f_drf_frm_gac.RZSOC" name="RZSOC" maxlength="200" [disabled]="disabled() || f_drf_frm_gac.CTRPD != 'SG'" [errorStateMatcher]="error" required>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4" [ngClass]="{'error':valGnr(f_drf_frm_gac.IMPOR, 'IMPOR')}">
                            <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" placeholder="Importe a Solicitar" [(ngModel)]="f_drf_frm_gac.IMPOR" name="IMPOR" [disabled]="disabled()" [errorStateMatcher]="error">
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4" [ngClass]="{'error':valDis()}">
                            <input matInput currencyMask [options]="{ align: 'right', prefix: '$', precision: 2 }" placeholder="Disponible" [(ngModel)]="disponible" name="disponible" [errorStateMatcher]="error" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput placeholder="Recursos Utilizados Para" rows="5" [(ngModel)]="f_drf_frm_gac.UTILI" name="UTILI" [errorStateMatcher]="error" [disabled]="disabled()" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Elaboró</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Nombre del Funcionario" [(ngModel)]="names.ELNOM" name="ELNOM" disabled>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.ELPUE" name="ELPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>

                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 34%; margin-left: 10px; margin-right: 10px;">
                        <mat-card-header>
                            <mat-card-title>Visto Bueno</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drf_frm_gac.VSTBO" name="VSTBO" (ngModelChange)="puesto(f_drf_frm_gac.VSTBO, 'VBPUE')" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                    <ngx-mat-select-search [formControl]="VBFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredVB | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.VBPUE" name="VBPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>

                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Autoriza</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drf_frm_gac.AUTOR" name="AUTOR" (ngModelChange)="puesto(f_drf_frm_gac.AUTOR, 'AUPUE')" [disabled]="disabled()" [errorStateMatcher]="error" required>
                                    <ngx-mat-select-search [formControl]="AUFilterCtrl" [placeholderLabel]="'Buscar...'" [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredAU | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="names.AUPUE" name="AUPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>


