:host {

    .content {
  
        form {
            width: 100%;
        }
  
        .form-errors-model {
            flex: 1;
  
            code {
                background: none !important;
            }
        }
    }
}

table {
    width: 100%;
}

.mat-form-field-table {
    width: 100%;
}

.mat-column-ACTIONS{
    width: 5% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-ID{
    width: 5% !important;
}

::ng-deep .mat-column-ACTIONS div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-ID div.mat-form-field-infix { width: 5% !important;}

.mat-column-IDIOM{
    width: 24% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-REDAC{
    width: 22% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-CONVE{
    width: 22% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-COMPR{
    width: 22% !important;
    padding-left: 3px;
    padding-right: 3px;
}

::ng-deep .mat-column-IDIOM div.mat-form-field-infix { width: 23% !important;}
::ng-deep .mat-column-REDAC div.mat-form-field-infix { width: 23% !important;}
::ng-deep .mat-column-CONVE div.mat-form-field-infix { width: 23% !important;}
::ng-deep .mat-column-COMPR div.mat-form-field-infix { width: 23% !important;}

.mat-column-PAITL{
    width: 14% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-ENTTL{
    width: 14% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-EMPRE{
    width: 14% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PUEST{
    width: 14% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-CAMEX{
    width: 14% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-FCINI{
    width: 10% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-FCTER{
    width: 10% !important;
    padding-left: 3px;
    padding-right: 3px;
}

::ng-deep .mat-column-PAITL div.mat-form-field-infix { width: 14% !important;}
::ng-deep .mat-column-ENTTL div.mat-form-field-infix { width: 14% !important;}
::ng-deep .mat-column-EMPRE div.mat-form-field-infix { width: 14% !important;}
::ng-deep .mat-column-PUEST div.mat-form-field-infix { width: 14% !important;}
::ng-deep .mat-column-CAMEX div.mat-form-field-infix { width: 14% !important;}
::ng-deep .mat-column-FCINI div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-FCTER div.mat-form-field-infix { width: 10% !important;}

.mat-column-PAIDC{
    width: 11% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-ENTDC{
    width: 11% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-MATER{
    width: 12% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-AREGN{
    width: 12% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-INSTI{
    width: 12% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-NVLES{
    width: 12% !important;
    padding-left: 3px;
    padding-right: 3px;
}

::ng-deep .mat-column-PAIDC div.mat-form-field-infix { width: 11% !important;}
::ng-deep .mat-column-ENTDC div.mat-form-field-infix { width: 11% !important;}
::ng-deep .mat-column-MATER div.mat-form-field-infix { width: 12% !important;}
::ng-deep .mat-column-AREGN div.mat-form-field-infix { width: 12% !important;}
::ng-deep .mat-column-INSTI div.mat-form-field-infix { width: 12% !important;}
::ng-deep .mat-column-NVLES div.mat-form-field-infix { width: 12% !important;}

.mat-column-NAMEE{
    width: 16% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PRIAP{
    width: 16% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-SEGAP{
    width: 16% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-FCNAC{
    width: 12% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-EDADS{
    width: 5% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-CCURP{
    width: 16% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PDFCR{
    width: 7% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PDFAN{
    width: 7% !important;
    padding-left: 3px;
}

::ng-deep .mat-column-NAMEE div.mat-form-field-infix { width: 16% !important;}
::ng-deep .mat-column-PRIAP div.mat-form-field-infix { width: 16% !important;}
::ng-deep .mat-column-SEGAP div.mat-form-field-infix { width: 16% !important;}
::ng-deep .mat-column-FCNAC div.mat-form-field-infix { width: 12% !important;}
::ng-deep .mat-column-EDADS div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-CCURP div.mat-form-field-infix { width: 16% !important;}
::ng-deep .mat-column-PDFCR div.mat-form-field-infix { width: 7% !important;}
::ng-deep .mat-column-PDFAN div.mat-form-field-infix { width: 7% !important;}

.mat-column-TPDOC{
    width: 65% !important;
}

.mat-column-REQUI{
    width: 10% !important;
}

.mat-column-ENTRE{
    width: 10% !important;
}

.mat-column-PPDFF{
    width: 10% !important;
}

::ng-deep .mat-column-TPDOC div.mat-form-field-infix { width: 65% !important;}
::ng-deep .mat-column-REQUI div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-ENTRE div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-PPDFF div.mat-form-field-infix { width: 10% !important;}