<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog('R','R')">
                <mat-icon class="s-18" matTooltip="Recuperar Información"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="perVB" (click)="openDialog('R','V')">
                <mat-icon matBadge="{{countVB}}" matBadgeColor="accent" [matBadgeHidden]="countVB==0"
                    matBadgeSize="small" class="s-18" matTooltip="Vistos Buenos Pendientes"><i
                        class="fas fa-user-check"></i>
                </mat-icon>
            </button>
            <button mat-icon-button *ngIf="perAU" (click)="openDialog('R','A')">
                <mat-icon matBadge="{{countAU}}" matBadgeColor="accent" [matBadgeHidden]="countAU==0"
                    matBadgeSize="small" class="s-18" matTooltip="Autorizaciones Pendientes"><i
                        class="fas fa-clipboard-check"></i>
                </mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS != '1' || f_drh_frm_bpr.USUAR!=authService.user.user_name"
                (click)="clear('N')">
                <mat-icon class="s-18" matTooltip="Nueva Baja"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '1' && f_drh_frm_bpr.USUAR==authService.user.user_name"
                (click)="saveInformation('SI','')">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '1' && f_drh_frm_bpr.USUAR==authService.user.user_name"
                (click)="clear('C')">
                <mat-icon class="s-18" matTooltip="Borrar Información"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <!--<button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '1' && f_drh_frm_bpr.USUAR==authService.user.user_name"
                (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>-->
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '1' && f_drh_frm_bpr.USUAR==authService.user.user_name"
                (click)="saveInformation('CF','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Enviar a Visto Bueno"><i class="far fa-paper-plane"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '2' && perVB && f_drh_frm_bpr.VBHPU==authService.user.user_name"
                (click)="openDialog('V','A')">
                <mat-icon class="s-18" matTooltip="Firmar y Enviar a Autorización"><i class="fas fa-file-signature"></i>
                </mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '2' && perVB && f_drh_frm_bpr.VBHPU==authService.user.user_name"
                (click)="openDialog('V','R')">
                <mat-icon class="s-18" matTooltip="Regresar para Corrección"><i class="fas fa-undo"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '2' && perVB && f_drh_frm_bpr.VBHPU==authService.user.user_name"
                (click)="openDialog('V','C')">
                <mat-icon class="s-18" matTooltip="Cancelar Folio"><i class="fas fa-ban"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '3' && perAU && f_drh_frm_bpr.AUTOU==authService.user.user_name"
                (click)="openDialog('A','A')">
                <mat-icon class="s-18" matTooltip="Firmar Autorización"><i class="fas fa-file-signature"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '3' && perAU && f_drh_frm_bpr.AUTOU==authService.user.user_name"
                (click)="openDialog('A','R')">
                <mat-icon class="s-18" matTooltip="Regresar para Corrección"><i class="fas fa-undo"></i></mat-icon>
            </button>
            <button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '3' && perAU && f_drh_frm_bpr.AUTOU==authService.user.user_name"
                (click)="openDialog('A','C')">
                <mat-icon class="s-18" matTooltip="Cancelar Folio"><i class="fas fa-ban"></i></mat-icon>
            </button>
            <!--<button mat-icon-button
                *ngIf="f_drh_frm_bpr.STTUS == '4' && f_drh_frm_bpr.USUAR==authService.user.user_name"
                (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Formato"><i class="fas fa-file-download"></i></mat-icon>
            </button>-->
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drh_frm_bpr.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_bpr.FOLIO.length > 0 && f_drh_frm_bpr.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drh_frm_bpr.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_bpr.FOLIO.length == 30" style="padding-top: 5px;">
                ...{{f_drh_frm_bpr.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_bpr.FOLIO.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drh_frm_bpr.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Humanos</span>
                </div>
                <div class="h1 mt-16">Baja de Personal</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos Generales</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="50" class="pr-4">
                            <mat-select placeholder="Funcionario" [(ngModel)]="f_drh_frm_bpr.NUEMP"
                                (ngModelChange)="getInfo()" name="NUEMP" [disabled]="disabled()"
                                [errorStateMatcher]="error" required>
                                <ngx-mat-select-search [formControl]="BJFilterCtrl" [placeholderLabel]="'Buscar...'"
                                    [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                <mat-option *ngFor="let ff of filteredBJ | async" [value]="ff.NUEMP">
                                    {{ff.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Coordinación Territorial" [(ngModel)]="f_drh_frm_bpr.REGIO"
                                name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Clave de Puesto" [(ngModel)]="f_drh_frm_bpr.PUEST" name="PUEST"
                                disabled>
                                <mat-option *ngFor="let p of puestos" [value]="p.PUEST">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Puesto" [(ngModel)]="f_drh_frm_bpr.DESCR" name="DESCR"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Adscripción" [(ngModel)]="f_drh_frm_bpr.ADSCR" name="ADSCR"
                                disabled>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSCR">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="25" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_bpr.SINDI" name="SINDI" disabled>
                                Sindicalizado</mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Nombre del Puesto" [(ngModel)]="f_drh_frm_bpr.DESC2"
                                name="DESC2" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Nivel" [(ngModel)]="f_drh_frm_bpr.NIVEL" name="NIVEL" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Tipo de Personal/Plaza" [(ngModel)]="f_drh_frm_bpr.TIPPL"
                                name="TIPPL" disabled>
                                <mat-option *ngFor="let t of tipoPlaza" [value]="t.TIPPL">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Carácter del Nombramiento" [(ngModel)]="f_drh_frm_bpr.NOMBR"
                                name="NOMBR" disabled>
                                <mat-option *ngFor="let n of tipoNombramiento" [value]="n.NOMBR">
                                    {{n.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Sueldo Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_bpr.SUMEN" name="SUMEN" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4">
                            <input matInput placeholder="Compensación Garantizada" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_bpr.COMGA" name="COMGA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Sueldo Integrado Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_bpr.SMEIN" name="SMEIN" disabled>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Detalle de Baja</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="15" class="pr-4"
                            [ngClass]="{'error':valGnr(f_drh_frm_bpr.FCBAJ, 'FCBAJ')}">
                            <input matInput [matDatepicker]="fcbaj" placeholder="Fecha de Baja"
                                [(ngModel)]="f_drh_frm_bpr.FCBAJ" name="FCBAJ" [errorStateMatcher]="error" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcbaj"></mat-datepicker-toggle>
                            <mat-datepicker #fcbaj [disabled]="disabled()"></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="35" class="pr-4">
                            <mat-select placeholder="Tipo de Baja" [(ngModel)]="f_drh_frm_bpr.CAUBA" name="CAUBA"
                                [errorStateMatcher]="error" [disabled]="disabled()" required>
                                <mat-option *ngFor="let tb of tipoBaja" [value]="tb.CAUBA">
                                    {{tb.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput placeholder="Justifiación" [(ngModel)]="f_drh_frm_bpr.JUSTI" name="JUSTI"
                                rows="5" [errorStateMatcher]="error" [disabled]="disabled()" required></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput placeholder="Observaciones" [(ngModel)]="f_drh_frm_bpr.OBSER"
                                name="OBSER" rows="5" [disabled]="disabled()"></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Elaboró</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_bpr.USUAR"
                                    name="USUAR" disabled>
                                    <mat-option *ngFor="let ff of funcionarios" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.ELPUE"
                                    name="ELPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <mat-card fxLayout="column" fxLayoutAlign="start"
                        style="width: 34%; margin-left: 10px; margin-right: 10px;">
                        <mat-card-header>
                            <mat-card-title>Visto Bueno</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_bpr.VBHPU"
                                    name="VBSPU" [disabled]="disabled()"
                                    (ngModelChange)="puesto(f_drh_frm_bpr.VBHPU, 'VBPUE')" [errorStateMatcher]="error"
                                    required>
                                    <ngx-mat-select-search [formControl]="VBFilterCtrl" [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredVB | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.VBPUE"
                                    name="VSPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Autoriza</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_bpr.AUTOU"
                                    name="AUTOU" [disabled]="disabled()"
                                    (ngModelChange)="puesto(f_drh_frm_bpr.AUTOU, 'AUPUE')" [errorStateMatcher]="error"
                                    required>
                                    <ngx-mat-select-search [formControl]="AUFilterCtrl" [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredAU | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.AUPUE"
                                    name="AUPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start"
                    *ngIf="f_drh_frm_bpr.VBHPR">
                    <mat-card-header>
                        <mat-card-title>Visto Bueno</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select [(ngModel)]="f_drh_frm_bpr.VBHPR" name="VBHPR" disabled>
                                <mat-option value="A">Aceptado</mat-option>
                                <mat-option value="R">Regresado con Observaciones</mat-option>
                                <mat-option value="C">Cancelado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="f_drh_frm_bpr.VBHPC">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput
                                placeholder="{{f_drh_frm_bpr.VBHPR=='A' ? 'Comentario':f_drh_frm_bpr.VBHPR=='R' ? 'Observaciones':'Motivo'}}"
                                rows="5" [(ngModel)]="f_drh_frm_bpr.VBHPC" name="VBHPC" disabled></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start"
                    *ngIf="f_drh_frm_bpr.AUTOR">
                    <mat-card-header>
                        <mat-card-title>Autorización</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select [(ngModel)]="f_drh_frm_bpr.AUTOR" name="AUTOR" disabled>
                                <mat-option value="A">Aceptado</mat-option>
                                <mat-option value="R">Regresado con Observaciones</mat-option>
                                <mat-option value="C">Cancelado</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" *ngIf="f_drh_frm_bpr.AUTOC">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput
                                placeholder="{{f_drh_frm_bpr.AUTOR=='A' ? 'Comentario':f_drh_frm_bpr.AUTOR=='R' ? 'Observaciones':'Motivo'}}"
                                rows="5" [(ngModel)]="f_drh_frm_bpr.AUTOC" name="AUTOC" disabled></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>