<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="exportXLS()">
                <mat-icon class="s-18" matTooltip="Exportar a Archivo de Excel"><i class="far fa-file-excel"></i></mat-icon>
            </button>
            <button mat-icon-button (click)="clear()">
                <mat-icon class="s-18" matTooltip="Restaurar Reporte"><i class="fas fa-eraser"></i></mat-icon>
            </button>
            <button mat-icon-button (click)="openVersion()">
                <mat-icon class="s-18" matTooltip="Abrir Versión"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button (click)="saveVersion()">
                <mat-icon class="s-18" matTooltip="Guardar Versión"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="version.VERSI" (click)="saveAsVersion()">
                <mat-icon class="s-18" matTooltip="Guardar Como"><i class="far fa-clone"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="version.VERSI" (click)="deleteVersion()">
                <mat-icon class="s-18" matTooltip="Borrar Versión"><i class="far fa-trash-alt"></i></mat-icon>
            </button>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Reportes</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">{{modul}}</span>
                </div>
                <div class="h1 mt-16">{{repor}} <label *ngIf="version.DESCR">({{version.DESCR}})</label></div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card *ngIf="param" class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Parametros de Procesamiento</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <ng-container *ngFor="let prm of params" >
                            <mat-form-field fxFlex="20" class="pr-4" *ngIf="prm.option==1">
                                <input matInput placeholder="{{prm.description}}" [(ngModel)]="prm.value" name="{{prm.column}}">
                            </mat-form-field>
                            <mat-form-field fxFlex="20" class="pr-4" *ngIf="prm.option==2">
                                <mat-select *ngIf="prm.option==2" placeholder="{{prm.description}}" [(ngModel)]="prm.value" name="{{prm.column}}">
                                    <mat-option *ngFor="let l of prm.list" [value]="l">
                                        {{l}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="20" class="pr-4" *ngIf="prm.option==3">
                                <input matInput  [matDatepicker]="ff" placeholder="{{prm.description}}" [(ngModel)]="prm.value" name="{{prm.column}}" disabled>
                                <mat-datepicker-toggle  matSuffix [for]="ff"></mat-datepicker-toggle>
                                <mat-datepicker  #ff [disabled]="false"></mat-datepicker>
                            </mat-form-field>
                        </ng-container>

                        <button mat-icon-button (click)="process()">
                            <mat-icon class="s-18" matTooltip="Procesar Reporte"><i class="fas fa-sync"></i></mat-icon>
                        </button>
                    </div>
                </mat-card>
            
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <ag-grid-angular 
                        style="width: 100%; height: 550px;" 
                        class="ag-theme-material"
                        [rowData]="rowData" 
                        [columnDefs]="columnDefs"
                        [floatingFilter]="true"
                        [groupIncludeTotalFooter]="true"
                        [suppressAggFuncInHeader]="true"
                        [groupUseEntireRow]="false"
                        (gridReady)="onGridReady($event)">
                        </ag-grid-angular>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>