// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

// Import ag-grid
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";

.toolbar {
    position: fixed;
    z-index: 2;
    height: 50px !important;
}

.spacer {
    flex: 1 1 auto;
}

.spacer-vertical {
    flex-grow: 1;
}

.fixActionRow {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.error.mat-form-field-appearance-legacy .mat-input-element {
    color: red !important;
}

.error.mat-form-field-appearance-legacy .mat-input-element:disabled {
    color: red !important;
}

.ag-header-group-cell-label, .ag-header-cell-label {
    justify-content: center;
}