<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">

        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Reportes</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Humanos</span>
                </div>
                <div class="h1 mt-16">Estatus Plazas</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-tab-group>
                    <mat-tab label="Presupuestales">
                        <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <div style="width: 100%;">
                                    <div [ngStyle]="{'height': '526px', 'overflow-y':'auto'}">
                                        <ag-grid-angular [ngStyle]="{ 'width' : '100%', 'height': '100%' }" 
                                            class="ag-theme-material" [gridOptions]="tpOptions" [rowData]="rowDataP"
                                            [columnDefs]="columnDefsP" [floatingFilter]="true" (gridReady)="onGridReadyP($event)">
                                        </ag-grid-angular>
                                    </div>
                                    <ag-grid-angular [ngStyle]="{ 'width' : '100%', 'height': '50px' }"
                                        class="ag-theme-material" [gridOptions]="bpOptions" [rowData]="footerDataP"
                                        headerHeight="0" [rowStyle]="{ fontWeight: 'bold' }" [columnDefs]="columnDefsP">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Eventuales">
                        <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <div style="width: 100%;">
                                    <div [ngStyle]="{'height': '526px', 'overflow-y':'auto'}">
                                        <ag-grid-angular [ngStyle]="{ 'width' : '100%', 'height': '100%' }" 
                                            class="ag-theme-material" [gridOptions]="teOptions" [rowData]="rowDataE"
                                            [columnDefs]="columnDefsE" [floatingFilter]="true" (gridReady)="onGridReadyE($event)">
                                        </ag-grid-angular>
                                    </div>
                                    <ag-grid-angular [ngStyle]="{ 'width' : '100%', 'height': '50px' }"
                                        class="ag-theme-material" [gridOptions]="beOptions" [rowData]="footerDataE"
                                        headerHeight="0" [rowStyle]="{ fontWeight: 'bold' }" [columnDefs]="columnDefsE">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Honorarios">
                        <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <div style="width: 100%;">
                                    <div [ngStyle]="{'height': '526px', 'overflow-y':'auto'}">
                                        <ag-grid-angular [ngStyle]="{ 'width' : '100%', 'height': '100%' }" 
                                            class="ag-theme-material" [gridOptions]="thOptions" [rowData]="rowDataH"
                                            [columnDefs]="columnDefsH" [floatingFilter]="true" (gridReady)="onGridReadyH($event)">
                                        </ag-grid-angular>
                                    </div>
                                    <ag-grid-angular [ngStyle]="{ 'width' : '100%', 'height': '50px' }"
                                        class="ag-theme-material" [gridOptions]="bhOptions" [rowData]="footerDataH"
                                        headerHeight="0" [rowStyle]="{ fontWeight: 'bold' }" [columnDefs]="columnDefsH">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Resumen">
                        <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                <div style="width: 100%;">
                                    <div [ngStyle]="{'height': '526px', 'overflow-y':'auto'}">
                                        <ag-grid-angular [ngStyle]="{ 'width' : '100%', 'height': '100%' }" 
                                            class="ag-theme-material" [gridOptions]="trOptions" [rowData]="rowDataR"
                                            [columnDefs]="columnDefsR" [floatingFilter]="true" (gridReady)="onGridReadyR($event)">
                                        </ag-grid-angular>
                                    </div>
                                    <ag-grid-angular [ngStyle]="{ 'width' : '100%', 'height': '50px' }"
                                        class="ag-theme-material" [gridOptions]="brOptions" [rowData]="footerDataR"
                                        headerHeight="0" [rowStyle]="{ fontWeight: 'bold' }" [columnDefs]="columnDefsR">
                                    </ag-grid-angular>
                                </div>
                            </div>
                        </mat-card>
                    </mat-tab>
                  </mat-tab-group>
            </div>
        </div>
    </form>
</div>