<form name="groupForm" #groupForm="ngForm" autocomplete="off">
  <!--<h1 mat-dialog-title>{{data.title}}</h1>-->
  <div mat-dialog-content>
    <div class="content p-24">
      <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
        <mat-card class="mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Clave de la Región" [(ngModel)]="row.REGIO" name="REGIO" maxlength="5" disabled>
            </mat-form-field>
            <mat-form-field fxFlex="75" class="pr-4">
              <input matInput placeholder="Descripción" [(ngModel)]="row.DESCR" name="DESCR" maxlength="50" required>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Abreviación" [(ngModel)]="row.ABREV" name="ABREV" maxlength="10" [errorStateMatcher]="error" required>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Ciudad" [(ngModel)]="row.CIUDA" name="CIUDA" maxlength="100" disabled>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Estado" [(ngModel)]="row.ESTAD" name="ESTAD" maxlength="200" disabled>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Pais" [(ngModel)]="row.PAISS" name="PAISS" maxlength="200" disabled>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" class="pr-4">
              <input matInput placeholder="Ubicación" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="infoAddress($event)" [(ngModel)]="row.PLACE" name="PLACE" required>
          </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Latitud" [(ngModel)]="row.LATIT" name="LATIT" disabled>
            </mat-form-field>
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Longitud" [(ngModel)]="row.LONGI" name="LONGI" disabled>
            </mat-form-field>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button (click)="saveData()" [disabled]="groupForm.form.invalid">Guardar</button>
  </div>
</form>