<form name="groupForm" #groupForm="ngForm" autocomplete="off" class="fixActionRow">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <div class="content p-24">
      <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
        <mat-card class="mat-elevation-z4 p-24" fxLayout="column" fxLayoutAlign="start">
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="25" class="pr-4">
              <input matInput placeholder="Adscripción" [(ngModel)]="row.ADSCR" name="ADSCR" maxlength="15" (keypress)="spaces($event)" (ngModelChange)="folio()" [disabled] = "data.type != 'A'" [errorStateMatcher]="error" (blur)="valAdscripcion()" required>
              <mat-error *ngIf="showErrorADSCR()">
                La clave de la adscripcion {{row.ADSCR}} ya está registrada
            </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="75" class="pr-4">
              <input matInput placeholder="Descripción" [(ngModel)]="row.DESCR" name="DESCR" maxlength="150" [errorStateMatcher]="error" required>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
            <mat-form-field fxFlex="100" class="pr-4">
              <mat-select placeholder="Titular del Area" [(ngModel)]="row.TITUL" name="TITUL" [errorStateMatcher]="error" required>
                <ngx-mat-select-search [formControl]="ENFilterCtrl" [placeholderLabel]="'Buscar...'"
                  [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                <mat-option *ngFor="let ff of filteredEN | async" [value]="ff.CUSER">
                  {{ff.DESCR}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
  <span class="spacer-vertical"></span>
  <div mat-dialog-actions>
    <button mat-button (click)="close()">Cerrar</button>
    <button mat-button (click)="saveData()" [disabled]="groupForm.form.invalid" >Guadar</button>

  </div>
</form>