<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog()">
                <mat-icon class="s-18" matTooltip="Agregar"><i class="fas fa-plus"></i></mat-icon>
            </button> 
        </mat-toolbar>
         <!-- HEADER -->
         <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Catalogos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Humanos</span>
                </div>
                <div class="h1 mt-16">Adscripciones</div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <ag-grid-angular 
                        style="width: 100%; height: 550px;" 
                        class="ag-theme-material"
                        [animateRows]="true"
                        [rowData]="rowData" 
                        [pagination]="true"
                        [paginationPageSize]="20"
                        [columnDefs]="columnDefs"
                        [floatingFilter]="true"
                        (gridReady)="onGridReady($event)">
                        </ag-grid-angular> 
                    </div>
                </mat-card>
            </div>
        </div>
   </form>
</div>
