<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="openDialog('R','R')">
                <mat-icon class="s-18" matTooltip="Recuperar Contrato"><i class="far fa-folder-open"></i></mat-icon>
            </button>
            <button mat-icon-button (click)="openDialog('R','CP')">
                <mat-icon matBadge="{{countCP}}" matBadgeColor="accent" [matBadgeHidden]="countCP==0"
                    matBadgeSize="small" class="s-18" matTooltip="Contratos Pendientes"><i
                        class="fas fa-file-contract"></i>
                </mat-icon>
            </button>
            <button mat-icon-button (click)="openDialog('R','RP')">
                <mat-icon matBadge="{{countRP}}" matBadgeColor="accent" [matBadgeHidden]="countRP==0"
                    matBadgeSize="small" class="s-18" matTooltip="Renovaciones Pendientes"><i
                        class="fas fa-file-signature"></i>
                </mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drh_frm_ctr.STTUS == '4'" (click)="clear()">
                <mat-icon class="s-18" matTooltip="Nuevo Contrato"><i class="far fa-file"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drh_frm_ctr.STTUS == '1' && f_drh_frm_ctr.TIPCT"
                (click)="saveInformation('SI','')">
                <mat-icon class="s-18" matTooltip="Guardar Información"><i class="far fa-save"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drh_frm_ctr.STTUS == '1' && f_drh_frm_ctr.TIPCT"
                (click)="saveInformation('SI','VP')">
                <mat-icon class="s-18" matTooltip="Vista Preliminar"><i class="fas fa-eye"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drh_frm_ctr.STTUS == '1' && f_drh_frm_ctr.TIPCT"
                (click)="saveInformation('CL','OK')" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Crear Contrato"><i class="far fa-paper-plane"></i></mat-icon>
            </button>
            <button mat-icon-button *ngIf="f_drh_frm_ctr.STTUS == '4' && f_drh_frm_ctr.TIPCT"
                (click)="downloadFile('OK')">
                <mat-icon class="s-18" matTooltip="Descargar Contrato"><i class="fas fa-file-download"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px;">
                {{f_drh_frm_ctr.EJERC}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_ctr.FOLIO.length > 0 && f_drh_frm_ctr.FOLIO.length < 30" style="padding-top: 5px;">
                {{f_drh_frm_ctr.FOLIO}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_ctr.FOLIO.length == 30" style="padding-top: 5px;">
                ...{{f_drh_frm_ctr.FOLIO.substring(20, 30)}}&nbsp;|&nbsp;
            </span>
            <span *ngIf="f_drh_frm_ctr.FOLIO.length == 0" style="padding-top: 5px;">
                SIN FOLIO&nbsp;|&nbsp;
            </span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_drh_frm_ctr.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Humanos</span>
                </div>
                <div class="h1 mt-16">Contrataciones</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos Generales</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Tipo de Contratación" [(ngModel)]="f_drh_frm_ctr.TIPCT"
                                name="TIPCT" disabled>
                                <mat-option value="N">Nueva</mat-option>
                                <mat-option value="R">Renovación</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <mat-select placeholder="Coordinación Territorial" [(ngModel)]="f_drh_frm_ctr.REGIO"
                                name="REGIO" disabled>
                                <mat-option *ngFor="let r of regiones" [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput [matDatepicker]="fcing" placeholder="Fecha de Ingreso"
                                [(ngModel)]="f_drh_frm_ctr.FCING" name="FCING" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcing"></mat-datepicker-toggle>
                            <mat-datepicker #fcing disabled></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput [matDatepicker]="fcini" placeholder="Ingreso a Gobierno"
                                [(ngModel)]="f_drh_frm_ctr.FCINI" name="FCINI" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcini"></mat-datepicker-toggle>
                            <mat-datepicker #fcini disabled></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput placeholder="Nº de Empleado" [(ngModel)]="f_drh_frm_ctr.NUEMP" name="NUEMP"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Correo Electrónico Institucional"
                                [(ngModel)]="f_drh_frm_ctr.EMAIL" name="EMAIL" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Nombre(s)" [(ngModel)]="f_drh_frm_ctr.NAMEE" name="NAMEE"
                                maxlength="50" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Primer Apellido" [(ngModel)]="f_drh_frm_ctr.PRIAP" name="PRIAP"
                                maxlength="50" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4">
                            <input matInput placeholder="Segundo Apellido" [(ngModel)]="f_drh_frm_ctr.SEGAP"
                                name="SEGAP" maxlength="50" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <mat-select placeholder="Título" [(ngModel)]="f_drh_frm_ctr.TITUL" name="TITUL" disabled>
                                <mat-option *ngFor="let t of titulos" [value]="t.TITUL">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="15" class="pr-4">
                            <input matInput [matDatepicker]="fcnac" placeholder="Fecha de Nacimiento"
                                [(ngModel)]="f_drh_frm_ctr.FCNAC" name="FCNAC" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcnac"></mat-datepicker-toggle>
                            <mat-datepicker #fcnac disabled></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4" style="text-align: center;">
                            <input matInput placeholder="Edad" [(ngModel)]="aditional.EDADS" name="EDADS" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="RFC" [(ngModel)]="f_drh_frm_ctr.RRFCC" name="RRFCC"
                                maxlength="30" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="CURP" [(ngModel)]="f_drh_frm_ctr.CCURP" name="CCURP"
                                maxlength="30" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Nº Seguridad Social" [(ngModel)]="f_drh_frm_ctr.NMNSS"
                                name="NMNSS" maxlength="30" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="País de Nacimiento" [(ngModel)]="f_drh_frm_ctr.PAINA" 
                                name="PAINA" disabled>
                                <mat-option *ngFor="let p of paises" [value]="p.PAISS">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Entidad de Nacimiento" [(ngModel)]="f_drh_frm_ctr.ENTNA"
                                name="ENTNA" disabled>
                                <mat-option *ngFor="let r of regiones | filter: { PAISS : f_drh_frm_ctr.PAINA}"
                                    [value]="r.REGIO">
                                    {{r.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <mat-select placeholder="Estado Civil" [(ngModel)]="f_drh_frm_ctr.ESCIV" name="ESCIV"
                                (ngModelChange)="f_drh_frm_ctr.ESCON=''" disabled>
                                <mat-option *ngFor="let e of estadoCivil" [value]="e.ESCIV">
                                    {{e.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Estado Conyugal" [(ngModel)]="f_drh_frm_ctr.ESCON" name="ESCON"
                                disabled>
                                <mat-option value="Sociedad Conyugal">Sociedad Conyugal</mat-option>
                                <mat-option value="Bienes Separados">Bienes Separados</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <mat-select placeholder="Género" [(ngModel)]="f_drh_frm_ctr.GENER" name="GENER" disabled>
                                <mat-option *ngFor="let g of genero" [value]="g.GENER">
                                    {{g.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Nº INE" [(ngModel)]="f_drh_frm_ctr.FOINE" name="FOINE"
                                maxlength="30" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="15" class="pr-4">
                            <mat-select placeholder="Escolaridad" [(ngModel)]="f_drh_frm_ctr.ESCOL" name="ESCOL"
                                disabled>
                                <mat-option *ngFor="let e of escolaridad" [value]="e.ESCOL">
                                    {{e.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Especificar" [(ngModel)]="f_drh_frm_ctr.CARRE" name="CARRE"
                                maxlength="150" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="15" class="pr-4">
                            <mat-select placeholder="Situación Académica" [(ngModel)]="f_drh_frm_ctr.SITAC" name="SITAC"
                                disabled>
                                <mat-option *ngFor="let sa of sit_aca" [value]="sa.SITAC">
                                    {{sa.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Institución Educativa" [(ngModel)]="f_drh_frm_ctr.INSED"
                                name="INSED" maxlength="30" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="País de la Institución Educativa"
                                [(ngModel)]="f_drh_frm_ctr.PINED" name="PINED" maxlength="30" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Calle" [(ngModel)]="f_drh_frm_ctr.CALLE" name="CALLE"
                                maxlength="100" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <input matInput placeholder="Nº Exterior" [(ngModel)]="f_drh_frm_ctr.NMEXT" name="NMEXT"
                                maxlength="20" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <input matInput placeholder="Nº Interior" [(ngModel)]="f_drh_frm_ctr.NMINT" name="NMINT"
                                maxlength="20" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Colonia/Localidad" [(ngModel)]="f_drh_frm_ctr.COLOC"
                                name="COLOC" maxlength="50" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="45" class="pr-4">
                            <input matInput placeholder="Municipio/Delegación" [(ngModel)]="f_drh_frm_ctr.MUDEL"
                                name="MUDEL" maxlength="30" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="45" class="pr-4">
                            <input matInput placeholder="Entidad Federativa" [(ngModel)]="f_drh_frm_ctr.ENTFE"
                                name="ENTFE" maxlength="50" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="10" class="pr-4">
                            <input matInput placeholder="C.P." [(ngModel)]="f_drh_frm_ctr.CODPO" name="CODPO"
                                maxlength="5" disabled>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Puesto</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Carácter del Nombramiento" [(ngModel)]="f_drh_frm_ctr.NOMBR"
                                name="NOMBR" disabled>
                                <mat-option *ngFor="let n of tipoNombramiento" [value]="n.NOMBR">
                                    {{n.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Adscripción" [(ngModel)]="f_drh_frm_ctr.ADSCR" name="ADSCR"
                                disabled>
                                <mat-option *ngFor="let a of adscripciones" [value]="a.ADSCR">
                                    {{a.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Clave de Puesto" [(ngModel)]="f_drh_frm_ctr.PUEST" name="PUEST"
                                disabled>
                                <mat-option *ngFor="let p of puestos" [value]="p.PUEST">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="15" fxLayoutAlign="center center" *ngIf="f_drh_frm_ctr.NOMBR != 'H'">
                            <mat-checkbox [(ngModel)]="f_drh_frm_ctr.PLAEX" name="PLAEX" disabled>Plaza existente
                            </mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="30" class="pr-4"
                            *ngIf="f_drh_frm_ctr.NOMBR != 'H' && f_drh_frm_ctr.PLAEX">
                            <mat-select placeholder="Sustituye a" [(ngModel)]="f_drh_frm_ctr.SUSTI" name="SUSTI"
                                disabled>
                                <mat-option *ngFor="let ff of funcionariosAll" [value]="ff.NUEMP">
                                    {{ff.NOMBR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="30" class="pr-4" *ngIf="f_drh_frm_ctr.NOMBR != 'H'">
                            <mat-select placeholder="Puesto" [(ngModel)]="f_drh_frm_ctr.PLAZA" name="PLAZA" disabled>
                                <mat-option *ngFor="let p of plazas | filter:{PUEST:f_drh_frm_ctr.PUEST}"
                                    [value]="p.PLAZA">
                                    {{p.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="55" class="pr-4" *ngIf="f_drh_frm_ctr.NOMBR == 'H'">
                            <input matInput placeholder="Puesto" [(ngModel)]="f_drh_frm_ctr.DESCR" name="DESCR"
                                maxlength="100" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="40" class="pr-4">
                            <input matInput placeholder="Nombre del Puesto" [(ngModel)]="f_drh_frm_ctr.DESC2"
                                name="DESC2" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput placeholder="Nivel" [(ngModel)]="f_drh_frm_ctr.NIVEL" name="NIVEL" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <mat-select placeholder="Tipo de Personal/Plaza" [(ngModel)]="f_drh_frm_ctr.TIPPL"
                                name="TIPPL" disabled>
                                <mat-option *ngFor="let t of tipoPlaza" [value]="t.TIPPL">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="20" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_ctr.SINDI" name="SINDI" disabled>Sindicalizado
                            </mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Jornada Laboral" [(ngModel)]="f_drh_frm_ctr.JORLB" name="JORLB"
                                maxlength="50" disabled>
                        </mat-form-field>
                        <div fxFlex="15" fxLayoutAlign="center center">
                            <mat-checkbox [(ngModel)]="f_drh_frm_ctr.HORAR" name="HORAR" disabled>Horario Completo
                            </mat-checkbox>
                        </div>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;">
                            <input matInput type="time" placeholder="De" [(ngModel)]="f_drh_frm_ctr.HORDA" name="HORDA"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;">
                            <input matInput type="time" placeholder="A" [(ngModel)]="f_drh_frm_ctr.HORAA" name="HORAA"
                                disabled>
                        </mat-form-field>
                        <label *ngIf="f_drh_frm_ctr.HORAR">Y</label>
                        <mat-form-field fxFlex="7" class="pl-4 pr-4" style="text-align: center;"
                            *ngIf="f_drh_frm_ctr.HORAR">
                            <input matInput type="time" placeholder="De" [(ngModel)]="f_drh_frm_ctr.HORDP" name="HORDP"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="7" class="pr-4" style="text-align: center;" *ngIf="f_drh_frm_ctr.HORAR">
                            <input matInput type="time" placeholder="A" [(ngModel)]="f_drh_frm_ctr.HORAP" name="HORAP"
                                disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="80" class="pr-4">
                            <input matInput placeholder="Observaciones" [(ngModel)]="f_drh_frm_ctr.OBSER" name="OBSER"
                                maxlength="100" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="20" class="pr-4">
                            <input matInput [matDatepicker]="fcter" placeholder="Fecha de Término"
                                [(ngModel)]="f_drh_frm_ctr.FCTER" name="FCTER" disabled>
                            <mat-datepicker-toggle matSuffix [for]="fcter"></mat-datepicker-toggle>
                            <mat-datepicker #fcter disabled></mat-datepicker>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Percepciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
                        *ngIf="f_drh_frm_ctr.NOMBR != 'H'">
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Sueldo Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_ctr.SUMEN" name="SUMEN" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4">
                            <input matInput placeholder="Compensación Garantizada" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_ctr.COMGA" name="COMGA" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4">
                            <input matInput placeholder="Sueldo Integrado Mensual" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_ctr.SMEIN" name="SMEIN" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto"
                        *ngIf="f_drh_frm_ctr.NOMBR == 'H'">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Duración de la Contratación (Meses)" currencyMask
                                [options]="{ align: 'center', prefix: '', precision: 0 }"
                                [(ngModel)]="f_drh_frm_ctr.DRCTR" name="DRCTR" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Número de Pagos" currencyMask
                                [options]="{ align: 'center', prefix: '', precision: 0 }"
                                [(ngModel)]="f_drh_frm_ctr.NUMPG" name="NUMPG" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Monto Parcial" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_ctr.MONPR" name="MONPR" disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <input matInput placeholder="Monto Total" currencyMask
                                [options]="{ align: 'right', prefix: '$', precision: 2 }"
                                [(ngModel)]="f_drh_frm_ctr.MONTT" name="MONTT" disabled>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="33" class="pr-4">
                            <mat-select placeholder="Tipo de Pago" [(ngModel)]="f_drh_frm_ctr.TIPAG" name="TIPAG"
                                disabled>
                                <mat-option *ngFor="let t of tipoPago" [value]="t.TIPAG">
                                    {{t.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="34" class="pr-4">
                            <input matInput placeholder="Días de Pago" [(ngModel)]="f_drh_frm_ctr.DIAPA" name="DIAPA"
                                disabled>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" class="pr-4">
                            <mat-select placeholder="Medio de Pago" [(ngModel)]="f_drh_frm_ctr.MDPAG" name="MDPAG"
                                disabled>
                                <mat-option *ngFor="let f of mediosPago" [value]="f.MDPAG">
                                    {{f.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card>

                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Funciones</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput [(ngModel)]="f_drh_frm_ctr.FUNCI" name="FUNCI" rows="5"
                                disabled></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>

                <div fxLayout="row" fxLayoutAlign="start center" class="mt-20">
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Elaboró</mat-card-title>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_ctr.USUAR"
                                    name="USUAR" disabled>
                                    <mat-option *ngFor="let ff of funcionarios" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.ELPUE"
                                    name="ELPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                    <span class="spacer"></span>
                    <mat-card fxLayout="column" fxLayoutAlign="start" style="width: 33%;">
                        <mat-card-header>
                            <mat-card-title>Autoriza</mat-card-title>
                            <span class="spacer"></span>
                            <mat-checkbox [(ngModel)]="f_drh_frm_ctr.FIRAU" name="FIRAU" labelPosition="before"
                                (ngModelChange)="getAut()" [disabled]="disabled()">Firma por Ausencia</mat-checkbox>
                        </mat-card-header>
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <mat-select placeholder="Nombre del Funcionario" [(ngModel)]="f_drh_frm_ctr.AUTOU"
                                    name="AUTOU" [disabled]="disabled() || !f_drh_frm_ctr.FIRAU"
                                    (ngModelChange)="puesto(f_drh_frm_ctr.AUTOU, 'AUPUE')" [errorStateMatcher]="error"
                                    required>
                                    <ngx-mat-select-search [formControl]="AUFilterCtrl" [placeholderLabel]="'Buscar...'"
                                        [noEntriesFoundLabel]="'Sin Resultados'"></ngx-mat-select-search>
                                    <mat-option *ngFor="let ff of filteredAU | async" [value]="ff.CUSER">
                                        {{ff.DESCR}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="100" style="text-align: center;">
                                <input matInput placeholder="Puesto del Funcionario" [(ngModel)]="aditional.AUPUE"
                                    name="AUPUE" disabled>
                            </mat-form-field>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </form>
</div>