:host {

    .content {
  
        form {
            width: 100%;
        }
  
        .form-errors-model {
            flex: 1;
  
            code {
                background: none !important;
            }
        }
    }
}

table {
    width: 100%;
}

.mat-form-field-table {
    width: 100%;
}

.mat-column-ID{
    width: 5% !important;
}

.mat-column-TPDOC{
    width: 65% !important;
}

.mat-column-REQUI{
    width: 10% !important;
}

.mat-column-ENTRE{
    width: 10% !important;
}

.mat-column-PPDFF{
    width: 10% !important;
}

::ng-deep .mat-column-ID div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-TPDOC div.mat-form-field-infix { width: 65% !important;}
::ng-deep .mat-column-REQUI div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-ENTRE div.mat-form-field-infix { width: 10% !important;}
::ng-deep .mat-column-PPDFF div.mat-form-field-infix { width: 10% !important;}

.mat-column-NAMEE{
    width: 16% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PRIAP{
    width: 16% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-SEGAP{
    width: 16% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-FCNAC{
    width: 12% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-EDADS{
    width: 5% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-CCURP{
    width: 16% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PDFCR{
    width: 7% !important;
    padding-left: 3px;
    padding-right: 3px;
}

.mat-column-PDFAN{
    width: 7% !important;
    padding-left: 3px;
}

::ng-deep .mat-column-NAMEE div.mat-form-field-infix { width: 16% !important;}
::ng-deep .mat-column-PRIAP div.mat-form-field-infix { width: 16% !important;}
::ng-deep .mat-column-SEGAP div.mat-form-field-infix { width: 16% !important;}
::ng-deep .mat-column-FCNAC div.mat-form-field-infix { width: 12% !important;}
::ng-deep .mat-column-EDADS div.mat-form-field-infix { width: 5% !important;}
::ng-deep .mat-column-CCURP div.mat-form-field-infix { width: 16% !important;}
::ng-deep .mat-column-PDFCR div.mat-form-field-infix { width: 7% !important;}
::ng-deep .mat-column-PDFAN div.mat-form-field-infix { width: 7% !important;}