<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
    <form name="groupForm" #groupForm="ngForm" autocomplete="off">
        <mat-toolbar class="toolbar accent">
            <button mat-icon-button (click)="saveInformation()" [disabled]="groupForm.form.invalid">
                <mat-icon class="s-18" matTooltip="Cambiar Estatus"><i class="fas fa-sync"></i></mat-icon>
            </button>
            <span class="spacer"></span>
            <span style="padding-top: 5px; padding-right: 80px;">
                {{f_adm_frm_efl.FECHA | date: 'dd-MM-yyyy'}}
            </span>
        </mat-toolbar>
        <!-- HEADER -->
        <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center" style="margin-top: 2px;">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-18">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Formatos</span>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">Administración</span>
                </div>
                <div class="h1 mt-16">Estatus Folios</div>
            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24"> 
            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">    
                <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
                    <mat-card-header>
                        <mat-card-title>Datos del Folio</mat-card-title>
                    </mat-card-header>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Formato" [(ngModel)]="f_adm_frm_efl.FORMA" name="FORMA" (ngModelChange)="f_adm_frm_efl.FOLIO='';getFolios(f_adm_frm_efl.FORMA)" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let f of formatos" [value]="f.FORMA">
                                    {{f.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="pr-4">
                            <mat-select placeholder="Folio" [(ngModel)]="f_adm_frm_efl.FOLIO" name="FOLIO" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let f of folios" [value]="f.FOLIO">
                                    {{f.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="25" class="pr-4">
                            <mat-select placeholder="Estatus a Cambiar" [(ngModel)]="f_adm_frm_efl.STSCH" name="STSCH" [errorStateMatcher]="error" required>
                                <mat-option *ngFor="let e of estatus" [value]="e.STTUS">
                                    {{e.DESCR}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field fxFlex="100" class="pr-4">
                            <textarea matInput placeholder="Motivo" rows="5" [(ngModel)]="f_adm_frm_efl.MOTIV" name="MOTIV" [errorStateMatcher]="error" required></textarea>
                        </mat-form-field>
                    </div>
                </mat-card>
            </div>
        </div>
    </form>
</div>


