<form name="groupForm" #groupForm="ngForm" autocomplete="off">
    <h1 mat-dialog-title>{{title}}</h1>
    <div mat-dialog-content>
        <mat-card class="mat-elevation-z4 p-24 mt-20" fxLayout="column" fxLayoutAlign="start">
            <mat-card-header>
                <mat-card-title>{{label}}</mat-card-title>
            </mat-card-header>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field fxFlex="100" class="pr-4">
                    <textarea matInput rows="5" [(ngModel)]="commit" name="commit"></textarea>
                </mat-form-field>
            </div>
        </mat-card>
        <br>
    </div>
    <div mat-dialog-actions class="mt-20">
    <button mat-button (click)="onNoClick()">Cerrar</button>
    <button mat-button (click)="sendData()" [disabled]="response!='A' && !commit">Enviar</button>
    </div>
</form>