:host {

    .content {
  
        form {
            width: 100%;
        }
  
        .form-errors-model {
            flex: 1;
  
            code {
                background: none !important;
            }
        }
    }
}

.mat-form-field {
    width: 100%;
}